[2022-05-18 14:21] kiryldz commented on #1367
@akirmse is terrain used in style?

[2022-05-18 14:28] akirmse commented on #1367
Yes:

[code]

[2022-05-18 14:29] kiryldz commented on #1367
That should be fixed in v10.5.0, see:
- Disable terrain rendering if GPU does not support Vertex Texture Fetch. https://github.com/mapbox/mapbox-maps-android/pull/1315

[2022-05-18 14:38] akirmse commented on #1367
OK, thanks.

Is there a way to detect whether terrain rendering is enabled?  I have a button labeled "3D", and if it doesn't actually draw 3D, that's not great.

[2022-05-18 14:52] kiryldz commented on #1367
There's no dedicated API for it but I did come up with following code:
[code]
That could be called right after `MapView` is created and in general in any moment of time I assume.

[2022-05-18 14:59] akirmse commented on #1367
I would need a way to detect this in advance.  i.e. if terrain rendering isn't supported, I wouldn't show a 3D button or in fact use Mapbox at all (I use Google for all other modes).  Some kind of static method encapsulating the GL call would be best.  I suppose I could make the GL call myself but that's a Mapbox detail that's best kept hidden.

[2022-05-18 15:01] kiryldz commented on #1367
The code I've provided in https://github.com/mapbox/mapbox-maps-android/issues/1367#issuecomment-1130119099 is exactly what you need, it will execute on render thread in correct moment of time. So from what I understand on app startup you do not yet show button 3D, perform this check and based on result show / not show 3D button.

[2022-05-18 15:07] akirmse commented on #1367
Sorry, I should have been clearer.  I need a way to detect whether Mapbox supports terrain rendering *without* creating a Mapbox MapView.  If terrain rendering is not supported, then I will never create a Mapbox MapView; I will use only a Google MapView.

[2022-05-18 15:19] kiryldz commented on #1367
I've prepared PR with the static method on `MapView`, see https://github.com/mapbox/mapbox-maps-android/pull/1368

[2022-05-18 18:54] kiryldz commented on #1367
Static method `MapView.isTerrainRenderingSupported()` will be introduced in `v10.6.0-beta.1` happening tomorrow. I'll close this issue but feel free to re-open if something unexpected will pop-up.

[2022-05-18 18:54] #1367 closed

[2022-05-19 07:29] SamuelBrucksch commented on #186
Thanks @tobrun , guess this makes finding problems in listener code much easier now.

[2022-05-19 11:18] yunikkk opened #1371 "MapboxMap.loadStyle fix."
Followup for the #1362.

Order of StyleDataType.SPRITES and StyleDataType.SOURCES is not defined, moreover both events are optional and does not arrive if style does not contain corresponding data.
To make sure every style extension component is loaded we need to check if SPRITES/SOURCES events arrived in the onStyleLoaded callback and load if not.

[2022-05-19 19:02] jonschmidt opened #1376 "Setting puckBearingEnabled to false does not reset bearing"
## Environment

- Android OS version: 12
- Devices affected: all
- Maps SDK Version: 10.5

## Observed behavior and steps to reproduce

We have a few different map modes that we transition between. One shows the bearing on the user location puck. One does not (should always be orientated north). When we transition from the one that shows bearing to the one that doesn't, the bearing is still applie

[2022-05-23 20:31] ZiZasaurus commented on #1356
@PhanVanLinh thank you for your patience while I investigated. This is known limitation of a circle layer. If a large radius is used and the tile with a circle coordinate (center) goes outside of the viewport, the circle will not be rendered.

[2022-05-24 09:09] karthisamyxplora opened #1380 "Detecting malware after including Mapbox SDK"
## Environment

- Android OS version: Android 12
- Devices affected: Samsung A53S, S22,
- Maps SDK Version: com.mapbox.maps:android:10.4.4

## Observed behavior and steps to reproduce
Go to phone settings under Battery and Device care enable Device protection and install the application it detects as Malware

![PXL_20220519_104537114 MP](https://user-images.githubusercontent.com/74605412/169994955

[2022-05-24 10:41] gilgil28 opened #1381 "Mapbox lifecycle with Jetpack Compose"
I am using Jetpack Compose for my app and it seems like recomposing causes many issues.
For example, changing a layer's property works fine and then after recomposing, it does not work anymore.

Also I would like to know what is the best practices working with Mapbox and ViewModels. Should we hold the MapboxMap and MapView instances?

[2022-05-24 10:52] ank27 commented on #1380
@karthisamyxplora Could you provide some more information on
- Are you using any other library / sdks?
- Is there any code / permissions that the app is using which could detect it as a malware?
- How are you installing the apk (if you are just downloading and installing from file manager, it could be that the samsung protection checks if the apk is signed or not. If the apk is not signed that cou

[2022-05-24 11:58] karthisamyxplora commented on #1380
Hi,

I have tested in signed apk with mapbox sdk only and able to detect
malware, when I remove Mapbox SDK and install the app it's
successfully installed.

Even though I have a couple of devices which are not detecting Malware,
it's only specific to the device. I have tested using Samsung test Lab
devices Samsung A53S when I install on that I am able to get that. Today I
got a report that Samsung

[2022-05-24 12:04] karthisamyxplora commented on #1380
Hi,

May I know if there is any permission used in the Mapbox SDK, if so could
you please share with me those permissions?

On Tue, May 24, 2022 at 11:52 AM Ankur Khandelwal ***@***.***>
wrote:

[2022-05-25 06:51] Lokarzz opened #1392 "Default Marker elevation arrangement"
Current problem is marker are overlapping each other. How do we prioritize a marker to be on top for all of them. I'm using PointAnnotation.

Tried the geometry but no luck on this code
prioritizePointAnnotation.point = Point.fromLngLat(long, lat, 10)
defaultPointAnnotation.point = Point.fromLngLat(long, lat, -10)

![image](https://user-images.githubusercontent.com/15919408/170198557-134c2132-384a

[2022-05-25 14:27] ank27 commented on #1380
@karthisamyxplora Yeah, we have tested this with a couple of in-house devices too, it doesn't give any warning of malware. So this could be specific to certain devices only. Also, since the same library version are used across different devices to test and in some of them, it's not detecting malware, I am thinking this could be false positive detection from the security software.

Below are the pe

[2022-05-25 15:58] karthisamyxplora commented on #1380
Hi,

<uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />

This permission is the main cause of detecting the malware, please review
this permission usage and let me know can you remove this or not?

Is it possible to remove this and include Mapbox lib and then I can test it?

On Wed, May 25, 2022 at 3:27 PM Ankur Khandelwal ***@***.***>
wrote:

[2022-05-25 16:34] karthisamyxplora commented on #1380
For your information please use Samsung test Lab for this test you can find
Samsung Galaxy A53 device where I got malware.

On Wed, May 25, 2022 at 3:27 PM Ankur Khandelwal ***@***.***>
wrote:

[2022-05-26 14:33] p-agostinho opened #1391 "Puck location bearing not accurate and constantly changing if device is idle"
## Environment

- Android OS version: 11
- Devices affected: Samsung Galaxy A52
- Maps SDK Version: v10.5.0 (but also on the previous v10 versions)

## Observed behavior and steps to reproduce

The location puck does not rotate when the device moves. Additionally, if the device is idle then the bearing frequently changes randomly and the location puck rotates to a direction that does not reflect t

[2022-05-28 03:15] tir38 commented on #1295
That did it. Not sure why that matters, but now the compass is always showing.

[2022-05-30 12:12] SamuelBrucksch commented on #1253
Hi,

we still see errors like these. Newest ones on a Samsung Galaxy S22+ (SM-S906B):
[code]

Unfortunately not much more to share...

[2022-05-31 13:11] #1295 closed

[2022-05-31 14:32] #400 closed

[2022-06-01 09:30] SamuelBrucksch opened #1397 "libEGL error"
Hi,

we have an android app that uses mapbox for android auto. Sometimes we see an error like this:
[code]
This error repeats every few miliseconds and spams the log a lot so we can not really see the error that ocurred.

I'm not really sure if it is related to mapbox, but i haven't seen it before, when we still used osmdroid. However it could as well be related to Android Auto, but the behaviour

[2022-06-01 11:14] SamuelBrucksch commented on #1253
Maybe related to https://github.com/mapbox/mapbox-maps-android/issues/1397 in my case

[2022-06-01 13:21] tobrun commented on #1253
@SamuelBrucksch this one is great, it seems the device is unable to create the GL setup, we need to handle such cases more gracefully by 1) not crashing with a native crash 2) exposing a callback for developers to recover from this. One additional question Samuel, is do you have more context why the system wasn't able to create the GL setup? was it resource constrained? (eg. out of memory) or some

[2022-06-02 07:55] g4rb4g3 opened #1401 "Map not updating on certain Xiaomi devices using Android Auto"
## Environment

- Android OS version: 12 SKQ1.211006.001
- Devices affected: tested with Xiaomi Poco F3, probably all Xiaomi devices running Android 12
- Maps SDK Version: for our app we currently are using 10.3.0-rc.1, also tested with the one provided in your Android Auto sample app.

## Observed behavior and steps to reproduce

As soon as the main app is not running in foreground on the phones

[2022-06-02 07:55] g4rb4g3 opened #1413 "Map not updating on certain Xiaomi devices using Android Auto"

[2022-06-02 14:29] yunikkk commented on #1391
@Agosto44 the issue you describe usually happens when sensors (compass, magnetometer etc) are not calibrated. Could you check whether other compass apps will show correct bearing?
Also - is the issue reproduced with the test app https://github.com/mapbox/mapbox-maps-android/blob/main/app/src/main/java/com/mapbox/maps/testapp/examples/LocationComponentActivity.kt ?
HEADING works fine in our tests a

[2022-06-02 18:44] kmadsen opened #1409 "Migrate animations to `androidx.core.animation`"
I'm looking for what could cause an issue with `AnimatorSet`. And am noticing that the `android.animation.AnimatorSet` is not really being supported anymore.

The issues are being addressed in the `androidx` support libraries https://issuetracker.google.com/issues/64912778#comment4

Instead of `android.animation.AndroidSet` maps should use [androidx.core.animation.AnimatorSet](https://developer.an

[2022-06-02 19:34] kmadsen opened #1410 "AnimatorSet crash "Sorting went bad, the start event should always be at index 0""
### tl;dr

There is a crash and we don't know if it is a navigation issue, [an android animation framework issue](https://issuetracker.google.com/issues/234749373), or a maps issue. This issue is looking for potential causes or solutions from maps

### The crash

navigation: [v2.5.0-rc.1](https://github.com/mapbox/mapbox-navigation-android/releases/tag/v2.5.0-rc.1)
maps: [android-v10.5.0](https://

[2022-06-02 23:11] kmadsen commented on #1410
cc: @pengdev there is this bug fix recently that effects the codepath https://github.com/mapbox/mapbox-maps-android/pull/1345

Would that bug be part of 10.5.0? Or is there something else you may see as a potential cause?

[2022-06-03 09:10] yunikkk commented on #1410
@kmadsen seems the error in the animator is thrown a https://android.googlesource.com/platform/frameworks/base/+/master/core/java/android/animation/AnimatorSet.java#1637

[2022-06-03 09:22] pengdev commented on #1410
I don't think the issue is related to #1345, as the animator owner change only affects how we handle gestures in the viewport plugin.

Have you reproduced the issue with other versions of maps SDK? Or are there reproducible code snippets?

[2022-06-03 11:58] kiryldz opened #1411 "Providing animator options for custom LocationConsumer does not work properly"
## Environment

- Android OS version: any
- Devices affected: any
- Maps SDK Version: supposed to be any starting from v10.0.0

## Observed behavior and steps to reproduce

When using custom location provider with location component and emit locations in consumer with custom animation like:
[code]
this will at least not work as expected for setting interpolator (`LinearInterpolator()` will be alwa

[2022-06-03 17:38] kmadsen commented on #1410
Yeah, but this code is quite old and used in a lot of places. Even if it is an issue in the android framework, it will take a bit of time to get a result. But that thread is here https://issuetracker.google.com/issues/234749373. It is also odd that this crash is new for Mapbox.

This is part of the issue, I'm not sure how to reproduce it. I've been trying to reproduce it with directly with Animato

[2022-06-04 14:12] SamuelBrucksch commented on #1253
So @tobrun about the better error handling... Is that something that could be added soon and helps in finding where the error occurs?

[2022-06-06 12:55] karthisamyxplora commented on #1380
Same issue we had in our application before merging mapbox SDK, we removed
this permission.

On Mon, May 30, 2022 at 9:33 AM Ankur Khandelwal ***@***.***>
wrote:

[2022-06-06 13:54] ZiZasaurus commented on #1392
@Lokarzz, you can use the [symbolSortKey](https://docs.mapbox.com/android/maps/api/10.5.0/mapbox-maps-android/com.mapbox.maps.plugin.annotation.generated/-point-annotation/#%5Bcom.mapbox.maps.plugin.annotation.generated%2FPointAnnotation%2FsymbolSortKey%2F%23%2FPointingToDeclaration%2F%5D%2FProperties%2F1136490705) property, which will allow you to sort your features in ascending order.

[2022-06-06 13:54] #1392 closed

[2022-06-06 18:50] kmadsen commented on #385
We resolved this by a specific combination [of lifecycle callback events](https://github.com/mapbox/mapbox-maps-android/issues/385#issuecomment-853491606).

Let's follow up in https://github.com/mapbox/mapbox-maps-android/issues/1397.

[2022-06-06 18:53] kmadsen commented on #1397
@SamuelBrucksch Are you using https://github.com/mapbox/mapbox-maps-android/releases/tag/extension-androidauto-v0.1.0? The framework is responsible for ensuring these issues do not happen.

If you are attempting to build your own wrapper around the maps sdk, it will need to be maintained separately - so please try to use the `extension-androidauto`

To help with the issue though, this is the code

[2022-06-06 20:53] SamuelBrucksch commented on #1397
I can reproduce this behaviour, when our app is running on AA and currently active on the screen. If I then install a new version of our app, while the current app is still running, I see this libEGL error.

I also tried it with the sample app, and i can reproduce the same behaviour. Just install it, start it and while it is active on the screen install it again and you should see lot's of these l

[2022-06-06 21:07] kmadsen commented on #1397
Ok I can reproduce with this as well.

[code]

`onSurfaceDestroyed` is never called when there is a reload with the `desktop_head_unit`. That is not actually a production use case, unless the android auto system creates this same behavior when attach/detaching the head unit. In that case, it's an issue to send to https://issuetracker.google.com/u/0/issues?q=componentid:460472

[2022-06-06 21:09] kmadsen commented on #1397
[code]

I don't think this is needed. The surface destroy call is called before a car session is destroyed. It's not fixing the libEGL error, but it is not making it worse either.

[2022-06-06 21:17] SamuelBrucksch commented on #1397
Ok so I will add some logging for that user if onSurfaceDestroyed and onSurfaceCreated is called correctly, and if not, I will open an issue at Google and if both are correctly called I will report back here.

[2022-06-06 21:18] kmadsen commented on #1397
https://issuetracker.google.com/u/0/issues/235121269

@SamuelBrucksch I just made an issue for this :)

[2022-06-06 21:20] SamuelBrucksch commented on #1397
Great, thanks. Will add my findings to that issue then if there are any...

[2022-06-06 21:27] SamuelBrucksch commented on #1397
Is this possible from our app too? Then I could add that as well and check if it works for that user. This shouldn't work for the re-installation though, as it is a seperate instance.... Do you have a code snipped i could try?

[2022-06-06 21:33] kmadsen commented on #1397
I just tried it and it doesn't help. the android auto car library would need to tell us to destroy the surface. The surface continues to exist in the desktop head unit, and any downstream application will have no way to clean up an old surface

https://github.com/mapbox/mapbox-maps-android/issues/1397#issuecomment-1147944018

if that happens on production, that would definitely be a memory leak th

[2022-06-06 21:34] SamuelBrucksch commented on #1397
Ok then I'll verify that with more logging.

[2022-06-06 22:20] kmadsen commented on #1410
Closing as we cannot find a way to reproduce. Will re-open if we find something

[2022-06-06 22:20] #1410 closed

[2022-06-06 23:39] kmadsen commented on #1413
Fixed an issue in the examples repo, there is still a issue that may be resolved in the Maps repository specific to Xiaomi devices

[2022-06-07 07:06] ank27 commented on #1380
hey @karthisamyxplora. we figured this permission is not in use anymore. we have a pr merged to remove the permission and it will be available in future release.
In meantime, you can remove this permission from manifest using
`<uses-permission android:name="android.permission. CHANGE_NETWORK_STATE" tools:node="remove" />`, this will solve the issue at your end.

Let me know if you have more issues

[2022-06-07 09:03] g4rb4g3 commented on #1413
@kmadsen Thank you for pointing me to the other sample app I like it a lot since it doesn't work at all on the Xiaomi device. 😉 It doesn't have any activity so if you just launch the app on Android Auto it is stuck on the position it got while starting up.
I added some logging and you can see that the new position is incoming. I also added 2 listeners one for renderFrameStarted and another one for

[2022-06-07 09:59] karthisamyxplora commented on #1380
That’s really cool, I will update and test get back to you if any issues

Thanks and Regards,
Karthisamy

[2022-06-07 11:44] yunikkk commented on #1253
@SamuelBrucksch #1363 has been released with [10.6.0-beta.1](https://github.com/mapbox/mapbox-maps-android/blob/main/CHANGELOG.md#1060-beta1-may-19-2022) thus will be available as part of the stable 10.6.0 (expected next week). At the same time seems it won't help with the EGL issue you're facing with AA, since 1363 only rethrows exception happening in the MapEvents callbacks

[2022-06-07 12:05] SamuelBrucksch commented on #1397
Got the logs and it actually looks like "onSurfaceAvailable" is called two times right after another:
[code]

Then a possible solution might be to check if a mapsurface already exists and if so destroy it and create a new one... However that is actually just a workaround rather than a solution. Will let google know about this log.

I'll check if the workaround works with the user and let you know.

[2022-06-08 09:27] SamuelBrucksch commented on #1397
So on a first quick test the user said it worked, did not get another report yet for a longer test where he did more switching between the app.

My workaround looks like this:
[code]

My proposal here would also be to offer a function, to update the surface of the mapbox, if that is possible. Because then we could initialize the MapSurface only once, and just update the Surface every time onSurfac

[2022-06-09 03:18] tir38 commented on #320
Any chance this is happening again? I'm hitting the same issue:

1. clone repo
2. create a new secrete token w/ `DOWNLOADS:READ` scope
3. copy token into `build.gradle.kts`

[code]

[code]

[2022-06-09 08:21] cleemansen opened #1418 "Lossing map state in combination with Jetpack Navigation UI / Fragment"
## Environment

- Android OS version: API 32
- Devices affected: Android Emulator
- Maps SDK Version: 10.5.0

## Observed behavior and steps to reproduce

Loosing state as I am navigating back to start destination. See demo:

1. Starting on first tab of bottom navigation bar: _Home_
2. Moving camera away from _New York_
3. Navigating to second Tab (and scrolling down the list-view)
4. Navigating b

[2022-06-09 12:57] yunikkk commented on #320
@tir38 seem to be working fine for me, is the token copied correctly?

[2022-06-10 13:06] tilenpinta opened #1422 "Jetpack compose map not showing - map foreground-color is how background themes.xml is set"
## Environment

- Android OS version: 11.0.7.1.HD65BA
- Devices affected: any
- Maps SDK Version: 10.6.0-rc.1

When i open a screen of mapbox i couldn't see map.

My code:
[code]

Later on I discovered the issue were in `themes.xml`

- if I set it like that
[code]
<img src="https://user-images.githubusercontent.com/61638005/173068777-6cd07335-4fd1-4daa-b45a-90e9c3e93726.jpg" width="180" height="40

[2022-06-10 18:34] 2flea commented on #1413
Is there any update on this issue? Any fix in sight? I use same phone as @g4rb4g3 - Poco F3 with Android 12 (latest update). I want to use ABRP with AndroidAuto but I need to have the app open and active on my phone all the time. Cheers,
Andreas

[2022-06-13 07:56] cleemansen commented on #1418
As a first workaround I cache the camera-position on my own and retain it during map recreation

[code]

[2022-06-13 15:13] daniel-j-h commented on #1381
Related Jetpack Compose ticket
- https://github.com/mapbox/mapbox-maps-android/issues/129

[2022-06-13 21:50] Lineaire opened #1424 "Installation failed fresh clone repo"
Hello

I want to test the examples present in the repository but when I clone the project, I have this error.
Build file '/Users/sofiangherabi/Downloads/mapbox-maps-android-main/mapbox-lint/build.gradle' line: 3

Plugin [id: 'kotlin'] was not found in any of the following sources:

* Try:
Run with --info or --debug option to get more log output. Run with --scan to get full insights.

* Exception i

[2022-06-14 09:19] kiryldz commented on #1424
hey @Lineaire, can you make sure you did follow the steps from https://github.com/mapbox/mapbox-maps-android/blob/main/DEVELOPING.md#configuring-the-project?

[2022-06-14 13:48] nijs9 opened #1426 "Map status not preserved in Jetpack Compose"
## Environment

- Android OS version: 32
- Devices affected: all
- Maps SDK Version: 10.5.0

## Observed behavior and steps to reproduce

Initiate a default map in Jetpack Compose, move the map to a custom location. Then, open another composable. When returning to map, map is reset (map is back to starting location). Lifecycle methods do not work in Jetpack compose. In Android SDK version 9 there

[2022-06-14 15:25] ZiZasaurus commented on #1426
Closing this ticket as a duplicate of https://github.com/mapbox/mapbox-maps-android/issues/1381

[2022-06-14 19:28] OmarShehe commented on #1376
Hi, @jonschmidt.
Did you manage to find a workaround for this issue?

[2022-06-14 19:34] OmarShehe commented on #1376
It will be a good idea for the location puck to get reset after disabling it. Or to have an option to update the bearing manually.

[2022-06-15 10:04] VincentJoshuaET opened #1428 "Some layers disapppear after downloading style pack and tile region"
## Environment

- Android OS version: 12
- Devices affected: Samsung Galaxy S20+, Redmi Note 11 Pro, Galaxy Tab A8
- Maps SDK Version: 10.5.0

## Observed behavior and steps to reproduce

1. Before downloading the style layer and tile region, some layers are visible
2. My app downloads the style pack and tile region after a few seconds.
3. After completion, restart the app
4. Some layers disappear

[2022-06-15 12:49] nijs9 opened #1429 "PointAnnotationManager is causing Mapbox SDK memory leak"
## Environment

- Android OS version: 11
- Devices affected: all
- Maps SDK Version: 10.5.0

## Observed behavior and steps to reproduce

When adding a PointAnnotation on the map as shown below, Mapbox is giving this alert:

E/Mapbox: [maps-android\Mbgl-Style]: Mapbox SDK memory leak detected! Style object (accessing setStyleLayerProperty) should not be stored and used after MapView is destroyed o

[2022-06-16 16:18] nmssalman opened #1438 "Auto Zoom cameraForCoordinates is not working"
## Environment

- Android OS version: 8-12
- Devices affected: All
- Maps SDK Version:
     implementation 'com.mapbox.maps:android:10.3.0'
    implementation "com.mapbox.navigation:android:2.3.0"

With the following Locations. first location is zooming properly. but the 2nd location (which is very close locations). these are not working to auto zoom.

1st Location: {"type":"Point","coordinates":[

[2022-06-17 17:34] ZiZasaurus commented on #1428
@VincentJoshuaET, thank you for sharing. Do you have a sample project that reproduces this behavior? Additionally, can you please verify this behavior is still occurring on v10.6.0?

[2022-06-20 01:21] z954134 opened #1442 "Can support offline mbtiles load?"
Can support offline mbtiles load?

[2022-06-20 19:12] Lineaire commented on #1424
How to define JAVA_HOME and ANDROID_HOME for windows ?

make build doesn't work for windows, command not found

[2022-06-21 11:19] SamuelBrucksch commented on #1413
@kmadsen could you please give an update on the process of this? We are getting more and more reports from Xiaomi users. As this seems to be reproducible easily, could you please rank this a but higher so we can release an update for the affected users before the summer holidays start?

[2022-06-21 16:00] IolandaRosa opened #1445 "Legacy Offline Manager set maxZoom per source"
## New Feature

Allow download of high resolution tiles using legacy offline manager setting different zoom levels per source.

## Why
For offline map downloads, I use a style with multiple sources.

The mapbox.satellite is one of the sources:

- For this source, I only want to download tiles until maxzoom 18 (because this zoom level already allows for high-resolution tiles, and as the zoom level

[2022-06-21 19:30] tomaszrybakiewicz opened #1446 "PuckAnimator animates with `duration=0` when called with an empty `options` lambda."
**tl;dr;**
Android SDK (31) `ValueAnimator.clone()` method doesn't copy `duration` value, causing `PuckAnimator.userConfiguredAnimator.duration = 0`.

## Environment

- Android OS version: `Android 12 (API 31)`
- Devices affected: `Pixel 6`
- Maps SDK Version: `10.6.0`

## Observed behavior and steps to reproduce
We detected this issue when working on a patch for a [Location puck's velocity](https

[2022-06-21 22:27] ZiZasaurus commented on #1438
@nmssalman what about the autozoom is not working? Do you have a recording or screenshot of how you expect it to look? When I run both sets of coordinates through, `setCamera` appears to behave as expected.

[2022-06-22 07:47] tobrun commented on #1391
@Agosto44

Are you using Google Play Services Location in your project? By default the Maps SDK doesn't package this dependency but when it's available in your classpath, we will make us of it:

[code]

Google play services location will produce better results vs raw location updates from the GPS sensor.
It combines multiple streams of input data to calculate the best result.

[2022-06-22 08:41] tobrun commented on #1391
If above doesn't match what you need, you can also roll your own location provider and optimize the data yourself.
There is some sample code around it in [this example](https://github.com/mapbox/mapbox-maps-android/blob/main/app/src/main/java/com/mapbox/maps/testapp/examples/LocationComponentAnimationActivity.kt).

[2022-06-22 14:17] tomaszrybakiewicz commented on #1446
@kiryldz, Thanks. This issue is not a blocker and we already [implemented a workaround in NavSDK](https://github.com/mapbox/mapbox-navigation-android/pull/5943/files#diff-f2cca061380015a1e107803f17368bee5d2cfd1575726972f387b2549232fa5cR174). However this issue might still affect developers that decide to use their LocationProvider implementation with LocationComponentPlugin, instead suggested Navi

[2022-06-22 14:56] VincentJoshuaET opened #1449 "Performance is laggier when a high amount of layers are shown compared to iOS"
## Environment

- Android OS version: Android 12
- Devices affected: Samsung Galaxy S20+, Samsung Galaxy Tab A8, all Android devices
- Maps SDK Version: 10.6.0

## Observed behavior and steps to reproduce

I think it looks worse on the real device compared to the screen recording but here's a comparison.
I did not change the default mapbox_mapSurface attribute, so it is still surface_view.

I also

[2022-06-22 15:21] rohitkzoom opened #1450 "Localization for few labels is not working"
Hi in our app when localization is changed to new language like spanish few of the mapview labels do not change in that language

I also tried for localizeLabels(locale) which is not available on mapbox style

we are using
com.mapbox.mapboxsdk:mapbox-android-sdk:9.2.1
com.mapbox.mapboxsdk:mapbox-android-navigation:0.42.6
com.mapbox.mapboxsdk:mapbox-android-navigation-ui:0.42.6

![Screenshot_202206

[2022-06-23 03:43] VincentJoshuaET commented on #1449
Eventually this will reach more than 20,000 points. Is there a way to optimize this? I'm fetching the data from a Couchbase database synced to our server and I manually construct the Feature objects from each Couchbase document.

[2022-06-23 06:31] florianPOLARSTEPS commented on #1019
I am not sure why this fix is taking so long. In my view it's a clear bug in the mapbox sdk. If you imply a value to be non-null in kotlin and it can be null in the java world it will crash. Simple as that.

[2022-06-24 13:01] felixkrautschuk opened #1455 "back navigation to Fragment with Mapbox Map not working - Thread MapboxRenderThread was not started, ignoring event"
## Environment

- Android OS version: 12 (also tested 11, 10, 9)
- Devices affected: tested on Emulators and Google Pixel 3a (physical device)
- Maps SDK Version: 10.6.0 (also tested 10.1.0, same behaviour)

## Observed behavior and steps to reproduce

Navigating forwards to a Fragment with Mapbox map works as expected (also multiple times back and forth), but when navigating back to a Fragment wi

[2022-06-24 16:34] #1442 closed

[2022-06-24 17:59] ZiZasaurus commented on #1455
@felixkrautschuk can you please provide us with the code for this app? From the information you provided above, it looks like the instance may not have bee properly destroyed/garbage collected when leaving the fragment, but having the code would help us definitively conclude that that is the issue.

[2022-06-25 06:38] SamuelBrucksch opened #1456 "literal with array does not work anymore in expression"
I have such an expression:
[code]

This worked in 10.3.0, but when i switch to 10.6.0 this does print an error. Could be that this already solves it:
https://github.com/mapbox/mapbox-maps-android/pull/1444
The error message is the same of this kind:
[code]

However I'm not really sure. I think this started with 10.4.0 so we did not upgrade yet.

Could you please confirm if that PR fixes this issue

[2022-06-27 06:30] pengdev commented on #1456
@SamuelBrucksch Thanks for reporting the issue, it will be resolved in https://github.com/mapbox/mapbox-maps-android/pull/1444 and will be released with v10.7.0-beta.1 later this week.
In the mean time, you can try to validate the fix using snapshot following the instructions [here](https://github.com/mapbox/mapbox-maps-android/blob/main/DEVELOPING.md#working-with-snapshots) and use the latest has

[2022-06-27 06:37] SamuelBrucksch commented on #1456
Thanks for the instructions, will try it with the snapshot and report back.

[2022-06-27 07:39] westlifeChen opened #1457 "load 3dtiles data"
## New Feature

Whether 3dtiles format data loading is supported?

## Why
<- 1-2 sentence description of why you're requesting this feature. What problem does it solve? Why is it valuable? ->

[2022-06-27 10:21] tobrun commented on #1449
It looks like your are processing all the data client side and at runtime adding more data to the map.

This amount of scale of 20000 , needs to be solved differently. First optimization is doing this on the backend side, the more work you can remove from the client, the better the user experience. The second optimization is how you organize that data, instead of using GeoJSON objects and manually

[2022-06-27 12:18] ShigotoMitame opened #1460 "Satellite Styles don't work on an Offline map"
## Environment

- Android OS version: Android 12 (S)
- Devices affected: Pixel 6 Pro, but likely others
- Maps SDK Version: 10.6.0

## Observed behavior and steps to reproduce

When using the offline map functionality with Satellite or Satellite Streets styles, the rasterised tiles appears as black squares. This results in the entire map being black in the case of the Satellite style, or the stree

[2022-06-27 12:48] ZiZasaurus commented on #1424
@Lineaire as this is more of a product support Issue, can you please create a support ticket at https://support.mapbox.com/hc/en-us/ and our support team will be happy to get you the answers you need.

[2022-06-27 14:31] pengdev commented on #1456
Thanks @SamuelBrucksch for the validation, closing this ticket 😄

[2022-06-27 14:31] #1456 closed

[2022-06-27 16:56] narko opened #1490 "[Android Auto] Support for onTap event in MapboxCarMapGestureHandler"
This feature is about allowing users to tap on the map similarly to how `mapSurface.getMapboxMap().addOnMapClickListener` works.

This would allow users to tap on a specific POI and do things like opening a new `Screen`.

Not sure if this is supported somehow. I have tried to build something similar by using a `MapboxObserver` and adding the following on the `onAttach` method, but it didn't work f

[2022-06-28 01:48] VincentJoshuaET commented on #1449
Why does it perform much better in iOS though?

[2022-06-28 06:38] SamuelBrucksch commented on #1413
@pengdev @tobrun @kmadsen can anyone please comment on this? This should really affect the usage of this library for a lot of users, if it can't work on Xiaomi unless the phone screen is on...

[2022-06-28 13:22] pengdev commented on #1413
Hi @SamuelBrucksch thanks for reporting the issue, we are still trying to get access to a compatible Xiaomi device to reproduce this issue, will keep you posted about the progress.

[2022-06-28 23:22] ZiZasaurus commented on #1457
@westlifeChen as this is more of a product support Issue, can you please create a support ticket at https://support.mapbox.com/hc/en-us/ and our support team will be happy to get you the answers you need.

[2022-06-28 23:22] #1457 closed

[2022-06-29 13:33] tobrun commented on #1455
Would you be able to test our v10.0.0-beta.1, we recently made some patches around lifecycle management.

[2022-06-29 15:22] kiryldz commented on #1455
Later on today we will release v10.7.0-beta.1 - could you please check with it? Not v10.6.0-beta.1 😄

[2022-06-30 02:16] JAECHON-YU opened #1467 "[Android Studio] Plugin [id: 'kotlin'] was not found in any of the following sources"
Hi. All,

I could not even sync with gradle for apple m1 mac mini and windows also.

Could not find any solution from stackoverflow.

Any Help or Suggestions?

Thanks in advance!!

Jay

## Environment

- Android OS version:
- Devices affected:
- Maps SDK Version: main branch

## Observed behavior and steps to reproduce

Build file 'C:\Users\admin\Downloads\mapbox-maps-android-main\mapbox-maps-andr

[2022-06-30 08:17] felixkrautschuk commented on #1455
@kiryldz @tobrun still the same behaviour with v10.7.0-beta.1

[2022-06-30 09:00] kiryldz commented on #1455
Thanks for confirming, that was worth trying. Will need to look deeper in detail then.

[2022-06-30 09:04] DizparcTim opened #1470 "Missing getProjection() function in V 10"
Hello,

I wonder if there is a plan to implement the getProjection() ( mapboxMap.getProjection().fromScreenLocation ) function in V.10.
Used to catch touch events and draw an area like this guide shows:
https://docs.mapbox.com/android/legacy/maps/examples/finger-draw-query/

I have not found any way to get the same functionality in version 10, am I missing something or does it not exist?
If it doe

[2022-07-01 19:56] dudeuter commented on #1460
@ShigotoMitame Raster Sources aren't fully supported within TileStore at the moment. They can only use the same API surface as v4 vector tiles.

If you change your source to reflect this, you can get raster tiles to start rendering.

[2022-07-04 08:23] ank27 commented on #1467
@JAECHON-YU Could you provide project level `build.gradle`, also make sure to follow the installation guide [here](https://docs.mapbox.com/android/maps/guides/install/). It could be that your project is not correctly configured.

[2022-07-04 09:34] jonschmidt commented on #1376
Hi @OmarShehe , sorry for the late reply. No, we actually disabled the bearing because of this and are on hold until we figure something out

[2022-07-04 11:03] BenCooke opened #1566 "Fatal Exception: java.lang.Error unordered_map::at: key not found"
Fatal Exception: java.lang.Error
unordered_map::at: key not found
com.mapbox.maps.Map.render (Map.java)
com.mapbox.maps.NativeMapImpl.render (NativeMapImpl.java:2)
com.mapbox.maps.renderer.MapboxRenderer.render (MapboxRenderer.java:5)
com.mapbox.maps.renderer.MapboxRenderThread.draw (MapboxRenderThread.java:77)
com.mapbox.maps.renderer.MapboxRenderThread.doFrame (MapboxRenderThread.java:10)

**Map

[2022-07-04 11:16] narko commented on #1467
@ank27 I am having exactly the same issue here. I followed the instructions from DEVELOPING.md and added the following to my global `gradle.properties`: `SDK_REGISTRY_TOKEN`

This is the exception I am getting on my side:

`Plugin [id: 'kotlin'] was not found in any of the following sources:

* Try:
Run with --info or --debug option to get more log output. Run with --scan to get full insights.

*

[2022-07-04 11:55] narko commented on #1467
I think there must be something wrong with our local config. Running `make build` shows some authentication issues:

[code]

[2022-07-05 03:44] VincentJoshuaET opened #1474 "Add layer failed: Layer 'mapbox-location-indicator-layer' is not compatible with source ''"
## Environment

- Android OS version: 12
- Devices affected: Galaxy S20+, Galaxy Tab S7
- Maps SDK Version: 10.6.0

## Observed behavior and steps to reproduce

This works for all our other styles except for one.

`binding.mapView.location.updateSettings { enabled = true }`

This code will make the app crash with the below error.

[code]

Do we need to change anything in the Mapbox style to avoid

[2022-07-05 05:38] DizparcTim commented on #1470
Either I'm missing something or that does not resolve my problem, or answerer the question I asked.

I want to add a line on the app screen when the user is drawing.
From the old documentation I found this:
[code]
But I cant really find how to get the method "fromScreenLocation" or any other method where I get the coordinates from a user drawing on the screen.

[2022-07-05 06:17] elcolto opened #1475 "Crash through not provided MapTelemetry"
## Environment

- Android OS version: 8 - 12
- Devices affected: several, for example Pixel 4a
- Maps SDK Version: 10.6

## Observed behavior and steps to reproduce

SDK crashes, when implementing App lies in the background for a plenty of time (~20 min) and is pulled back to front. When a View with a MapBoxMap is started, a crash occurs with following Stacktrace:

[code]

Same happens when a Snap

[2022-07-05 07:44] ank27 commented on #1470
@DizparcTim In order to get coordinate from the screen pixel in v10, you can use
`mapboxMap.coordinateForPixel(pixel: ScreenCoordinate)` or `mapboxMap.coordinatesForPixels(pixels: List<ScreenCoordinate>)`. [here is the method definition](https://github.com/mapbox/mapbox-maps-android/blob/main/sdk/src/main/java/com/mapbox/maps/MapboxMap.kt#L777-L813).

in v10 `getProjection().fromScreenLocation` is

[2022-07-05 08:00] VincentJoshuaET commented on #1474
Just tried in iOS: does not crash, so only a problem on Android.

I don't know why this happens, because on other Mapbox styles I never have this issue.

[2022-07-05 08:10] DizparcTim commented on #1470
Thanks, that solves my issue!

[2022-07-05 08:10] DizparcTim commented on #1470
Thanks that solves my issue!

[2022-07-05 08:10] #1470 closed

[2022-07-05 08:19] ank27 commented on #1467
@narko `401` means the token is either not correct or missing, please follow the correct instructions from https://docs.mapbox.com/android/maps/guides/install/#configure-credentials.

Also if you are using gradle 6.0 or later, you might need to add repository settings in settings.gradle as mentioned [here](https://docs.mapbox.com/android/maps/guides/install/#add-the-dependency).

@JAECHON-YU could

[2022-07-05 08:26] ank27 commented on #1474
@VincentJoshuaET Could you let us know how are you using locationComponent and which style are you referring to ?
we have an example that uses same code [here](https://github.com/mapbox/mapbox-maps-android/blob/main/app/src/main/java/com/mapbox/maps/testapp/examples/LocationTrackingActivity.kt#L80-L83) for reference.

[2022-07-05 12:39] narko commented on #1467
I was able to successfully build the repository by adding `SDK_REGISTRY_TOKEN=secret-token` (without "") to my global gradle.properties.

I also had to create a new Mapbox account with a fresh new secret token. For whatever reason, the previous token didn't work.

[2022-07-06 00:01] VincentJoshuaET commented on #1474
I use it the same way as your reference but without changing the puck.

The style that causes the crash is: mapbox://styles/arethasamuel/ckh004dwr7trs1an22flkwtt3

I tried many of our own styles and this did not ever happen before. Also the above style is still working for iOS, so the problem is only on Android.

[2022-07-06 10:23] ShigotoMitame commented on #1460
I'm not sure what you mean here. I was under the impression that the satellite tiles did use the V4 API? Or are the vector and raster APIs different?

Can you give an example on how to do that?

[2022-07-06 12:20] JAECHON-YU commented on #1467
This was because of Android Studio IDE..
I use make build command in terminal but still have problem with

-----
Unable to start the daemon process.
This problem might be caused by incorrect configuration of the daemon.
For example, an unrecognized jvm option is used.

----
After googled it I found this result
https://stackoverflow.com/questions/25009717/android-studio-gradle-project-unable-to-sta

[2022-07-06 12:20] #1467 closed

[2022-07-06 12:27] pengdev commented on #1320
Thanks for the feedback, it will be fixed by https://github.com/mapbox/mapbox-maps-android/pull/1478

[2022-07-07 11:53] shahzaib-ch opened #1481 "Mapbox Maps SDK for Android"
## Environment

- Android OS version: 12
- Devices affected: S22 ultra
- Maps SDK Version: 10.6.0

## Observed behavior and steps to reproduce
In versions < 10, custom user location icon rotate with rotation of map.

## Expected behavior
In versions < 10, custom user location icon rotate with rotation of map. But in version 10 and later user custom location icon (LocationPuck2D) do not rotate with

[2022-07-08 01:37] VincentJoshuaET commented on #1474
I was able to fix it by avoiding adding a source with an empty id. It’s because the location puck layer also uses a source with an empty id.

[2022-07-08 10:20] #1320 closed

[2022-07-10 11:38] CarstenWa commented on #1413
It isn't just xiaomi. Have the same issues on my huawei p30 pro

[2022-07-11 16:53] kmadsen commented on #1490
Excited that support for this is moving. But it's not quite ready for production. Currently, it is part of 1.2.0 which is a release candidate. The api is experimental, and it requires a special configuration in order to get api level 5 and there are only 4 levels supported by the desktop-head-unit. For the reason, considering this issue blocked.

<img width="801" alt="Screen Shot 2022-07-11 at 9 5

[2022-07-11 17:28] kmadsen commented on #1490
Agree with this! Once the api is stable this should be a simple update.

[I was considering a bigger refactor](https://github.com/mapbox/mapbox-maps-android/issues/1490#issuecomment-1180647423) to decouple the sdk from experimental apis in the SurfaceCallback, but the solutions i was search for would not help because the onClick method does not seem to work yet. Best to follow this issue https://i

[2022-07-12 17:15] Dkhusainov opened #1493 "Native libs merge conflict"
I'm using flipper(which uses fbjni) in debug build, after adding mapbox to the dependency and building the app I'm getting native libs merge error:
[code]

Is there any way to work around this?

[2022-07-12 18:20] Dkhusainov commented on #1493
Nvm found it
[code]

[2022-07-12 18:20] #1493 closed

[2022-07-12 22:34] dudeuter commented on #1460
@ShigotoMitame Here's the documentation for [Sources](https://docs.mapbox.com/mapbox-gl-js/style-spec/sources/) if you configure the tiles attribute to fetch tiles from the same source as the raster tiles stored in TileStore you should be able to get it working.

One thing to note for anyone reading this is that this is just a workaround for the time being. Normally your satellite source will refe

[2022-07-13 11:07] narko commented on #1490
Thanks @kmadsen! As far as I understood that example is setting the `onClickListener` on the `Row.Builder` using the list of POIs instead: https://github.com/mapbox/mapbox-navigation-android/blob/e778f67bda1d2f7f2f5b3cf3e78b7b8075e57c7d/libnavui-androidauto/src/main/java/com/mapbox/androidauto/car/placeslistonmap/PlacesListItemMapper.kt#L80
Unfortunately in my use case I really need to tap directl

[2022-07-13 13:08] Dkhusainov opened #1496 "GeoJSON symbol icon dissapears on some zoom levels"
## Environment

- Android OS version: 28
- Devices affected:
- Maps SDK Version: 10.6.1

## Observed behavior and steps to reproduce

Add a source which is GeoJSON FeatureCollection of points

Add a layer:
[code]

Add image to style:
[code]
## Expected behavior

Symbol icon always shows

## Additional links and references

https://user-images.githubusercontent.com/7382654/178740600-1d51ddfe-ce11-4

[2022-07-14 09:02] jdomagni-iabbb commented on #1438
I have the same issue. Sometimes it fits as it should be sometimes it get zoom level 3, thought center coordinates are right. Only zoom is tricky.

[2022-07-14 18:38] kmadsen commented on #1397
Considering this surfaceChanged function, the purpose of it would be to simplify the interactions with the mapSurface? There is a solution available for simplifying map interactions with android auto in the extension https://github.com/mapbox/mapbox-maps-android/issues/1397#issuecomment-1147778664. It is designed to work well with surface recreation because android auto will recreate the surface w

[2022-07-14 20:04] kmadsen commented on #1490
Yeah that is correct. That has been the android auto solution that google provided as an alternative to tapping directly on the map. as you can see, [basic map panning and zooming was added a year ago in 1.1](https://developer.android.com/jetpack/androidx/releases/car-app#1.1.0-alpha01)

As far as I can tell, this is not supported by android auto head units at the moment. I spoke with some of the

[2022-07-14 22:52] kmadsen opened #1503 "[Android Auto] Map panning does not work after leaving map screen in android automotive"
Reference https://github.com/narko/mapbox-maps-android/pull/1

## Steps to reproduce

1. Add the new android automotive dependency
[code]

2. Add a search screen and action to allow for changing screens

3. Run the app and go to the search screen and back

Notice that when you come back to the `MapScreen`, something is causing the `CarCameraController` to disconnect and the map gestures are not wo

[2022-07-15 09:42] ArthurCowboy commented on #1273
@ittna were you able to make it work?
@ZiZasaurus tried to fork the repo, gave coarse permission and the accuracyRing is not working. It is working only for the precise location. Is there something I'm missing?

[2022-07-15 10:43] ittna commented on #1273
No, bug still exists. For our app coarse location is not that important though so it is not a blocker. I would still appreciate if mapbox would fix it.

[2022-07-17 02:22] xflow7 commented on #1413
Hi, @pengdev and @kmadsen, for what it's worth I'm also not sure how device-specific this is. I have the same problem on a Samsung S21. (I arrived here from [this bug thread on the ABRP forum](https://abrp.upvoty.com/b/report-a-bug/map-doesnt-update-on-android-auto-when-phone-display-is-off/))

[2022-07-17 07:53] Lovestefan opened #1510 "项目构建不了 报错"
Build file 'D:\AndroidStudioProject\mapbox-maps-android-main\mapbox-lint\build.gradle' line: 4

Plugin [id: 'kotlin'] was not found in any of the following sources:

* Try:
Run with --info or --debug option to get more log output. Run with --scan to get full insights.

[2022-07-17 13:37] SamuelBrucksch commented on #1413
More and more reports incoming on this. We had to buy a Poco F3 ourself to replicate the problem. If you can't find anyone with a phone please order one so you can fix this.

[2022-07-18 07:51] zhurbaTT opened #1511 "App crashes with java.lang.IllegalStateException when loading style"
## Environment

- Android OS version: 12, 11, 10, 8
- Devices affected: Samsung, Xiaomi, Honor, Huawei
- Maps SDK Version: 10.3.0

## Observed behavior and steps to reproduce

In Firebase I see some crash events. It happens not very often.
The trace is:

_Fatal Exception: java.lang.IllegalStateException
com.mapbox.maps.UtilsKt.call (Utils.kt:9)
com.mapbox.maps.MapboxMap.loadStyleUri (MapboxMap.kt:

[2022-07-18 08:04] zhurbaTT opened #1512 "ANR with mapBox traces in bug report"
## Environment

- Android OS version: 11, 12
- Devices affected: Xiaomi, OnePlus
- Maps SDK Version:

## Observed behavior and steps to reproduce

Sometimes we catch an ANR in our app.
It happens when we open a fragment with map inside and then quickly navigating back.
I can see nothing in logcat, but in android bug report (report generated via Android) I see this:

_------ VM TRACES AT LAST ANR (

[2022-07-18 11:48] appenvturez-siddharth opened #1514 "Route progress and run time path colour change is not working with multiple way points"
## Environment

- Android OS version:11
- Devices affected:All
- Maps SDK Version: 10.6.0

## Observed behaviour and steps to reproduce
suppose we have 4 points and user is tracking on point a to point b and he kills the app between point b to c when he come to that map activity and started tracking again then path colour change and RouteProgress.getCurrentDistanceTravelled is not working.

## Exp

[2022-07-18 11:51] appenvturez-siddharth commented on #1514
@pengdev @Chaoba  please look into this

[2022-07-18 12:52] EvgenePrytula opened #1515 "Is the MapSnapshot available for Mapbox 10?"
I am trying to migrate to the Mapbox following this [tutorial](https://docs.mapbox.com/android/maps/guides/migrate-to-v10/) and noticed the issue that the snapshot class is not available anymore. I supposed it might be moved in a dedicated plugin but I don't see any plugins like that. So the question is how to find the MapSnapshot for Mapbox 10 and above?

[2022-07-18 13:34] #1299 closed

[2022-07-18 13:39] ZiZasaurus commented on #1313
A fix was provided [here](https://github.com/mapbox/mapbox-maps-android/pull/1336), closing ticket.

[2022-07-18 14:11] #1428 closed

[2022-07-18 14:12] VincentJoshuaET commented on #1428
Yes. I'm only talking about the data from the style URL. We confirm that this both happens on iOS and Android. We generally have to wait a week before the offline data is updated.

[2022-07-18 14:13] ZiZasaurus commented on #1253
Closing this ticket in favor of https://github.com/mapbox/mapbox-maps-android/issues/1397 where the conversation is continued.

[2022-07-18 14:13] #1253 closed

[2022-07-18 14:50] ZiZasaurus commented on #1496
@Dkhusainov,  can you test the attached apk and show us that the symbol layer is still disappearing?
[symbol not vanishing.zip](https://github.com/mapbox/mapbox-maps-android/files/9132905/symbol.not.vanishing.zip)

[2022-07-19 12:51] ZiZasaurus commented on #1512
@zhurbaTT can you please provide the version of the SDK that you are using?

[2022-07-19 12:55] zhurbaTT commented on #1512
@ZiZasaurus sorry, forgot to provide it in the title.
Maps SDK Version: 10.3.0

[2022-07-19 14:30] kiryldz commented on #1511
@zhurbaTT 10.3.0 is pretty outdated version, weak references for map / style were revisited in v10.5.0.

In general when reloading the style - you should update all local references to `Style` in your codebase (same applies if you're storing `MapboxMap` object). In v10.5.0 and after crashes you described should not happen but you will see warning log messages that you're potentially leaking map /

[2022-07-19 14:52] kiryldz commented on #1512
Can you also share Android SDK versions that were affected?

[2022-07-19 16:25] #1503 closed

[2022-07-20 09:17] zhurbaTT commented on #1511
Thank you, @kiryldz !
We will set the mapBox dependency version to the latest one and check how it will affect our users.
I'll come back with new info in 1 week.

[2022-07-20 09:21] zhurbaTT commented on #1512
Hello @kiryldz ,
I catched the bug with following SDK versions: 31, 30, 29, 28.

[2022-07-20 09:43] kiryldz commented on #1512
Can you by chance reproduce that ANR locally if using latest stable version released (it's 10.6.2) by using setup you mentioned above?

[2022-07-20 12:22] zhurbaTT opened #1517 "App crashes with "java.lang.IllegalStateException: Camera plugin is not added as the part of MapInitOptions for given MapView.""
## Environment

- Android OS version: 12, 10
- Devices affected: OnePlus, Xiaomi
- Maps SDK Version: 10.6.2, 10.6.0

## Observed behavior and steps to reproduce

After opening a fragment with map inside and quickly navigating back the app crashes.
The bug happens not very often.

`java.lang.IllegalStateException: Camera plugin is not added as the part of MapInitOptions for given MapView.
        a

[2022-07-20 12:47] tobrun commented on #1475
Thank you for reporting this issue! This a bit of strange one, atm I can't fully explain why class lookup is failing.
The crash occurs at this line:
 - https://github.com/mapbox/mapbox-base-android/blob/d97bdcfe9ac43c2c6a63eb7b7a85456350ccd818/common/src/main/java/com/mapbox/common/module/provider/MapboxModuleProvider.kt#L88

Would you be able to access the logs that occur just before this happens

[2022-07-20 13:10] ZiZasaurus commented on #1496
@Dkhusainov I am not experiencing the symbol layer disappearing. Are you able to restart your AS/ emulator or test in another emulator?

[2022-07-20 13:51] kiryldz commented on #1517
Thanks for reporting!
I do understand why that could happen (because of weak references) - I will cut an internal ticket to fix that. Meanwhile I could suggest using camera / gestures plugin directly (e.g. `mapView.camera.flyTo` instead of `mapView.getMapboxMap().flyTo`), that will fix an issue.

[2022-07-20 14:36] Dkhusainov commented on #1496
Restart doesn't help. I'm on Windows, maybe that's the cause

[2022-07-20 16:16] ZiZasaurus commented on #1496
@Dkhusainov i am not experiencing any issues on windows. Do you perhaps have another device that you can use to test?

[2022-07-20 17:23] ZiZasaurus commented on #1445
@IolandaRosa can you please provide a sample app that reproduces this behavior so that we can see your implementation?

[2022-07-20 18:28] SamuelBrucksch commented on #1413
Samsung is a separate issue and not related to this. A fix will be available soon.

We got another report from Xiaomi Mi11 pro. So it seems like any Xiaomi device on Android 12 will do.

[2022-07-20 18:32] CarstenWa commented on #1413
Got the same Problem on an older Huawai p20 with Android 10 on it

[2022-07-21 04:35] quentinliao opened #1518 "crash when setCamera [ 10.6.2]"
java.lang.Error: std::exception
                                                     	at com.mapbox.maps.CameraManager.setCamera(Native Method)
                                                     	at com.mapbox.maps.NativeMapImpl.setCamera(NativeMapImpl.kt:36)
                                                     	at com.mapbox.maps.MapboxMap.setCamera(MapboxMap.kt:426)

[2022-07-21 08:11] timMikkelsen opened #1519 "Polygons missing points on rendering when they are too close to each other"
## Environment

- Android OS version: 12
- Devices affected: OnePlus
- Maps SDK Version: 10.6.0 & 10.7.0-rc1

## Observed behavior and steps to reproduce

When using a fill layer or extrusion to show a polygon. Some coordinates in the GeoJson are not rendered when they are too close to another coordinate. We have observed it to happen when the coordinates are 7 cm or less apart in world space.

He

[2022-07-21 09:18] kiryldz commented on #1518
We would appreciate more details (code snippet, context when it did happen etc). Otherwise it's hard to say what's the root cause.

[2022-07-21 12:22] 1242128273wangpeng opened #1521 "mapview all black"
![image](https://user-images.githubusercontent.com/10842360/180212242-d461e3aa-b304-4709-a2ec-46371e7635b8.png)
![image](https://user-images.githubusercontent.com/10842360/180212272-99e080ac-1fcf-4a1c-8769-1b3a5c5c747d.png)
![image](https://user-images.githubusercontent.com/10842360/180212309-e216df1d-0d4b-44e4-9f57-5128f84f75d4.png)

[2022-07-21 14:01] programmin1 opened #1522 "Mapbox gets app rejected"
## Environment

- Android OS version: Any
- Devices affected: Any
- Maps SDK Version: 9.2.1

## Observed behavior and steps to reproduce

App with Mapbox gets removed from Fdroid Store because they don't allow nonfree dependencies.
https://github.com/programmin1/Repeater-START-android/issues/11
I don't see how to remove Google location from build as it is apparently referenced by this library here

[2022-07-21 16:56] ZiZasaurus commented on #1521
@1242128273wangpeng are you following our installation instructions [here](https://docs.mapbox.com/android/maps/guides/install/)? A black screen is often an indication of a missing access token.

[2022-07-21 21:12] kmadsen commented on #1413
I've ordered a Poco F3 but it'll be here tomorrow at some point

[2022-07-21 21:26] CarstenWa commented on #1413
If it helps out with Huawai I will donate a bit 😁

[2022-07-21 22:16] ZiZasaurus commented on #1519
@timMikkelsen thank you for reporting. I am able to reproduce and will investigate the root cause.

[2022-07-21 23:14] mscott13 opened #1525 "Traffic Plugin"
## New Feature

Is there traffic overlay functionality available in this version (10.6.2) of the sdk? I have been looking at the docs and it says v10 is not compatible with Android Plugins.

[2022-07-22 05:22] Dkhusainov commented on #1496
Don't know what else to say. Happens on emulators with different architectures and different Android SKD versions. I guess the issue can be closed if it isn't reproducible anywhere else

[2022-07-22 06:22] #1521 closed

[2022-07-22 07:47] quentinliao commented on #1518
Process Name: 'cn.quentin.app'
Thread Name: 'MapThread'
pid: 20416, tid: 8377  >>> cn.quentin.app <<<
signal 7 (SIGBUS), code 1 (BUS_ADRALN), fault addr 0000006e
  r0 0000006e  r1 871dbd60  r2 884f54c0  r3 79cadb5c
  r4 0000006a  r5 5a0014c0  r6 002632ee  r7 79cadb50
  r8 6c73b0a4  r9 b0158260  10 79cadc28  fp 625d0500
  ip b0156ce8  sp 79cadb48  lr 845e1d79  pc 845e1dee  cpsr 00070030
  d0  31363

[2022-07-22 16:14] tir38 commented on #320
Plz ignore my prev comment. I had the correct password for the `buildscript` block, but was using my public key for the `allprojects` block.

[2022-07-23 02:45] Lovestefan commented on #1510
直接下载的你们github上面的demo也需要配置么

[2022-07-23 02:52] Lovestefan commented on #1510
buildscript {
  repositories {
    google()
    mavenCentral()
    maven {
      url = uri("https://api.mapbox.com/downloads/v2/releases/maven")
      credentials {
        username = "mapbox"
        password = System.getenv("SDK_REGISTRY_TOKEN") ?: project.property("SDK_REGISTRY_TOKEN") as String
      }
      authentication {
        create<BasicAuthentication>("basic")
      }
    }
    maven

[2022-07-23 09:30] Lovestefan commented on #1510
我构建 现在又报其他错误  org.gradle.internal.exceptions.LocationAwareException: Build file 'D:\AndroidStudioProject\mapbox-maps-android-main\app\build.gradle.kts' line: 8
A problem occurred evaluating script.
	at org.gradle.kotlin.dsl.execution.InterpreterKt$locationAwareExceptionFor$2.invoke(Interpreter.kt:563)
	at org.gradle.kotlin.dsl.execution.InterpreterKt.locationAwareExceptionFor(Interpreter.kt:570)

[2022-07-23 10:59] Lovestefan commented on #1510
我现在编译出来了 但是 //from("$rootDir/gradle/script-git-version.gradle")
  //from("$rootDir/gradle/play-publisher.gradle")去掉了这两行  报错

[2022-07-23 16:30] kmadsen commented on #1413
I have a Xiaomi Poco F3. I was not able to reproduce on the out of the box version - on Android 11. I also tested with multiple mock GPS location apps ([GPS Locations](https://play.google.com/store/apps/details?id=ru.gavrikov.mocklocations) and [Mock GPS with joystick](https://play.google.com/store/apps/details?id=net.marlove.mockgps)).

I'm updating the phone to test the latest update with Androi

[2022-07-23 16:45] g4rb4g3 commented on #1413
@kmadsen Thanks for the update, as pointed out in the first post the issue happens on Android 12 for sure. I did not test it with Android 11 since I did the update straight after unpacking it.

[2022-07-23 16:48] kmadsen commented on #1413
The system updates available are for the MIUI, so I updated to MIUI 12.5.6 and it worked again.

I'm not seeing an option to upgrade to Android 12, but am seeing an option to upgrade the MIUI (next is 13.0.4.0)

[2022-07-23 16:53] SamuelBrucksch commented on #1413
Yes MIUI 13 is Android 12. People told us this issue started after the update, so according to them it stilled worked on Android 11.

[2022-07-23 16:56] kmadsen commented on #1413
Ok sounds good, thanks! I'm about to go on a hike (test drive to the trailhead), so after the update I'll be able to see the issues on a few apps. Will dig into potential solutions when I'm back by a computer.

[2022-07-23 17:17] kmadsen commented on #1413
It's still working for me after the update, on the desktop head unit. I'm getting the same result as the video here https://github.com/mapbox/mapbox-maps-android/issues/1413#issuecomment-1193151608

Model: [M2012K11AG](https://www.gsmarena.com/xiaomi_poco_f3-10758.php)
MIUI version: 13.0.4Stable, 13.0.4.0(SKHMIXM)
Android version: 12 SKQ1.211006.001
Android security update 2022-06-01

I'm still go

[2022-07-23 17:39] CarstenWa commented on #1413
On Android 10 it won't work also.

[2022-07-23 17:47] SamuelBrucksch commented on #1413
We only used the sample apps as they are and didn't do anything else. The phone screen must be off for the not moving map to show.

[2022-07-24 03:35] akirmse opened #1528 "Annotation drag is too sensitive; triggers on marker clicks"
## Environment

- Android OS version: 10
- Devices affected: Samsung Galaxy S9
- Maps SDK Version: 10.6.1

I have both a ```OnPointAnnotationClickListener``` and a ```OnPointAnnotationDragListener```.  I observe that nearly every time I touch a marker (a point annotation), I get 3 events in this order:

- Annotation start drag
- Annotation end drag
- Annotation click

I think it's undesirable to h

[2022-07-24 04:10] akirmse commented on #1528
More seriously, I get drag events even if the annotation has its draggable property set to false:

https://github.com/mapbox/mapbox-maps-android/blob/a35ee8cc52b7980f2b0d8a4808f71b96a6e4304f/plugin-annotation/src/main/java/com/mapbox/maps/plugin/annotation/generated/PointAnnotationOptions.kt#L637

[2022-07-24 15:00] akirmse opened #1529 "Crash during drag"
## Environment

- Android OS version: 12
- Devices affected: Samsung Galaxy S10
- Maps SDK Version: 10.6.1

I got the following crash reported via Crashlytics from a user:

Fatal Exception: java.lang.Error
latitude must not be NaN

com.mapbox.maps.CameraManager.getDragCameraOptions (CameraManager.java)
com.mapbox.maps.NativeMapImpl.getDragCameraOptions (NativeMapImpl.kt:55)
com.mapbox.maps.MapboxM

[2022-07-25 02:06] afterlifehy opened #1530 "How to get the current walking speed"
locationEngine = LocationEngineProvider.getBestLocationEngine(this)
        var request = LocationEngineRequest.Builder(DEFAULT_INTERVAL_IN_MILLISECONDS)
            .setPriority(LocationEngineRequest.PRIORITY_HIGH_ACCURACY)
            .setMaxWaitTime(DEFAULT_MAX_WAIT_TIME)
            .build()

        locationEngine.requestLocationUpdates(request, callback, mainLooper)
        locationEngine.ge

[2022-07-25 09:10] Zayankovsky opened #1531 "Wrong `BitmapWidget` position after calling `updateBitmap` with a `Bitmap` that has different size"
When you call `updateBitmap` widget is updated in a way that keeps center point in the same location. But that means that parameters that were passed to `BitmapWidget` constructor are no longer respected. For example in this video I created a widget with `WidgetPosition(WidgetPosition.Horizontal.CENTER, WidgetPosition.Vertical.BOTTOM)` and `marginY = 50f`. But you can see that bottom margin change

[2022-07-25 09:57] kiryldz commented on #1529
Looks like this should be fixed by https://github.com/mapbox/mapbox-maps-android/pull/1492, that's available in https://github.com/mapbox/mapbox-maps-android/releases/tag/android-v10.7.0-rc.1.

[2022-07-25 10:33] moritzzzzz commented on #1475
@tobrun Cross posting from slack:

from Firebase console  i could get only this stacktrace.

[2022-07-25 13:09] ZiZasaurus commented on #1522
Transferring to gl-native-android

[2022-07-25 15:16] dh-hasif opened #1533 "Caused by java.lang.IllegalStateException Maximum limit of concurrent alarms 500 reached for uid: u0a359"
## Environment

- Android OS version: Android 11
- Devices affected: OPPO
- Maps SDK Version: 10.3.0

## Observed behavior and steps to reproduce
We are seeing crash in Map SDK v10 ,for some users

Caused by java.lang.IllegalStateException Maximum limit of concurrent alarms 500 reached for uid: u0a359

android.os.Parcel.createExceptionOrNull (Parcel.java:2397)

android.app.AlarmManager.setInexactR

[2022-07-25 16:05] florianPOLARSTEPS opened #1535 "Memory Leak in ViewAnnotationManager"
## Environment

- Android OS version: Any
- Devices affected: Irrelevant
- Maps SDK Version: 10.7.0-rc1 (but probably 10.6.x as well)

## Observed behavior and steps to reproduce

There seems to be another memory leak related to the new ViewAnnotationManager.
This happens when a Fragment (holding a MapView) is added and removed a couple of times. Please refer to the sample project provided to repr

[2022-07-25 16:58] ZiZasaurus commented on #1510
@Lovestefan as this is more of a product support Issue, can you please create a support ticket at https://support.mapbox.com/hc/en-us/ and our support team will be happy to get you the answers you need.

[2022-07-25 16:58] #1510 closed

[2022-07-25 19:15] kmadsen commented on #1531
@yunikkk will you take a look at this? appears to be an issue with the [widget renderer](https://github.com/mapbox/mapbox-maps-android/pull/1036)

cc: @pengdev

[2022-07-25 21:31] ZiZasaurus commented on #1533
@dh-hasif thank you for reporting. Can you please verify whether you are experiencing this on our latest stable version, 10.6.0?

[2022-07-25 22:01] kmadsen commented on #1413
OK I am able to reproduce the OP issue locally. I'm unable to reproduce in the [android-auto-app](https://github.com/mapbox/mapbox-maps-android/tree/main/android-auto-app) as mentioned here https://github.com/mapbox/mapbox-maps-android/issues/1413#issuecomment-1148398491. My repo steps require you to first, have an open mobile app and then close it.

## Devices reproduced on

Xiaomi MIUI 13.0.4
An

[2022-07-26 09:09] g4rb4g3 commented on #1413
I just updated my phone to the latest firmware:
MIUI: MIUI Global 13.0.7 Stable (SKHEUXM)
Android 12 SKQ1.211006.001

Still seeing the same behavior like in the first post.
I added some logging to MapboxNavigationCameraTransition.kt and I see the same, as soon as the screen is off or the app is not in foreground the centerAnimator gets the same coordinates over and over.
https://user-images.github

[2022-07-26 09:28] AlokAndroid opened #1536 "always getting "Plugin [id: 'kotlin'] was not found in any of the following sources:""
## Environment
android studio I am using chipmunk 2021.2.1
trying to build project getting error

Build file '`\mapbox\mapbox-maps-android\mapbox-lint\build.gradle' line: 3

Plugin [id: 'kotlin'] was not found in any of the following sources:

* Try:
Run with --info or --debug option to get more log output. Run with --scan to get full insights.

* Exception is:
org.gradle.api.plugins.UnknownPlugin

[2022-07-26 10:01] yunikkk commented on #1531
Yes I'll take a look, thanks for reporting

[2022-07-26 10:01] samcrawford opened #1537 "Location puck bearing never shown in Maps SDK v10"
## Environment

- Android OS version: 12
- Devices affected: Samsung S21 and Samsung S8, at least
- Maps SDK Version: Navigation SDK 2.4.1 / Maps SDK v10.4.3

## Observed behavior and steps to reproduce

The bearing arrow is never displayed on the location puck. The location puck is being displayed correctly and is being updated just fine. It's just the bearing arrow that is missing. It used to be

[2022-07-26 10:53] samcrawford commented on #1537
Looks like I was missing the following magic line:
[code]

The final `true` enables the bearing. Painful and not obvious!

[2022-07-26 10:53] #1537 closed

[2022-07-26 12:39] ZiZasaurus commented on #1530
@afterlifehy, as you're using the built in locationEngine, you would get location object and use `getSpeed()` method. Please feel free to take a look at https://developer.android.com/reference/android/location/Location

[2022-07-26 12:51] ZiZasaurus commented on #1536
@AlokAndroid, are you including both tokens for the installation (public token and secret token), per the [instructions](https://docs.mapbox.com/android/maps/guides/install/)? It seems you may be missing something from [here](https://docs.mapbox.com/android/maps/guides/install/#add-the-dependency).

[2022-07-26 12:56] #1525 closed

[2022-07-26 15:24] kmadsen commented on #1413
Good idea with scrcpy :). Next, wanted to find if something in Mapbox SDKs is canceling the animations. Here is an empty project, reproducing the issue without a Mapbox SDK [hellocar.zip](https://github.com/mapbox/mapbox-maps-android/files/9191021/hellocar.zip)

This is most likely an issue with the `MIUI` system disabling animations. I am still unable to reproduce on Pixel 4XL which is running An

[2022-07-26 15:43] kmadsen commented on #1413
I've submitted this feedback to xiaomi because this appears to be specific to `MIUI` https://xiaomiui.net/how-to-report-bugs-on-miui-7934/. I'm not sure of a way to reference open issues for xiaomi.

![Screenshot_2022-07-26-08-31-53-681_com miui bugreport](https://user-images.githubusercontent.com/3021882/181049284-4056f9f2-c049-47a3-ac77-e330eab034d2.jpg)

@g4rb4g3 @CarstenWa @xflow7 @SamuelBruck

[2022-07-26 16:03] kmadsen commented on #1413
Another thing tested, is that there exists an Android 12 setting to disable animations. https://mcmw.abilitynet.org.uk/how-to-disable-interface-animations-in-android-12

On Xiaomi, when the animations are paused it emits the start value multiple times https://github.com/mapbox/mapbox-maps-android/issues/1413#issuecomment-1194685226. This would be at least better, if the update emitted the final va

[2022-07-26 23:09] ZiZasaurus commented on #1535
@florianPOLARSTEPS thank you for reporting. The team is looking into what could be causing this behavior.

[2022-07-27 03:36] afterlifehy commented on #1530
Yes, I used the getspeed () method, but the speed is always 0.My code is above

[2022-07-27 08:19] dh-hasif opened #1540 "Crash in MapboxTelemetry : Caused by com.mapbox.common.module.provider.MapboxInvalidModuleException"
## Environment

- Android OS version: 10 , 11
- Devices affected: Realme, OPPO, Nubia
- Maps SDK Version: 10.3.0

## Observed behavior and steps to reproduce
We are reporting several crashes in production from some set of users, and the stack trace is as follows

`Caused by com.mapbox.common.module.provider.MapboxInvalidModuleException
MapTelemetry has been excluded from build but a correct altern

[2022-07-27 08:32] dh-hasif commented on #1533
sure, I can verify this after updating to 10.6.0

[2022-07-27 08:44] quentinliao commented on #1518
[maps-android\Mbgl-CameraManager]: Error while setting camera options : std::exception CameraOptions = [center: Point{type=Point, bbox=null, coordinates=[121.35212215686254, 30.83403121648117]}, padding: , anchor: [x: 640.9468382199606, y: 317.0736328522364], zoom: , bearing: , pitch: ]

[2022-07-27 11:57] kiryldz commented on #1518
I can't reproduce it with given camera options. If you know device model where this crash occurred or could reproduce similar crash from your end - that would be appreciated.

[2022-07-27 14:33] ZiZasaurus commented on #1528
@akirmse thank you for reporting. The team will look into what could be causing this behavior.

[2022-07-28 02:05] afterlifehy commented on #1530
why my result.lastLocation.hasSpeed is false

[2022-07-28 07:23] afterlifehy opened #1544 "How to change the location mode to GPS"
My system version is Android 12 and my device supports Google Play Services, so My current location is using Fused, now i want to use
GPS ，what should I do

[2022-07-28 12:57] afterlifehy commented on #1530
I found the answer，my device is android 12 and supports Google play location service, the provider is fused provider ,so i need to "implementation("com.google.android.gms:play-services-location:18.0.0")",now my speed is not 0 .

[2022-07-28 20:41] haydnwiese opened #1550 "MapView snapshot does not contain view annotations"
### Environment
  Android OS version: 10
  Maps SDK version: 10.6.2

  ### Description
When taking a snapshot of a MapView with view annotations added using ViewAnnotationManager, the image only contains the underlying map, with no view annotations visible. This differs from v9, where MapboxMap#snapshot returns an image containing views added using the MarkerView plugin.

Below is example code:

[

[2022-07-29 05:56] AlokAndroid commented on #1536
I think token type mismatch, not it is building
Thankyou so much

[2022-07-29 05:56] #1536 closed

[2022-07-29 10:40] kiryldz commented on #1550
@haydnwiese thanks for reporting. `MapView.snapshot` does not support adding anything on top of the map as it simply reads current map state from GPU memory (while view annotations are drawn on top as separate views).
However we do have [Snapshotter](https://docs.mapbox.com/android/maps/api/10.7.0/mapbox-maps-android/com.mapbox.maps/-snapshotter/?query=open%20class%20Snapshotter) class with more p

[2022-07-29 11:46] SamuelBrucksch commented on #1413
Hi @kmadsen

great analysis. However i would not expect Xiaomi to fix this in a timely manner. TomTom for example does not seem to rely on Animators. Could you please check if there are other way on how to fix or at least workaround this?

I don't have a Xiaomi device myself, so I unfortunately can't test it.

[2022-07-29 13:26] kiryldz commented on #1535
@florianPOLARSTEPS I did identify the root cause and fixed that in core. Fix should be there in v10.8.0-beta.1.

[2022-07-30 01:53] #1217 closed

[2022-07-30 02:26] ZiZasaurus commented on #1278
@hirschan, thank you for providing your experience with this behavior. Can you provide the version of the SDK where you are currently experiencing this behavior?

[2022-07-30 02:48] ZiZasaurus commented on #1380
@karthisamyxplora, closing this but please feel free to reopen if the issue resurfaces.

[2022-07-30 02:48] #1380 closed

[2022-07-30 02:52] ZiZasaurus commented on #1438
@nmssalman @jdomagni-iabbb thank you for reporting. Can you please verify whether you are experiencing this behavior on our most recent version, v10.7?

[2022-07-31 09:23] jdomagni-iabbb commented on #1438
After upgrading to 10.7, i start getting exception when calling cameraForCoordinates:"The exception that is thrown when an application attempts to  perform a map operation on a worker thread". Run code on Main and it started working, but zoom is still wrong. My previous hack stopped working with 10.7 as well. Here is what i used, i was not able to find out zoom issue with this code on 10.6.1:

[2022-07-31 20:42] haydnwiese commented on #1550
@kiryldz Thank you for the info

[2022-07-31 20:42] #1550 closed

[2022-08-01 00:17] VictorNorthheadSyd opened #1551 "Unable to disable pinch rotation"
## Environment

- Android OS version: 30
- Devices affected:
- Maps SDK Version: 10.5.0

## Observed behaviour and steps to reproduce

I am unable to disable pinch rotation, and I have tried a couple of ways to do that

mapView.gestures.rotateEnabled = false

I also tried disabling the compass but that didn't seem to help

mapView.compass.enabled = false

## Expected behaviour

mapView.gestures.ro

[2022-08-01 02:50] Chaoba commented on #1528
@akirmse We listen to the events from `AndroidGesturesManager` and it does fire `onMoveBegin` and then `onSingleTapConfirmed` events when clicking.

This is a bug and will be fixed.

[2022-08-01 09:12] zhurbaTT commented on #1517
Hello @kiryldz ,
Can I track this internal ticket?

[2022-08-01 09:14] zhurbaTT commented on #1511
I don't see any new cases after upgrading to 10.6.2.

[2022-08-01 09:14] #1511 closed

[2022-08-01 09:43] yunikkk commented on #1517
@zhurbaTT it's in the private tracker, we will post updates here

[2022-08-01 22:19] kmadsen commented on #1413
Am investigating possible workarounds. The `ValueAnimator` uses the [Choreographer](https://developer.android.com/reference/android/view/Choreographer), and the Mapbox SDK relies on the `Choreographer` for not just animations, but also [map rendering](https://github.com/mapbox/mapbox-maps-android/blob/ce278875b87db4f7ff66594ddf866f0ddf5da3e7/sdk/src/main/java/com/mapbox/maps/renderer/MapboxRenderT

[2022-08-02 07:45] zhurbaTT opened #1554 "To fill a FillLayer with an image"
Hello!
Is there a possibility to fill the FIllLayer with a static image?

I see, that there is an option with `fillPattern()` function, but in this case the filling changes when we zoom in or out.
Is there any possibility not to add or remove pattern-images when zooming?

[2022-08-02 09:35] yunikkk commented on #1413
@kmadsen so map rendering is fully broken and not only animations, right? Even manual camera updates won't work if Choreographer is paused/disposed.
Assume Xiaomi just hadn't count on Android Auto usecases and should fix this on their end. Wonder if there are tricky hacks to reenable Choreographer...

[2022-08-02 12:22] dh-hasif commented on #1540
this crash is spiking for users.

[2022-08-02 16:43] kmadsen commented on #1413
@yunikkk Wait.. the render thread is still working. The reason is because the [MapboxRenderThread](https://github.com/mapbox/mapbox-maps-android/blob/ce278875b87db4f7ff66594ddf866f0ddf5da3e7/sdk/src/main/java/com/mapbox/maps/renderer/MapboxRenderThread.kt#L471) is using a background thread. This will work for animations!

Here is an animator that will continue to work even when the app is backgrou

[2022-08-02 21:21] kmadsen opened #1556 "Crash when starting animation from background thread"
When testing solutions for this https://github.com/mapbox/mapbox-maps-android/issues/1413

Ran into this crash

[code]

### Verifying ValueAnimator works on background thread

Here is the code I used to verify that ValueAnimator is designed to work on a background thread. This code can be used in an app without mapbox to create animations. It's the mapbox `WorkerThreadException` that is preventing

[2022-08-03 08:26] SamuelBrucksch commented on #1413
Great progress. Let me know once there is a snapshot or beta version with the workaround implemented, so we can try it in our app.

[2022-08-03 09:15] yunikkk commented on #1540
@dh-hasif have it started spiking after Maps update or with old version?

[2022-08-03 09:18] yunikkk commented on #1556
@kmadsen we indeed require MapboxMap to be called from the main thread only. In Debug builds we have a check that will throw an exception, however in Release it won't.
Btw - is Xiaomi you're running fully stopping Main thread when app is in BG (or only Choreographer is stopped) ? Is it possible to `post` animation updates to main?

[2022-08-03 10:48] dh-hasif commented on #1540
@yunikkk currently our app points to **maps SDK 10.3.0**
but I could also see an issue reported on **maps SDK 10.6.0** https://github.com/mapbox/mapbox-maps-android/issues/1475

and this crash is spiking for users.
<img width="646" alt="Screenshot 2022-08-03 at 12 45 49" src="https://user-images.githubusercontent.com/101280425/182590099-cb66880e-1e4d-4b42-b1a5-d782d8344ac9.png">

and we could see

[2022-08-03 14:17] ZiZasaurus commented on #1445
@IolandaRosa our newer version v10.7 provides more control and should allow you to accomplish your use case. Are you able to test this out and let us know how it works for you?

[2022-08-03 20:04] kmadsen commented on #1556
It's the `Choreographer.getInstance().postFrameCallback` that needs to be posted by a background thread.

A callstack example is through `Animator.start`

`Choreographer.getInstance().postFrameCallback`
 -- [AnimationHandler.addAnimationFrameCallback](https://android.googlesource.com/platform/frameworks/base/+/master/core/java/android/animation/AnimationHandler.java#95)
 --|-- [ValueAnimator.start

[2022-08-04 09:20] yunikkk commented on #1556
That's definitely possible, guess we just hadn't seen a reason to allow animator to run from the BG thread and post updates to main internally.

Not sure I follow, you're saying that Choreographer is working on the BG thread? I was asking whether MainThread's looper itself is working and simple `mainHandler.post` will be handled while app is in bg. Guess it is, since platform android views (eg spe

[2022-08-04 09:29] rychuelektryk commented on #1413
Hi, great investigation. Any news?

[2022-08-04 11:00] bartek977 opened #1559 "Crash on zoom in"
## Environment

- Android OS version: Android 11, Android 8
- Devices affected: Samsung Galaxy Tab A8, Huawei MediaPad T5
- Maps SDK Version: 10.7.0

## Observed behavior and steps to reproduce

There is a crash when I zoom in to a specified value in style.json. Maybe there is a problem with huge amounts of features/ points (sometimes there are 260k features/ 540k points).

During loading sources

[2022-08-04 18:12] kmadsen commented on #1413
This will take some time. It is an odd behavior from Xiaomi to require animations to be started from a background thread.

There are some [assumptions](https://github.com/mapbox/mapbox-maps-android/issues/1556) that animations are started from the main thread, and we use android animator framework for location and camera animations.

[2022-08-04 18:41] kmadsen commented on #1556
On Xiaomi, calls to `Choreographer.postFrameCallback` are ignore when called from the main thread (only when the app is put into background). The MIUI has a unique `Choreographer` with this behavior. https://github.com/mapbox/mapbox-maps-android/issues/1413

The [MapboxRenderThread](https://github.com/mapbox/mapbox-maps-android/blob/ce278875b87db4f7ff66594ddf866f0ddf5da3e7/sdk/src/main/java/com/ma

[2022-08-05 08:05] gdgcentrica opened #1562 "Make possible to zoom to a FeatureCollection or a list of Points"
## New Feature
Add on CameraBoundsOptions.Builder the possibility to zoom to bounds made by a FeatureCollection and/or by multiple Points.
(If this feature already exists please make it clear on documentation)

## Why
On v9 sdk it was possible to zoom to a LatLngBound builded by a list of LatLng, now in v10 sdk is impossible to do the same with Point and CoordinateBounds.
Now if i want to display

[2022-08-08 04:39] Chaoba commented on #1528
Fixed in https://github.com/mapbox/mapbox-maps-android/pull/1552. Feel free to reopen this issue if you have other questions about this.

[2022-08-08 04:39] #1528 closed

[2022-08-09 13:19] ZiZasaurus commented on #1566
@BenCooke can you please provide the following information so we can investigate this behavior:
-  When are you receiving this crash?
-  Is this a consistent crash or does it happen intermittently?
-  What version and which SDK are you running?

[2022-08-09 15:14] benferris-tl opened #1570 "MapView visibility not working as expected"
## Environment

- Android OS version: 12
- Devices affected:
- Maps SDK Version: 10.7.0

## Observed behavior and steps to reproduce

I'm working with a layout that contains two MapViews and toggles their visibilities to display one at a time. I've noticed that when a MapView's visibility is set to `invisible` or `gone` in the layout file, it does not appear when it is later set to `visible`. Also

[2022-08-09 23:57] ZiZasaurus commented on #1496
Closing for now, but please feel free to reopen if you continue to experience this issue.

[2022-08-09 23:57] #1496 closed

[2022-08-10 09:05] elcolto commented on #1475
Sorry, for long time no comment...

Actually we had a change of providing the `resourceoptions`

The crash only happened if we just had an implementation like:
[code]

we never set it via xml before. It may seems that the `ResourceOptionsManager` invalidates the access token after a plenty of time.

After setting the token via xml attribute `mapbox_resourcesAccessToken`, the crash doesn't occur an

[2022-08-10 14:25] carlosvaccari commented on #1535
@kiryldz What is the expectation for v10.8.0-beta.1 to be release? Tks!

[2022-08-10 14:29] kiryldz commented on #1535
@carlosvaccari it should be out this week.

[2022-08-11 08:28] BenCooke commented on #1566
Hello,

This is an intermittent crash while the Map is on screen
Using Mapbox Navigation SDK version: 2.6.0

[2022-08-11 09:44] kiryldz commented on #1570
@benferris-tl could you please try to configure both map views as
[code]
in xml layout file and see if it will help?

[2022-08-11 10:21] Oriient-Michael opened #1579 "Using Mapbox and Pytorch in the same project"
Hello,

I'm trying to use Mapbox and Pytorch together in the same Android project but I receive this compilation error:
2 files found with path 'lib/arm64-v8a/libc++_shared.so' from inputs:
 - /Users/eyalamir/.gradle/caches/transforms-3/39574a221961eb18fa9deadbee69fea4/transformed/common-22.1.0/jni/arm64-v8a/libc++_shared.so
 - /Users/eyalamir/.gradle/caches/transforms-3/c73fb4c1d8f48b7cbb206e3106

[2022-08-11 12:55] kiryldz commented on #1579
Hello @Oriient-Michael!
From what I see in https://pytorch.org/mobile/android/ - `It’s recommended to use NDK 21.x.`.
We're building our native part with https://github.com/android/ndk/wiki/Changelog-r21#r21e as well.

All that in total allows me make an assumption that `libc++_shared.so` used both for Mapbox and Pytorch should be compatible and the solution in your case will be adding to your app

[2022-08-11 13:01] Oriient-Michael commented on #1579
Thank you @kiryldz, we will give it a try!

[2022-08-11 15:00] benferris-tl commented on #1570
@kiryldz That seems to prevent the overlap issue but I still see the other issue where the map never appears if it was not initially `visible`.

[2022-08-11 15:12] kiryldz commented on #1570
Does moving the map makes it visible?

[2022-08-11 15:58] benferris-tl commented on #1570
No, it behaves the same way as in the first video, you move it and change the zoom and see the scale indicator change but the rest remains blank.

[2022-08-11 18:41] JasonCromer commented on #1579
@kiryldz @Oriient-Michael we are using both the Mapbox and Oriient SDK in our project, and have tried the solution above.
This yields an error that two of our modules `contain entry 'lib/arm64-v8a/libc++_shared.so' with different content.` One of these modules contains the mapbox SDK, and the other contains the Oriient SDK.

The issue here is that the `so` files are mismatching, which leads me to

[2022-08-11 19:13] narko commented on #1490
@kmadsen API 5 seems to be supported now, which includes the `onClick` in the `SurfaceCallback`. See https://developer.android.com/jetpack/androidx/releases/car-app#version_13_2

[code]

**Features annotated with API level 5 are compatible with Android Auto 7.9 and above.**

[2022-08-12 13:13] kiryldz commented on #1517
Should be fixed by https://github.com/mapbox/mapbox-maps-android/pull/1591. Planning to be released in v10.8.0-rc.1.

[2022-08-12 13:14] kiryldz commented on #1535
https://github.com/mapbox/mapbox-maps-android/releases/tag/v10.8.0-beta.1 is out, should be fixed. If issue persists, please feel free to re-open.

[2022-08-12 13:14] #1535 closed

[2022-08-12 15:24] Salvrath opened #1594 "Plugin [id: 'com.android.lint'] was not found"
Build file 'C:\Users\xxxx\Downloads\mapbox-maps-android-main\mapbox-lint\build.gradle' line: 3

Plugin [id: 'com.android.lint'] was not found in any of the following sources:

* Try:
Run with --info or --debug option to get more log output. Run with --scan to get full insights.

* Exception is:
org.gradle.api.plugins.UnknownPluginException: Plugin [id: 'com.android.lint'] was not found in any of t

[2022-08-13 04:34] florianPOLARSTEPS commented on #1535
@kiryldz thanks. I'm currently out of office. Will double-check once back.

[2022-08-13 13:14] ZiZasaurus commented on #1562
@gdgcentrica you can use the following methods to set the camera to a specific geometry or coordinates:
- [cameraForGeometry ](https://docs.mapbox.com/android/maps/api/10.7.0/mapbox-maps-android/com.mapbox.maps/-camera-manager/#1074437554%2FFunctions%2F540127926) if you'd like to center the camera on a particular shape
- [cameraForCoordinateBounds](https://docs.mapbox.com/android/maps/api/10.7.0/m

[2022-08-14 06:11] Oriient-Michael commented on #1579
@kiryldz Can it be that PyTorch and MapBox are built with different patches of NDK 21? If that is true, what is the risk of choosing one over another?

[2022-08-14 06:11] Oriient-Michael commented on #1579
@kiryldz Can it be that PyTorch and MapBox are built with different patches of NDK 21? If that is true, what is the risk of choosing one over another?

[2022-08-14 22:04] ZiZasaurus commented on #1594
@Salvrath, when are you receiving these errors? Are you trying to build the Examples app or are you building with the Maps SDK for Android? Additionally, have you seen our [installation documentation](https://docs.mapbox.com/android/maps/guides/install)?

[2022-08-15 03:00] VincentJoshuaET commented on #1562
`cameraForCoordinates ` only takes a list of `Points` though. Would be great to have List<Geometry>

[2022-08-15 08:14] kiryldz commented on #1570
@benferris-tl yeah, I could reproduce it. I did spend a bit of time trying to think of workaround however nothing came to my mind yet. I'll create an internal ticket and we'll look deeper into that.

[2022-08-15 09:48] kiryldz commented on #1579
@Oriient-Michael that could be possible. NDKs within one patch should potentially be compatible however at least from my experience NDK developers may not be that graceful and some breaking changes could appear even between patches - I do remember once that some public method was dropped between patches in the same NDK 😄

I could just advise you check hashes for `libc++_shared.so` for both Pytorch

[2022-08-15 09:56] Oriient-Michael commented on #1579
@kiryldz Thank you for the support. Eventually, we managed to rebuild PyTorch from the source and adjust the build process to use static runtime for C++ STL. This way we will avoid conflicts with MapBox and any other vendors that use shared runtime. It is interesting that using the shared runtimes is discouraged in the [documentation](https://developer.android.com/ndk/guides/cpp-support#shared_run

[2022-08-15 09:56] #1579 closed

[2022-08-15 10:14] moritzzzzz commented on #1475
@elcolto Thank you for letting us know! Would you mind if we close the issue? cc @tobrun

[2022-08-15 10:53] #1517 closed

[2022-08-15 11:10] Zayankovsky opened #1596 "Crash in MapboxWidgetRenderer"
[code]
Looks like `MapboxWidgetRenderer` should use `CopyOnWriteArrayList`.
cc @mapbox/maps-android

[2022-08-15 17:54] alexbranti commented on #1019
I'm also observing this crash on Mapbox 10.7.0

[2022-08-15 18:04] oleksandr-riabykh opened #1598 "[maps-core]: {MapboxRenderThr}[Shader]: Shader failed to compile 4:24: L0002: Function 'texture2D' not supported on target"
## Environment

- Android OS version: 7.1/Nougat
- Devices affected: Samsung Galaxy S2
- Maps SDK Version: 10.6.0

## Observed behavior and steps to reproduce

Integration 3D ride animations

[code]

[2022-08-15 21:14] ZiZasaurus commented on #1566
@BenCooke to help the team investigate this issue further, can you please provide a minimal test case that reproduces this behavior.

[2022-08-15 21:16] ZiZasaurus commented on #1562
@VincentJoshuaET if you use [cameraForGeometry](https://docs.mapbox.com/android/maps/api/10.7.0/mapbox-maps-android/com.mapbox.maps/-camera-manager/#1074437554%2FFunctions%2F540127926) you can pass a line string or any geometry instead of a list of points.

[2022-08-15 22:51] florian-mlr opened #1599 "Circle annotation not displayed"
## Environment

- Android OS version: 12
- Devices affected: Pixel 4a
- Maps SDK Version: 10.7.0

## Observed behavior and steps to reproduce

I've followed and copy paste the code given by the documentation https://docs.mapbox.com/android/maps/guides/annotations/annotations/ , the circle is not displayed on the map.

## Expected behavior

Display a circle annotation on the map

## Notes / prelimi

[2022-08-16 07:16] gdgcentrica commented on #1562
@ZiZasaurus  thank you very much, it was exactly what i was searching for.

I think that this feature is important and needs to be highlighted here: [Guides](https://docs.mapbox.com/android/maps/guides/) and/or here: [Examples](https://docs.mapbox.com/android/maps/examples/)

[2022-08-16 09:10] #1596 closed

[2022-08-16 09:13] bartek977 commented on #1559
Hi, any ideas how to solve this problem?

[2022-08-16 09:27] ank27 commented on #1599
@florian-mlr please follow the example to create circle annotation: https://github.com/mapbox/mapbox-maps-android/blob/main/app/src/main/java/com/mapbox/maps/testapp/examples/markersandcallouts/CircleAnnotationActivity.kt

[2022-08-16 09:47] kiryldz commented on #1598
@oleksandr-riabykh - could you please specify (just to be sure) if it fails with the very basic map or are you trying to enable terrain / globe functionality?
E.g. will the following code have the same error:
[code]

[2022-08-16 16:34] narko commented on #1490
@kmadsen I have created a WIP PR, where I am trying to add support for this using the androidx.car.app version 1.3.0-alpha01.

I know that AA is not on 7.9 (in Google Play), but I'd like to give this a try using some AA betas. Would you mind if I ask a question directly on the PR changes?

[2022-08-16 17:25] florian-mlr commented on #1599
Thank you @ank27  , it works !
I had to create the circle once the style was loaded (in the `loadStyleUri` callback)

[2022-08-16 21:54] #1599 closed

[2022-08-17 11:38] pengdev commented on #1391
We have introduced a calibration callback in https://github.com/mapbox/mapbox-maps-android/pull/1513 which is invoked when the compass needs to be calibrated for better heading positioning. This allows developers to notify their users that they need to re-calibrate their device.

The calibration callback is introduced in the [v10.8.0-beta.1](https://github.com/mapbox/mapbox-maps-android/releases/t

[2022-08-17 12:24] kiryldz commented on #1570
@benferris-tl after looking into it a bit deeper it seems that if initially `TextureView` or `SurfaceView` was invisible / gone (which happens when you create `MapView` as invisible / gone) - then no rendering will happen even if you'll make it visible again later on programatically (described e.g. [here](https://stackoverflow.com/a/26350949) and in several other places).

I could imagine that ref

[2022-08-17 17:27] benferris-tl commented on #1570
@kiryldz Thanks for looking into it. I think we're going to end up just consolidating the two `MapView`s into one and manipulating the camera to accomplish what we want.

[2022-08-17 20:25] maclne commented on #1460
@dudeuter caching of satellite imagery works fine on the MapBox for iOS, but not Android. Is the Android SDK just lagging behind a bit?

[2022-08-17 20:40] dudeuter commented on #1460
Are you referring to caching? Or creating Offline Regions with Raster sources?

[2022-08-17 21:01] maclne commented on #1063
@dudeuter is the 3d Terrain available offline yet? I can't find any information on it.

[2022-08-17 21:21] ErikOutside commented on #1460
@dudeuter I am also observing this issue while using "mapbox://styles/mapbox/satellite-v9" from the Style.SATELLITE constant as the styleURI in my TilesetDescriptor. The TileStore seems to download the tile regions successfully, however, it won't use the cache data when reloading Mapbox with the same Style.SATELLITE as the styleUri parameter in loadStyle.

Offline caching via TileStore is working

[2022-08-17 22:33] oleksandr-riabykh commented on #1598
no need anymore. we decided to drop support 7.1/Nougat
@kiryldz

[2022-08-18 05:52] ghadeeraqraa1992 opened #1609 "View annotation is sliding/moving while the map is moving"
## Environment

- Android OS version: Android 11
- Devices affected: real android devices
- Maps SDK Version: 10.7

## Observed behavior and steps to reproduce

I'm using view annotation in order to draw a custom pin on the map following the code below. I notice an issue which is the pins are sliding/moving while changing the map area by moving it and zooming in/out
Attached is a video record

##

[2022-08-18 06:50] jerichoo0010 opened #1610 "Plugin [id: 'kotlin'] was not found in any of the following sources:"

[2022-08-18 08:33] #1610 closed

[2022-08-18 09:01] #1598 closed

[2022-08-18 09:14] kiryldz commented on #1609
@ghadeeraqraa1992 on Android it is impossible to fully synchronize Android view (aka view annotation in our SDK) and Mapbox MapView (using dedicated OpenGL thread). We are trying to render them at the same time to achieve better synchronization however e.g. if your overall Android system is overloaded - it could still be not perfect.

Firstly, make sure that you're using correct view annotation up

[2022-08-18 09:16] kiryldz commented on #1570
@benferris-tl would be still curious if https://github.com/mapbox/mapbox-maps-android/issues/1570#issuecomment-1217940070 will work out for you.
In any case, closing this as it's not actionable from our side.

[2022-08-18 09:16] #1570 closed

[2022-08-18 11:52] kiryldz commented on #1559
Hey @bartek977! I did check out your project and was able to see indeed runtime crashes. This is related to huge feature collections we need to parse in runtime on worker threads. Runtime styling is not prepared to accept such huge collections however there's another way to do this in a better way (and it is actually designed to apply huge amount of data).

You should prepare your data as vector t

[2022-08-18 12:53] bartek977 commented on #1559
Hi @kiryldz, thanks for the answer, but is it possible to use vector tiles offline? Could you share an example how to do it?

[2022-08-18 13:08] kiryldz commented on #1559
Yes, vector sources should be working in offline as well. An example how to work with offline could be found in [this](https://github.com/mapbox/mapbox-maps-android/blob/main/app/src/main/java/com/mapbox/maps/testapp/examples/OfflineActivity.kt) activity. The only thing is that you'll need then to add those vector sources in style directly (not as runtime styling in your code), that could be done

[2022-08-18 16:04] maclne commented on #1460
I was using caching as a generalized term. I'm referring to creating an Offline Region with mapbox://styles/mapbox/satellite-v9 as the StyleURI, just like @ErikOutside mentioned above.

[2022-08-18 19:29] ZiZasaurus commented on #1438
@jdomagni-iabbb can you please provide a screenshot of the exception that you are receiving?

[2022-08-20 15:53] abdullahjhussein opened #1618 "Mapbox SDK memory leak detected!"
## Environment

- Android OS version: V12
- Devices affected: Google Pixel 6
- Maps SDK Version: V10.7.0

 Mapbox SDK memory leak detected! MapboxMap object (accessing getStyle) should not be stored and used after MapView is destroyed.

[2022-08-23 09:24] bartek977 commented on #1559
Hey @kiryldz, I've prepared vector tiles using mapbox studio and even tilesets cli, but something is not working. I get `Mapbox: [maps-core]: {TileStoreFileSo}[General]: Failed to get datasets from URL template http://a.tiles.mapbox.com/v4/appsgoconnectit.maatvoering-lijn/{z}/{x}/{y}.vector.pbf?access_token=REDACTED`

[2022-08-23 09:49] kiryldz commented on #1559
@bartek977 just a wild guess - do you have `android:usesCleartextTraffic="true"` declared in your AndroidManifest.xml?

[2022-08-23 12:50] bartek977 commented on #1559
yep, without it I had Network security policy exception

[2022-08-24 08:43] kiryldz commented on #1559
@bartek977 did you follow https://docs.mapbox.com/help/tutorials/get-started-mts-and-tilesets-cli/#? Or how did you get your vector source from above?

[2022-08-24 08:48] bartek977 commented on #1559
Yeah, I followed steps from video, and the vector tile is working in Mapbox studio.
My recipe:
[code]

[2022-08-24 09:32] kiryldz commented on #1559
@bartek977 could you please try loading vector source as:
[code]
Then add source-layer property to your `style.json`:
[code]
And also not forget to set camera programatically to the correct position:
[code]

[2022-08-24 10:56] bartek977 commented on #1559
Okay, it works, thank you very much :) is there a way to load vector tiles created using [tippecanoe](https://github.com/mapbox/tippecanoe)?

[2022-08-24 11:51] kiryldz commented on #1559
Glad to hear it did work!
I don't know tbh what tippecanoe is, I'm aware only about tilesets prepared with MTS.

[2022-08-24 11:51] #1559 closed

[2022-08-24 14:31] bartek977 commented on #1559
tippecanoe is an util from Mapbox to convert geojson to vector tiles. I already have converted geojsons to mbtiles but have a problem with loading them into mapbox. The solution with Mapbox vector tiles works very good, but I need to load sources without internet connectivity, so offline manager from [this example](https://github.com/mapbox/mapbox-maps-android/blob/main/app/src/main/java/com/mapbo

[2022-08-25 01:10] ChristopheHochP opened #1630 "Logo and Attribution margin modifications not applied"
## Environment

- Android OS version: v28 and v31
- Devices affected: Samsung Note 8 and Pixel 6
- Maps SDK Version: 10.7.0

## Observed behavior and steps to reproduce

After first initialisation of the MapView, I found that any attempt to modify either the logo or attribution settings is not having any visual impact.

I tried the following with no success whatsoever:
[code]

## Expected behavior

[2022-08-25 08:27] kiryldz commented on #1630
@ChristopheHochP could you simply try updating properly directly, like `mapView. logo. marginBottom = 50f`? Although indeed it looks a bit strange that `updateSettings` is not working..

[2022-08-25 09:40] stefanmuljadi commented on #1618
I also have this issue.

[2022-08-25 20:41] ChristopheHochP commented on #1630
Thank you @kiryldz for taking the time to reply to me message, it is much appreciated!

Unfortunately, I tried to directly update the property like you suggested and it did not changed anything on the map. However, I can conform that for all of my different attempt, if I call `mapView.logo.getSettings()`, I can see that my changes are properly recorded, they just do not end up changing the logo or

[2022-08-29 01:11] wen-kai commented on #1460
we're also experiencing the same issue as folks above. @dudeuter thank you for the info, could you please elaborate regarding the workaround described above? Are you saying to include a `"tiles": ["mapbox://styles/mapbox/satellite-v9"]` property within the tile source definition along with `"url": "mapbox://styles/mapbox/satellite-v9"`? Is this done when using offlinemanager to download tiles for

[2022-08-29 08:15] kiryldz commented on #1630
@ChristopheHochP we do have sample [activity](https://github.com/mapbox/mapbox-maps-android/blob/main/app/src/main/java/com/mapbox/maps/testapp/examples/OrnamentMarginActivity.kt) that actually updates margins for all our ornaments when rotating the map - and it does work expected at least on my devices. Can you give it a try as well?

[2022-08-29 10:54] sleushunou commented on #1460
I faced this problem too.
Also I tried to download custom raster tileset through TilesetDescriptorOptionsForTilesets. It was downloaded successfully, but it doesn't show up on the map in offline mode, only online.
I add it to map by using RasterLayer, and specify raster tile uri like
"https://api.mapbox.com/v4/{_tileSetId}/{{z}}/{{x}}/{{y}}.png?access_token={accessToken}".
Does MapBox works with r

[2022-08-29 13:23] #1609 closed

[2022-08-29 21:59] ChristopheHochP commented on #1630
Thanks for the suggestion @kiryldz , I tried using the same code and it still failed to make the logo or attribution move after the first initialisation.

The one difference in our code with the examples that I can see is that our class is actually extending MapView directly instead of extending AppCompatActivity. The reason is that we are integrating Mapbox into our own React Native application.

[2022-08-30 18:54] ThibaudLopez opened #1634 "Repository ownership"
This is an automated script to ensure repo [`mapbox-maps-android`](https://github.com/mapbox/mapbox-maps-android) has active maintainers.

- This repo has a [`CODEOWNERS`](https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners) file at [`.github/CODEOWNERS`](https://github.com/mapbox/mapbox-maps-android/blob/main/.githu

[2022-08-30 22:45] wen-kai commented on #1460
@dudeuter unfortunately your suggested workaround doesn't seem to work.
Here are the steps:

1. Successfully download a TileRegion for the styleURI `mapbox://styles/mapbox/satellite-v9`
2. Go offline
3. Render Map with a RasterLayer reading from a RasterSource where the url is pointed to the satellite tileset `mapbox://mapbox.satellite`. I also tried changing the tiles array to `['https://api.mapb

[2022-08-30 22:47] wen-kai commented on #1460
@dudeuter unfortunately your suggested workaround doesn't seem to work.
Here are the steps:

Successfully download a TileRegion for the styleURI mapbox://styles/mapbox/satellite-v9
Go offline
Render Map with a RasterLayer reading from a RasterSource where the url is pointed to the satellite tileset mapbox://mapbox.satellite. I also tried changing the tiles array to ['https://api.mapbox.com/v4/mapb

[2022-08-31 05:40] SamuelBrucksch commented on #1413
Hi @kmadsen

can you please provide a rough estimate when this will be fixed? We are losing more and more users due to this.

[2022-08-31 13:09] kiryldz commented on #1630
Well, if an example that does work for Android but does not work for React Native app - then for me it seems that the issue could be exactly in React Native setup 😄 Can you by chance try your code / our example code in pure Android example? I don't have experience with using our SDK with react native tbh so can't say anything for sure here.

[2022-09-01 01:26] caustin13 commented on #1618
I have this issue when popping back to the map fragment using androids navigation components. I believe it may be due to the new embedded mapView lifecycle components (v10.0.0-rc.5 onwards) destroying the map after navigation.

[2022-09-01 14:00] kiryldz commented on #1413
@SamuelBrucksch I've drafted implementation to allow using background thread for animations [here](https://github.com/mapbox/mapbox-maps-android/pull/1638). Next step is to incorporate that into AA + Nav SDK if needed.

Rough optimistic estimate: v10.9.0-beta.1 Maps release, happening in 3 weeks.

[2022-09-01 14:13] SamuelBrucksch commented on #1413
Ok that sounds great. Please let me know as soon as there is a snapshot version we can use for testing. We only use Mapbox and not the AA / Nav SDK, so once the change is in mapbox we can already test this.

[2022-09-01 14:46] tir38 opened #1640 "Listen to all gestures in single listener"
## New Feature

I need a way to detect *that* the user interacted with the map. I don't care if they pinched/ panned/ zoomed/ flinged etc. Currently I have to wire up a bunch of listeners to `GesturePlugin`, one for each gesture type. I then have to keep track of these listeners and remove each one in `onStop`. I would love a method that took in a single function to call on _any_ change. I don't e

[2022-09-01 14:49] tir38 opened #1641 "com.mapbox.maps.testapp.examples.GesturesActivity is not removing gesture listeners"
In the sample app `com.mapbox.maps.testapp.examples.GesturesActivity` is not removing gesture listeners. IIUC [from docs this](https://docs.mapbox.com/android/maps/guides/user-interaction/#listen-for-gesture-events) is required. It's confusing that the sample app doesn't do this but still works fine.

[2022-09-01 17:51] BryanJonesRichardson opened #1642 "setFeatureState not updating SymbolLayer"
I'm trying to have map icons that change color when they are clicked.  When I use setFeatureState and subsequently call getFeatureState the output in my log shows that the state map for the Feature has been updated correctly. However, the map icons  on SymbolLayer never get updated.  However, circles on CircleLayer respond to featureState changes and update as expected. I followed this code exampl

[2022-09-01 23:44] dudeuter commented on #1460
I've pushed a working example to the branch [`sd-offline-raster`](https://github.com/mapbox/mapbox-maps-android/compare/main...sd-offline-raster).

https://github.com/mapbox/mapbox-maps-android/blob/1fee4a831a295f2560ef9f89e464e8df1a048e19/app/src/main/java/com/mapbox/maps/testapp/examples/OfflineActivity.kt#L110-L123

This workaround is forcing the renderer to use exclusively 256px tiles, so you'

[2022-09-02 07:11] kiryldz commented on #1413
@SamuelBrucksch you could try `10.8.0-beta.1-MAPSAND-395-introduce-runtime-option-to-run-animators-on-non-main-thread-2dcb37457-SNAPSHOT`, just add additional mirror as described in https://github.com/mapbox/mapbox-maps-android/blob/main/DEVELOPING.md#working-with-snapshots.

[2022-09-02 07:17] SamuelBrucksch commented on #1413
I will, is there anything we have to do in our code too? In the PR i saw that you can now switch between background and main runner. Is that done automatically or do I have to switch myself for certain devices?

[2022-09-02 07:19] kiryldz commented on #1413
That snapshot provided above does not yet have AA related code that @kmadsen added so everything should be enabled from your end for now.

[2022-09-02 07:37] SamuelBrucksch commented on #1413
Ok so if we notice, that we have some problematic phones like Xiaomi on Android 12+, i just have to call `AnimationThreadController.useBackgroundThread()` before initializing mapbox? Or is there anything else i have to do?

[2022-09-02 07:57] florianPOLARSTEPS commented on #1535
@kiryldz I can confirm it's working starting `10.8.x`. 👍

[2022-09-02 08:18] florianPOLARSTEPS opened #1643 "[Performance] dispatchTelemetryTurnstileEvent on main thread"
## Environment

- Android OS version: any
- Devices affected: any
- Maps SDK Version: 10.7.x - 10.8.x (but probably more)

## Observed behavior and steps to reproduce

I have been doing some benchmarking of startup times for my screens that contain mapbox maps, and found that a significant portion of startup time comes from firing `Turnstile events` during mapcontroller startup.

I guess it's nece

[2022-09-02 08:32] SamuelBrucksch commented on #1413
No matter what i try, i always end up with this exception:
[code]

I call `AnimationThreadController.useBackgroundThread()` in `onSurfaceAvailable()` before we initialize mapbox, tried it at the end when all is initialized before we actually call any animations but it ended up in the same result. Any advice @kiryldz ?

[2022-09-02 09:24] kiryldz commented on #1413
@SamuelBrucksch - if you have some preconditions like (AA + Xiaomi + Android 12+) - then better better enable that for this use-case _only_. Additionally I'd advise to run `useBackgroundThread()` only when going to background on device (locking the screen) and use `useMainThread()` everywhere else.

About the exception - I did publish latest snapshot `10.8.0-beta.1-MAPSAND-395-introduce-runtime-op

[2022-09-02 09:35] SamuelBrucksch commented on #1413
Thanks @kiryldz it seems to work now, tried it on a non Xiaomi phone with background always on. However it seems to have some hickups in the animator. Please check the video below

https://user-images.githubusercontent.com/8776268/188110647-72d25b05-4390-478b-b56d-c848664b5ed8.mp4

Is that something than can also be fixed easily? Because those jumps are quite distracting.

[2022-09-02 09:44] kiryldz commented on #1413
Well, it could be tonns of things...
1. Are you using `ViewportPlugin`?
2. Could you please enable `CameraAnimationsPlugin.debugMode` and take a look at the logs?

[2022-09-02 10:01] SamuelBrucksch commented on #1413
This is definitely related to the background animators, as it works when disabling the background thread. We don't use the ViewportPlugin, just plain camera animation.

However we call animator.cancel() before starting the next animation so that two animations that follow quickly after another do not cause any strange side effects if the first did not finish when the second starts.

[code]

Debug

[2022-09-02 10:37] kiryldz commented on #1413
Thanks for sharing this, I fixed several issues based on your findings please checkout latest snapshot `10.8.0-beta.1-MAPSAND-395-introduce-runtime-option-to-run-animators-on-non-main-thread-dd43c7cb2-SNAPSHOT`.

Side note: if you're creating and operating with any animator sets in your code directly - e.g. created:
[code]
you __must__ also wrap `start()` call properly:
[code]

If you're using hig

[2022-09-02 10:46] SamuelBrucksch commented on #1413
We only use easeTo, so i guess it should be fine. So i guess we don't need to cancel either?

[2022-09-02 10:48] SamuelBrucksch commented on #1413
BTW dd43c7cb2 seems to work fine for easeTo. Thanks. So I will do some more testing and then try to get feedback from some Xiaomi users.

[2022-09-02 10:49] kiryldz commented on #1413
Cancelling high-level animations was fixed (hopefully) with last snapshot.

[2022-09-02 17:44] cafesilencio opened #1644 "Crash: Out of memory when adding layer source."
This is a clone of an issue reported to the navigation SDK team.  Unfortunately this is all the information we have at this time.

[2022-09-03 17:50] SamuelBrucksch commented on #1413
Out dev with the Xiaomi phone confirmed that it worked in an emulated drive. We also have some users testing that now on real trips. Will provide more feedback once we collected some data.

[2022-09-04 08:47] ghadeeraqraa1992 commented on #1609
@kiryldz

1. I converted my view to bitmap : Passed
2. I added the bitmap to the map view following the code below

            styleExtension = style(Style.MAPBOX_STREETS) {
                // prepare blue marker from resources
                +image(BLUE_ICON_ID) {
                   b
                }
                +geoJsonSource(SOURCE_ID) {
                    geometry(point)

[2022-09-04 22:45] wen-kai commented on #1460
Thanks so much @dudeuter
We're using [rnmapbox](https://github.com/rnmapbox/maps) which uses this package under the hood.
I implemented your example with a RasterLayer reading from a RasterSource with the v4 api tile template; however, it does not work offline. The error is `Unable to resolve host "api.mapbox.com": No address associated with hostname`.
Is there anything specific in addition that n

[2022-09-06 07:39] SamuelBrucksch commented on #1413
So we got some feedback that the map seems to move, no feedback from very long drives unfortunately, but at least on some shorter drives it worked.

[2022-09-06 11:55] cattcal opened #1646 "Marker WMS LocationComponentPlugin"
1. Add a WMS layer to the map, how come the marker points are now above the WMS layer?
2. How to display the currently positioned icon on the WMS?

[2022-09-06 15:06] ErikOutside commented on #1460
@dudeuter Thanks for providing more details. I tried implementing the same approach, but saw the same result as @wen-kai.

Given that official support is on-the-way, do you have any ETA on when we can expect this to be resolved?

[2022-09-07 00:00] VincentJoshuaET opened #1649 "Show built-in UI to calibrate compass"
## New Feature

Something like the one from Google Maps:
![image](https://user-images.githubusercontent.com/19756326/188760137-9efab661-bb16-4ac6-b440-ebe46e7ba7ef.png)

[2022-09-07 06:46] caustin13 commented on #1455
As a temporary fix, you can exclude the 'maps-lifecycle' plugin from the com.mapbox.maps dependency (Documentation states that this plugin was added into the com.mapbox.maps dependency from v10.0.0-rc.5). While this does remove the automatic lifecycle handling from the application - it allows for navigation back to a map fragment.

Tested and working with com.mapbox.maps:android:10.8.0-rc.1

[2022-09-07 06:47] caustin13 commented on #1618
As a temporary fix, you can exclude the 'maps-lifecycle' plugin from the com.mapbox.maps dependency (Documentation states that this plugin was added into the com.mapbox.maps dependency from v10.0.0-rc.5). While this does remove the automatic lifecycle handling from the application - it allows for navigation back to a map fragment.

Tested and working with com.mapbox.maps:android:10.8.0-rc.1

[2022-09-07 07:32] felixkrautschuk commented on #1455
@caustin13 thank you, this is working! Indeed I don't want all of this automatic lifecycle handling. When the user goes back to the map fragment, I want to keep the whole state of the map (position, zoom-level, visible layers, etc ...).

[2022-09-07 09:20] kiryldz commented on #1618
Hey all!

This error log is printed when `Style` or `MapboxMap` object is stored as local variable and gets accessed after style was reloaded or map view was destroyed. It's not necessarily the leak itself, more of a warning that outdated object is used. In order to understand what's happening please provide more information / provide sample code reproducing it.

@caustin13 - about your use-case w

[2022-09-07 13:10] tobrun commented on #1649
We recently added callback to invoked when this dialog should be shown.
You can implement your own UI on top of this.
see https://github.com/mapbox/mapbox-maps-android/pull/1513

[2022-09-07 13:10] #1649 closed

[2022-09-07 15:33] EricGeiler commented on #1649
cc: @sridhar261990

[2022-09-07 15:39] EricGeiler commented on #1649
Except from Mapbox Support:

Hi there,

Thanks for reaching out to Mapbox support, happy to help!

Our recent pre-release version of Maps SDK Android (10.8.0-beta.1) introduced a callback ([addOnCompassCalibrationListener](https://docs.mapbox.com/android/maps/api/10.8.0-beta.1/mapbox-maps-android/com.mapbox.maps.plugin.locationcomponent/-default-location-provider/add-on-compass-calibration-listene

[2022-09-07 16:53] kmadsen commented on #1158
https://developer.android.com/reference/androidx/car/app/SurfaceCallback#onClick(float,%20float)

This is where it's being added

[2022-09-08 06:18] abdullahjhussein commented on #1618
Hello there,

In my case , This Memory leak because i call `pointAnnotationManager.onDestroy()` in  `onDestroy`.

the solution, in v10 the mapbox handle removing annotations without call `pointAnnotationManager.onDestroy()`

https://docs.mapbox.com/android/maps/guides/migrate-to-v10/#annotations

In pre-v10, AnnotationManager needed to be recycled in the onDestroy method of the host activity. In v

[2022-09-08 06:18] #1618 closed

[2022-09-09 12:33] hanyang6278 opened #1661 "the view shift when language set to ar(rtf layout) and use viewAnnotationManager"
## Environment

- Android OS version: 32
- Devices affected: Vivo
- Maps SDK Version: 10.6.0

## Observed behavior and steps to reproduce
set the system language  to ar, and the view will shift. （the view is correc when system language is English)

the implement:

 val viewAnnotationManager = mapView.viewAnnotationManager
        val formatViewTag = formatViewTag(tag)
        val options = viewAnn

[2022-09-11 09:25] RicardoDolNL commented on #1455
I experience the same problem. I have a tab navigation and if I go to a different tab (while the mapbox is already loaded/shown) and then come back the app will crash on android. I use v10.0.0-beta.33

[2022-09-12 08:17] kiryldz commented on #1661
Thanks for reporting, guess you're correct and there's indeed no support yet. Just to be sure: can you please record a video and add it to the issue description how does it look now without RTL support?

[2022-09-12 09:19] hanyang6278 commented on #1661
I record the video:
https://user-images.githubusercontent.com/47050849/189618007-3e46cb82-82cb-4191-9657-2971b741fd09.mp4

[2022-09-12 10:49] kayc90 opened #1663 "ClusterOptions ClickListener"
## New Feature

I can't set a ClickListener on a Cluster when I set `cluster = true` in the `AnnotationSourceOptions` while initializing MapBox in a Fragment:

`AnnotationSourceOptions(
                  clusterOptions = ClusterOptions(
                      cluster = true
                  )
              )
`

## Why

From UX perspective it would be easier if Clusters of PointAnnotations are clic

[2022-09-12 12:26] ZiZasaurus commented on #1445
@IolandaRosa, closing this ticket but please feel free to reopen if you have additional questions.

[2022-09-12 12:26] #1445 closed

[2022-09-12 12:37] ZiZasaurus commented on #1530
@afterlifehy, I'm happy you were able to get it resolved! Closing the ticket, but please feel free to reach back out if you have additional questions.

[2022-09-12 12:37] #1530 closed

[2022-09-13 11:03] ismai117 commented on #1422
im having the same problem, did you manage to fix It?

[2022-09-13 14:48] m7mdra opened #1665 "Policy for using sdk for rendering only"
Hello.

i was wondering what the policy for using SDK for rendering only while we provide all other data related services like style, navigation..etc

My question is it possible use it this way free of charge? i tried to search for information regarding this topic but with no luck.

Thanks in advance.

[2022-09-14 04:18] ismai117 opened #1668 "jetpack compose - map"
Hi, how do we add markers on the map when using jetpack compose?

I'm trying implement a start and destination markers but I can't figure it out.

[2022-09-14 07:27] kiryldz commented on #1556
Could be closed as the approach was revisited in https://github.com/mapbox/mapbox-maps-android/pull/1638.

[2022-09-14 07:27] #1556 closed

[2022-09-14 13:08] ZiZasaurus commented on #1668
@ismai117 please take a look at our compose app [here](https://github.com/mapbox/mapbox-maps-android/tree/main/compose-app).

[2022-09-14 13:08] #1668 closed

[2022-09-14 13:46] m7mdra commented on #1665
hello @sbma44, thanks for following up.
all clear now.

will close this issue.

[2022-09-14 13:46] #1665 closed

[2022-09-14 16:58] ismai117 commented on #1668
HI @ZiZasaurus, I've already checked the compose app, it does not show how to add markers or location puck specifically for compose. When the maps show up, I can't see the location pointer

[2022-09-14 21:59] ZiZasaurus commented on #1663
@kayc90 while we do not have any options in AnnotationOption to click clusters, you can use [queryRenderedFeatures](https://docs.mapbox.com/android/maps/api/10.8.0/mapbox-maps-android/com.mapbox.maps/-mapbox-map/query-rendered-features.html) to accomplish this.

[2022-09-15 07:39] kayc90 commented on #1663
@ZiZasaurus thank you for the information. It worked pretty well with `queryRenderedFeatures`. This is how I solved it:

`

                        mapView.getMapboxMap().queryRenderedFeatures(
                            geometry = RenderedQueryGeometry.valueOf(
                                mapView.getMapboxMap().pixelForCoordinate(pressedPoint) // pressedPoint: Point

[2022-09-15 07:40] #1663 closed

[2022-09-15 08:59] dh-hasif commented on #1533
We have updated the Mapbox SDK to 10.7.0 and this issue is not occurring anymore. closing this ticket , thanks

[2022-09-15 08:59] #1533 closed

[2022-09-15 10:31] dh-hasif opened #1671 "ANR issue in MapboxRenderThread"
## Environment

- Android OS version: 11 and above
- Devices affected: realme, Vivo, Oppo, Samsung
- Maps SDK Version: 10.7.0

## Observed behavior and steps to reproduce
We are seeing so many ANR in production for Mapbox in Firebase Crashlytics.
Also, customers have reported the app freezing

When using the app with Mapview, the app is freezing and ANR is thrown

## Expected behavior

App should

[2022-09-15 10:45] kiryldz commented on #1671
Most likely fixed in v10.8.0 by https://github.com/mapbox/mapbox-maps-android/pull/1567.
Please update and re-open this if the issue will persist.

[2022-09-15 10:45] #1671 closed

[2022-09-16 19:17] jennamorganjones opened #1673 "As soon as I enter my own coordinates in reference code, map is on correct area but no style layer and directions appear"
Hi. Issue is as the title states, I used the code from https://docs.mapbox.com/android/java/examples/show-directions-on-a-map/ here and it runs just fine with the example coordinates.

The minute I change the target camera coordinates in the layout xml, origin and destination to my desired ones, no icons appear at the coordinate points and no route line. Stack trace looks identical to the tutorial

[2022-09-16 19:26] jennamorganjones commented on #1673
Logcat:
2022-09-16 19:18:53.581 24458-24458/? I/rez.personalmap: Late-enabling -Xcheck:jni
2022-09-16 19:18:53.709 24458-24458/? W/rez.personalmap: Unexpected CPU variant for x86: x86_64.
    Known variants: atom, sandybridge, silvermont, kabylake, default
2022-09-16 19:18:53.878 24458-24458/? V/studio.deploy: Startup agent attached to VM
2022-09-16 19:18:53.878 24458-24458/? V/studio.deploy: No e

[2022-09-18 11:40] eugeneroz commented on #1460
Same issue

[2022-09-19 14:01] ZiZasaurus commented on #1673
@jennamorganjones as this is more of a product support Issue, can you please create a support ticket at https://support.mapbox.com/hc/en-us/ and our support team will be happy to get you the answers you need.

[2022-09-19 15:25] yunikkk commented on #1019
@alexbranti @florianPOLARSTEPS the issue is fixed in the downstream lib [here](https://github.com/mapbox/mapbox-gestures-android/pull/101) and will be supposedly released in 10.8

[2022-09-20 09:05] madbulok commented on #1429
Good afternoon, please tell me, is this bug fixed? He worries me

[2022-09-20 13:29] dh-hasif commented on #1540
We tried this solution as provided in this comment https://github.com/mapbox/mapbox-maps-android/issues/1475#issuecomment-1210381808. we are setting access_token via ResourceOptionsManager during application load and passing access_token via XML to Mapview.

but the issue is not fixed, we could still see the exception occurring for some users in production in Firebase crashlytics.

currently, the

[2022-09-20 15:01] kiryldz commented on #1429
Could you please elaborate if you're facing the same issue and if yes please share the reproducible code snippet? Also answering https://github.com/mapbox/mapbox-maps-android/issues/1429#issuecomment-1156562687 could be relevant.
P.S. This warning message does not actually indicate that the leak is happening, it's more about using cached instance of either `Style` or `MapboxMap` but if those local

[2022-09-20 18:26] jonschmidt opened #1678 "I want to be able to anchor the location puck to the bottom"
## New Feature

We want to be able to make a 2d location puck that has a bottom anchor (basically looks like a more traditional map marker with a tail). Currently it seems you can only provide a puck with a middle anchor. We tried changing the image so that there was empty space at the bottom so that it would work as a center anchor, but the image was unexpectedly scaled by mapbox.

## Why
This is

[2022-09-20 19:07] harikhalsa commented on #1540
@dh-hasif would you be able to test out the recommendations in [this comment](https://github.com/mapbox/mapbox-maps-android/issues/1173#issuecomment-1062707575) and see if this resolves the crash? It's possible you're seeing this behavior in production because the Playstore uses this app bundle.

[2022-09-20 19:12] Njuselis opened #1680 "Issue with 3D Terrain Offline Caching for Mobile"
We released Mapbox support in our Android and iOS clients last week as a beta feature. Adoption is going well with over 2500 users in the first week.

That said, we have a few critical issues that are holding up broader adoption related to offline caching.
We can't get 3d terrain to work offline in either Android or iOS. Is this a supported feature?
Satellite tile data isn't caching on Android, as

[2022-09-21 01:20] akirmse commented on #1529
I don't think this was fixed.  I just got a crash report with the same stack trace running version 10.8.1 of the library.  The device is a Galaxy J5 Prime running Android 8.

[2022-09-21 06:20] #1531 closed

[2022-09-21 12:45] #1673 closed

[2022-09-21 13:25] dh-hasif commented on #1540
@harikhalsa as mentioned in the above comment, this is not the same case in our application, we are not disabling the initialization provider. Even I cross-checked the merged manifest file and I could see all the initialization providers for Mapbox added.

Yes, we were rolling out releases via the app bundle. but this issue came up while we migrated to Mapbox version 9 to 10

[2022-09-21 14:02] ZiZasaurus commented on #1678
@jonschmidt, thanks for reaching out. To better assist you, can you please provide us with some additional information about what you're trying to accomplish, as well as a screenshot of the implementation you're looking for? This will help us better understand your request.

[2022-09-21 15:07] unatarajan commented on #1678
Hi @ZiZasaurus Please see [this ZD ticket](https://mapbox.zendesk.com/agent/tickets/129670) for additional details around the ask.

[2022-09-22 09:22] jinny-nam commented on #1540
hi @dh-hasif,

Can you share if the initialization provider has been [disabled](https://developer.android.com/topic/libraries/app-startup#disable-all) before? It appears there are cases the initialization provider is not recovered even after re-enabling it. In this case, it can be enabled properly by this [solution](https://github.com/mapbox/mapbox-maps-android/issues/1173#issuecomment-1062707575)

[2022-09-22 11:08] kayc90 opened #1687 "Map is partially black when minimizing the App while soft-keyboard is shown"
## Environment

- Android OS version: 12 & 13
- Devices affected: Google Pixel 4 (real device), Google Pixel 5 (emulator) - most likely also other devices
- Maps SDK Version: 10.8.0

## Observed behavior and steps to reproduce

I have a `EditText`/ `TextInput`-View in my Fragment (on top of the `MapView`). When the focus is on the `TextInput`-layout and the soft-keyboard is shown, the Map is parti

[2022-09-22 11:10] kayc90 commented on #1687
I found a workaround by adding `mapbox:mapbox_mapSurface="texture_view"` to my XML-definition:

 <com.mapbox.maps.MapView xmlns:mapbox="http://schemas.android.com/apk/res-auto"
                   android:id="@+id/map_view"
                    android:layout_width="match_parent"
                   android:layout_height="match_parent"
                   mapbox:mapbox_mapSurface="texture_view" />

Wo

[2022-09-22 11:45] kayc90 commented on #1687
I'm already using version 10.8.0

[2022-09-22 12:09] tobrun commented on #1687
cc @kiryldz

[2022-09-22 12:18] kiryldz commented on #1687
@kayc90 - can you try with `surface_view` mode and with latest [v10.9.0-beta.1](https://github.com/mapbox/mapbox-maps-android/releases/tag/v10.9.0-beta.1) version? The fix @tobrun was referencing to is not present in 10.8.0.

If that does not help - then indeed `texture_view` is preferable if you have complex layout with other views overlaying the map, that are changing visibility, transformed etc

[2022-09-22 12:38] kayc90 commented on #1687
@kiryldz @tobrun With `surface_view` and the latest beta version `v10.9.0-beta.1` it seems to work fine now. Thank you.

[2022-09-22 12:38] #1687 closed

[2022-09-23 12:42] EricGeiler commented on #1391
@sridhar261990

[2022-09-23 12:48] EricGeiler commented on #1391
I believe this to be primary related to uncalibrated devices or devices which has "medium" or "low" calibration values as shown in third party sensors or navigation apps.

Proper re-calibrating a device appears to make this issue much less able to be reproduced on a consistent basis.

Device Affected: Sonim  XP8

See attached datasheet for sensor and hardware info if required.
[Sonim_DataSheet_XP8

[2022-09-24 16:44] huahua8893 opened #1689 "Can't find [style.getSource as GeoJsonSource] by java"
Sorry this is not a new feature request, just a question by using mapbox with java, the version is 10.8.0

I'm tying to update featureCollection in realtime, for example add a new feature and put symbol on map, finded example code by kotlin like this:
<img width="774" alt="image" src="https://user-images.githubusercontent.com/10332761/192109269-2367a45d-c7f6-4559-aa19-cd2c1e5571da.png">

But I can

[2022-09-24 17:57] huahua8893 commented on #1689
I just found the extension function for java, thank you

[2022-09-24 17:58] huahua8893 commented on #1689
I just found extension function for java, thank you

[2022-09-24 17:59] #1689 closed

[2022-09-25 10:34] madbulok commented on #1429
I made my own separate class (mediator) to control drawing on the map. The mediator accepts the MapView constructor and initializes the following code:
[code]

In order for this mediator not to be recreated every time, I store the mediator link in the viewmodel. Important - I have provided methods for freeing the memory of `Mediator.onDestroy()` in which I reset all references (including event lis

[2022-09-25 19:27] bomturbo opened #1690 ".."
https://drive.google.com/drive/mobile/folders/1JL_2BmX_G7jdDUAfz1N7M_Fcv1cE96k0/14KXQdLel8ldisGTGW86S8ZsIiPY2SaN1?tab=wo&sort=13&direction=a[4](https://drive.google.com/drive/mobile/folders/1JL_2BmX_G7jdDUAfz1N7M_Fcv1cE96k0/14KXQdLel8ldisGTGW86S8ZsIiPY2SaN1?tab=wo&sort=13&direction=a)

[2022-09-25 19:28] #1690 closed

[2022-09-25 19:28] bomturbo commented on #1690
...

[2022-09-26 10:11] ank27 commented on #1642
@BryanJonesRichardson , the symbol layer `icon-image` does not support feature state, but `circle-radius` of circleLayer does supports feature state property, and that's why you can see the result with circle-radius but not with icon-image.
In order to achieve the result, the property needs to support feature-state.

Please see the documentation
icon-image : https://docs.mapbox.com/mapbox-gl-js/st

[2022-09-26 12:56] kiryldz commented on #1429
@madbulok answers:
1. Android Studio has the profiler and it's the correct way to understand if there's a leak. Technically - no, I could imagine that in case of slightly different lifecycle in your `Mediator` comparing to the one we use in SDK - some `Style` methods could be called on 'outdated' style object (if you're loading the new style).
2. If you have those messages non-stop - most likely y

[2022-09-27 16:40] alexbranti opened #1697 "SIGABRT - Native crash on Samsung devices running Android 12"
## Environment

- Android OS version: Android 12
- Devices affected: Only Samsung devices (SM-S908U, SM-G996U, SM-S901U, SM-N986U, SM-F711U, SM-F936U, ...)
- Maps SDK Version: 10.7.0, 10.8.0

## Observed behavior and steps to reproduce
- We could not reproduce the crash but we can see the analytics events fired before the crash:
- 1. User launches the app. The initial screen is a fragment with a M

[2022-09-27 18:12] jinny-nam commented on #1540
hi @dh-hasif, we are working to fix this issue in the sdk. I will keep you posted about the updates.

[2022-09-27 23:31] dudeuter commented on #1460
Sorry for being a little in and out on this thread.

Hmm, I want to avoid the dreaded: "works in my environment". It looks like the region isn't loaded. I just want to make sure you've verified that you've downloaded the tile packs.

Potentially there are other formats that the renderer might request (and this might change per device) as tile packs that are different from the source being set. You

[2022-09-27 23:39] #1562 closed

[2022-09-28 10:58] narko commented on #1490
@kmadsen added this feature in https://github.com/mapbox/mapbox-maps-android/releases/tag/extension-androidauto-v0.3.0 :tada:

[2022-09-28 10:58] #1490 closed

[2022-09-28 12:14] swathysreenivas commented on #1618
I also have this issue.

[2022-09-28 13:49] alexbranti commented on #1697
@kiryldz  Unfortunately both of those options require us to reproduce the crash and collect the logs from the device. The only thing we have so far are stacktraces from Bugsnag. Do you have any recommendation in how to proceed from here?

We've been observing those crashes from several app releases but they had very different stack traces from each other (resulting in dozens of isolated crashes).

[2022-09-28 16:10] rkariath opened #1705 "Multiple 3d Annotations"
Is it possible to create multiple 3d model annotations in mapbox?

I can create a LocationPuck3d but this works only for current location.
I can also create Point annotations but this accepts only bitmaps or strings (not glb). Am i overlooking something here? Can i loop and create multiple LocationPuck3D in multiple points of the map?

[2022-09-28 16:58] alexbranti commented on #1697
Play Console has more info in the stacktrace (it seems to be related to Camera plugin):

[code]

[2022-09-30 11:59] SamuelBrucksch commented on #1413
Thanks for fixing this.

@kiryldz @kmadsen FYI we just got feedback, that on Xiaomi with Android 11 this workaround does not seem to work, however as the problem was introduced with Android 12, we added a check for xiaomi && >= android 12. You might want to apply that to your android auto implementation or samples if not having it already.

[2022-10-01 07:30] andre99 commented on #1460
Hello @dudeuter when do you expect this to have official support?

[2022-10-03 09:25] swathysreenivas opened #1715 "Mapbox SDK memory leak detected! MapboxMap object (accessing getStyle) should not be stored and used after MapView is destroyed."
## Environment

- Android OS version: 12
- Devices affected: Pixel 4 a
- Maps SDK Version: 10.7.0

## Observed behavior and steps to reproduce

Integrated map SDK and react native bridging done. Unfortunately, the app got stuck and got an error as Mapbox SDK memory leak detected!

## Expected behavior

Map view with navigation should be displayed

## Notes / preliminary analysis

It was working fi

[2022-10-03 14:51] ZiZasaurus commented on #1705
@rkariath, while this is not a supported feature at the moment, the team is working to make this feature available in a future update.

[2022-10-03 15:05] mysport12 opened #1718 "OfflineRegionManager (legacy) createOfflineRegion callback does not get called"
## Environment

- Android OS version: 12
- Devices affected: Pixel 4
- Maps SDK Version: 10.8.0

## Observed behavior and steps to reproduce

Followed the legacy region download example [here](https://github.com/mapbox/mapbox-maps-android/blob/main/app/src/main/java/com/mapbox/maps/testapp/examples/LegacyOfflineActivity.kt) and cannot get the createOfflineRegion callback to fire. We were able to g

[2022-10-03 17:37] mysport12 commented on #1718
I also got the example test app up and running and I am seeing this...

[code]

[2022-10-04 12:55] jinny-nam commented on #1540
hi @dh-hasif, would you be able to implement Maps SDK [v10.8.1](https://github.com/mapbox/mapbox-maps-android/releases/tag/v10.8.1) and see if it resolves the crash? We've include [a change](https://github.com/mapbox/mapbox-maps-android/pull/1695) where we optimise the telemetry module's initialisation and we think this may resolve the crash.

[2022-10-04 14:55] Vissnor opened #1721 "OutOfMemoryException for FeatureCollection.fromFeatures()"
## Environment

- Android OS version: Android 13
- Devices affected: tested on 5, but bug will crash on any device.
- Maps SDK Version: 10.8.0

## Observed behavior and steps to reproduce
Mapbox crashes when making featureCollection from too many features.

Steps to reproduce:
1. Create 240000 features in a list
2. Do call FeatureCollection.fromFeatures(listOfFeatures)

Creating of feature on our

[2022-10-04 15:43] mysport12 commented on #1718
@ZiZasaurus Had some success this morning with both the example app and our React Native app.

The example app issue was just a configuration issue on our end.

The React Native issue was simply an issue with where the runOnUiThread method was being called. Needed to move it up around the createOfflineRegion call instead of in the callback.

[code]

Now we are getting a 401 status error when downl

[2022-10-04 17:31] mtcn opened #1722 "Localization default language support bug"
## Environment

- Android OS version: All versions
- Devices affected: All devices
- Maps SDK Version: 10.8.0

## Observed behavior and steps to reproduce

The localization extension already has a default language support feature but it's not possible to switch the map language to the local language because it returns from the isSupportedLanguage() condition.

Precondition:
- Let's assume the user

[2022-10-04 17:43] ZiZasaurus commented on #1718
Sounds good, glad you were able to get it working. I will respond in the other ticket and close this one out.

[2022-10-04 17:43] #1718 closed

[2022-10-04 18:45] mfazekas opened #1723 "Crash during removal of view annotation - Cannot get annotation options for id: '42', it does not exist."
## Environment

- Android OS version: Simulator/Pixel 6 API 31
- Devices affected: Simulator/Pixel 6 API 31
- Maps SDK Version: 10.8.1, 10.9.0-beta.2

## Observed behavior and steps to reproduce

Removing an annotation view if view is in transition can cause a crash.

See the following code and note the `startViewTransition` just before `removeViewAnnotation(mAnnotationView!!)`
[code]

activity_ma

[2022-10-05 13:43] arun-ns opened #1727 "App Crash for Many Users"
Crashes Only in Release APK with MinifyEnabled:true
[code]

Here is code added in App
[code]

[2022-10-05 14:46] kiryldz commented on #1727
@arun-ns
1. can you reproduce this crash locally from your side?
2. could it be the case that it happens when style is switching from one to another?

[2022-10-05 14:51] arun-ns commented on #1727
We couldn't reproduce in locally. We got more than 10k crashes in Firebase Crashlytics

[2022-10-09 15:35] SamuelBrucksch opened #1741 "App suddenly requires ACCESS_BACKGROUND_LOCATION"
Hi,

we have an app which currently uses
[code]
When I change both versions to `10.9.0-rc.1` then i can't submit the app to play store anymore for testing, unless I provide information why I want to use background location.

We did not require that permission ourself, and when I go back to `10.9.0-beta.1` it immediately works again. So for me this looks like one of the packages from version `10.9.

[2022-10-10 06:37] jush commented on #1741
Thanks for reporting, we are aware and working on a solution for next release.

Meanwhile, you can add the following snippet to your `AndroidManifest.xml`:
[code]

[2022-10-10 06:37] #1741 closed

[2022-10-10 12:20] zzkggmy opened #1743 "Why cameraState.center not in screen"
## Environment

- Android OS version:12
- Devices affected:Oneplus 8
- Maps SDK Version:10.8.0

## Observed behavior and steps to reproduce

![image](https://user-images.githubusercontent.com/18183531/194864545-c945f7ee-39ba-4013-9a27-195be73779a8.png)
 When I'm sliding to stop to get the center Point, but the point is not on the screen

![image](https://user-images.githubusercontent.com/18183531/

[2022-10-11 02:19] hungtrn75 commented on #302
I have the same issue

[2022-10-11 07:55] kiryldz commented on #1723
@mfazekas indeed looks like a bug, thanks for detailed issue description. We'll try to pick it up in the nearest future.

[2022-10-11 12:07] EuRatnikov commented on #1198
Same issue, but with text.

[2022-10-11 18:10] wen-kai commented on #1727
we're using rnmapbox which uses mapbox-maps-android under the hood and are also finding very frequent crashes in production. unfortunately the repro is inconsistent and seems to be some sort of race condition. it seems related to dynamic layers:
[code]

[2022-10-13 05:47] VincentJoshuaET commented on #129
Will this ever be possible to have a a Mapbox application without any XML layouts and `AndroidView`s?

[2022-10-13 09:13] daniel-j-h commented on #129
There is a prototype for a compose interface here
- https://github.com/mapbox/mapbox-maps-android/pull/1443

It looks like it hasn't moved in the last four months, tho.

[2022-10-13 11:09] Adityasai1431 commented on #1022
Hello how can I import this??
com.mapbox.maps.testapp.utils.LocationPermissionHelper

[2022-10-14 08:34] denys-salikhov commented on #1391
@Agosto44 Did you find a solution?
I am experiencing the same bug on Pixel6.
I just migrated from Mapbox v9.6.1 to v10.8.1 and have 2 applications installed on the same device.
The old one works perfectly with the bearing, while the new one clearly has the issue you described.

[2022-10-14 09:23] Guimareshh opened #1748 "Migrate CameraMode and RenderMode from v9 SDK to viewport v10 SDK"
Hello,

I'm doing a migration from Android SDK v9 to v10, and I'm trying to understand how to center on user's location at runtime. Here's a piece of code I'm trying to migrate:

[code]

I have been able to migrate the camera mode for tracking user's location with the viewport plugin, but I'm not sure what is the best option to center on user location:

[code]

[2022-10-14 09:48] pengdev commented on #1748
@Guimareshh please refer to our [migration guide](https://docs.mapbox.com/android/maps/guides/migrate-to-v10/#location-component-plugin-with-puck-and-camera-decoupled) and [user location guide ](https://docs.mapbox.com/android/maps/guides/user-location/#location-tracking)

With v10, the puck and camera updates have been decoupled, the location component plugin will only handle the location puck up

[2022-10-14 11:21] Guimareshh commented on #1748
Thanks for your quick reply, that's exactly what I was looking for!

About the FollowPuckViewportState, when I'm on "tracking mode" I find the viewport plugin laggy and less performant than the v9 SDK. I setup the tracking mode as following:

[code]

Here is quick example of the implemented code on a device:

https://user-images.githubusercontent.com/9654353/195834797-2760a929-90a7-479e-ba52-b93f6

[2022-10-14 13:36] pengdev commented on #1748
I think in this case you want the location puck to follow the compass bearing instead of GPS bearing, by default, the puck's bearing follows the GPS(where the location puck moves towards), you can make the location puck follow the Compass heading using the following code snippet:
[code]
Documentation can be found [here](https://docs.mapbox.com/android/maps/api/10.8.1/mapbox-maps-android/com.mapbox

[2022-10-14 14:34] Guimareshh commented on #1748
It's perfect! I'm closing the issue as it fixes my issue ✅

Thanks for your help!

[2022-10-14 14:34] #1748 closed

[2022-10-16 23:03] jiurchuk opened #1752 "Location updates incompatible with Play Services Location v21"
## Environment

- Android OS version: 8.0
- Devices affected: Samsung Galaxy J7
- Maps SDK Version: 10.8.1
- **Play Services Location: 21.0.0** (_com.google.android.gms:play-services-location:21.0.0_)

## Observed behavior and steps to reproduce

Display a view with the Map and add the ability to receive Location Updates via the Fused Location Provider.

## Expected behavior

Receive location upda

[2022-10-17 06:37] jush commented on #1752
Thanks for reporting this issue.

Indeed, Google Play Services has introduces a breaking change. See release notes here: https://developers.google.com/android/guides/releases#october_13_2022

As you already mentioned please keep using Google Play Services Location 20.0.0 for the time being.

[2022-10-17 15:48] IsaacTrevino commented on #1715
Getting a similar issue,
[code]

[code]

My guess is, styleLayer is not being destroyed along with the map

[2022-10-17 18:35] bomturbo commented on #1690
.

[2022-10-18 08:12] florianPOLARSTEPS opened #1757 "[API Design] getters and setters for minZoom/maxZoom behave inconsistently"
## Environment

- Android OS version: Any
- Devices affected: Any
- Maps SDK Version: 10.8.1

## Observed behavior and steps to reproduce

Given in my style I have any layer with no min/ max zoom properties set, like the following:
[code]

By accessing the zoom properties via `layer.minZoom` or `layer.maxZoom` the values returned are `Double.POSITIVE_INFINITY` and `Double.NEGATIVE_INFINITY`.

The

[2022-10-18 11:52] Anil-dhiman commented on #1285
hello @ank27  i am unable to build my project as I have download this https://github.com/mapbox/mapbox-navigation-android for reference project but i cant able to build it because it is also showing same error which i facing in my personal project when i add dependency and try to build my project. it my 4th day on this issue. i don't get any solution and idea nothing from anywhere.
Mostly tried al

[2022-10-18 14:19] yunikkk commented on #1618
@swathysreenivas @IsaacTrevino as @kiryldz had mentioned - the message you see in logs means you use Style object after MapView is destroyed, so please check if this is the case, e.g. lifecycle and when Map is destroyed.

This is known issue - Google play services v21 have breaking change and are not compatible with the existing Maps SDK, more info https://github.com/mapbox/mapbox-maps-android/iss

[2022-10-18 19:02] IsaacTrevino commented on #1618
@yunikkk thank you for responding
I dont see how I am calling a `Style object` after the MapView is destroyed since Mapbox handles the LocationPuck rendering. All I do is enable it with the location plugin `location.enable` and upon switching between mapView and another page, it breaks.

Though it may not break right away it does after you switch repeatedly. Could this be a bug within the location

[2022-10-18 20:32] ZiZasaurus commented on #1743
@zzkggmy as this is more of a product support Issue, can you please create a support ticket at https://support.mapbox.com/hc/en-us/ and our support team will be happy to get you the answers you need.

[2022-10-18 20:32] #1743 closed

[2022-10-19 11:54] ghadeeraqraa1992 opened #1761 "change map style based on dark/light mode"
## Environment

- Android OS version: Android 11 + Automotive
- Devices affected: real device + emulators
- Maps SDK Version: 10.8.1

## Observed behavior and steps to reproduce

We have 2 custom styles created Using Mapbox visual studio for dark/light modes, I added the styles URLs in the string files (one for dark/night mode and the other for light/day mode)
After running the app then going to s

[2022-10-19 12:50] mahadevan-k opened #1763 "Duplicate Dependency Issue when using Map and Search SDK"
## Environment

- Android OS version: 10
- Devices affected: Moto e(7)
- Maps SDK Version: 10.8.1

## Observed behavior and steps to reproduce

When I try to use the Maps SDK and the Search SDK like so:

    implementation "com.mapbox.maps:android:10.8.1"
    implementation "com.mapbox.search:mapbox-search-android-ui:1.0.0-beta.38"

I get the following error while building wtih gradle

    Duplica

[2022-10-19 12:59] bartek977 opened #1764 "setBounds(cameraBoundsOptions) causes map hide"
## Environment

- Android OS version: Android 11
- Devices affected: Samsung Galaxy Tab A8
- Maps SDK Version: 10.6.1

## Observed behavior and steps to reproduce

When I set bounds with a small area, the map hides.

Example:
[code]

## Expected behavior

the map shouldn't hide, but maybe increase the bounding box area if it's too small

[2022-10-19 13:02] VahanLab commented on #1240
Yeah same issue here with 10.8.1
Combined with the suggestion above, I managed to find the current bounding box using

[code]

That looks a bit overkilled but it is what it is

[2022-10-19 13:18] tristan-garaud opened #1765 "Merging different annotation manager"
## New Feature

Hi, I would like to be able to merge different annotation manager

## Why
I created a point annotation manager and I have a feature that is a polygon. I think I can transform it to a polygon annotation but even if I do that I would not be able to merge them.
I want to merge them because I want to be able to decide where to put them in the z order (withSymbolSortKey).
But as they ar

[2022-10-20 11:17] florianPOLARSTEPS opened #1768 "Preloading map tiles fails for locally provided style.json"
## Environment

- Android OS version: Any
- Devices affected: Any
- Maps SDK Version: 10.8.1

## Observed behavior and steps to reproduce

For my usecase, I am shipping a style bundled with the app which I am using to render the map. This all works fine, but I would like to prefetch tiles related to this style. I have been pretty much following the instructions provided [here](https://docs.mapbox.

[2022-10-20 13:55] Guimareshh opened #1769 "Expression migration v9 to v10: Branch labels must be numbers or strings"
I'm trying to migrate the following expression from Mapbox SDK v9 to v10:

[code]

Trying to following the migration guide and new documentation on expressions I updated the previous line of code with the folloing:

[code]

But I get the following error: `com.mapbox.maps.MapboxStyleException: Add layer failed: Failed to set `icon-size` property for `WaypointLayer` layer. Error: [2]: Branch labels

[2022-10-20 14:21] kiryldz commented on #1769
@Guimareshh as the error indicates `Branch labels must be numbers or strings` while you are wrapping `bool`. Even in v9 snippet you're using `true` but as the string. Changing `literal(true)` to `literal("true")` assuming `WAYPOINT_SELECTED` will be either `"true"` or `"false"` should fix the issue.

[2022-10-20 14:27] Guimareshh commented on #1769
🤦 I wasn't paying attention enough that I was using String in v9, thank you!

[2022-10-20 14:27] #1769 closed

[2022-10-21 06:38] HieuLK commented on #1763
Got the same issue:

Duplicate class com.mapbox.common.MapboxCommonLogger found in modules base-10.8.1-runtime (com.mapbox.maps:base:10.8.1) and common-23.1.0-rc.1-runtime (com.mapbox.common:common:23.1.0-rc.1)

[2022-10-21 14:04] meciusMP opened #1776 "Maps get overlapped from different fragments into one"
## Environment

- Android OS version: 12
- Devices affected: Pixel 3a and multiple emulators
- Maps SDK Version: 10.8.1

## Observed behavior and steps to reproduce

Hey,

we ran into a problem where one map overlaps the other or there's a visible overlap on one screen.

Both screens with maps are initiated in viewpager. and both look the same in xml's.

We couldn't reproduce the error on lower an

[2022-10-21 14:42] BeifeiZhou commented on #1194
Is there any update on this? There would be a lot of use cases with this feature.

[2022-10-21 22:19] akirmse commented on #1529
@kiryldz I just reproduced this locally on my first use of version 10.9.0 on a Samsung Galaxy S9.

[2022-10-22 02:01] Haoming-Wu92 commented on #1391
I'm also facing this issue with 10.9.0 (same with 10.6.1)
I tried my compass app and google maps none of them have this problem.
It's exactly as the OP explained.

Tested on Xiaomi 9T, and Google pixel 3

@pengdev is there an example on how to use this calibration callback? I found LocationCompassCalibrationListener, but not sure where it's suppose to be attached to (unlike OnIndicatorBearingChang

[2022-10-24 08:44] frankhardenberg opened #1778 "FusedLocationProviderClient problems resulting in PendingJavaException crash when updating google play services location from 20.0.0 to 21.0.0"
## Environment

- Android OS version: 12
- Devices affected: Galaxy S21+
- Maps SDK Version: 10.8.1

When I updated my gradle and specifically 'com.google.android.gms:play-services-location:20.0.0' to 21.0.0 I would get the following stack trace:

`2022-10-24 10:38:24.308  1392-5174  WindowManager           system_server                        E  win=Window{c20406e u0 com.sec.android.app.launcher/

[2022-10-24 09:55] RoProducts opened #1779 "java.lang.ClassNotFoundException: com.mapbox.common.BillingService"
I'm trying to migrate an Android app to Mapbox Maps SDK v10. I'm facing the following issue on an older Android version :

## Environment

- Android OS version: 5.1 (SDK Version 22)
- Maps SDK Version: 10.8.1

Full Mapbox dependencies list :

   implementation "com.mapbox.navigation:core:2.8.0"
   implementation 'com.mapbox.mapboxsdk:mapbox-sdk-services:5.8.0'
   implementation 'com.mapbox.maps:an

[2022-10-24 09:55] #1778 closed

[2022-10-24 11:01] yunikkk commented on #1779
Hey @RoProducts .
Do you face the crash only on older Android versions?
Error seems to originate from an older version of common dependency being added somehow, could you attach the full dependency insight for the mapbox dependencies of the app, e.g. with
`./gradlew -p app -q dependencies --configuration releaseRuntimeClasspath | grep mapbox` ?

[2022-10-24 11:34] RoProducts commented on #1779
Thank you for your immediate feedback. Yes this occurs only on this specific Android version.

Gradlew output is :

+--- com.mapbox.navigation:core:2.8.0 (n)
+--- com.mapbox.mapboxsdk:mapbox-sdk-services:5.8.0 (n)
+--- com.mapbox.maps:android:10.8.1 (n)
+--- com.mapbox.navigation:core:2.8.0
|    +--- com.mapbox.base:common:0.8.0
|    +--- com.mapbox.navigation:base:2.8.0
|    |    +--- com.mapbox.

[2022-10-24 13:31] ZiZasaurus commented on #1764
@bartek977 thank you for reaching out. To better assist you, can you please explain what you mean when you say the map hides? When i use your code to create the bounding box on click, the bounding box is created as expected. Can you please try this on the newest version of our SDK and let us know if you're still experiencing this issue?

![video1](https://user-images.githubusercontent.com/44972592

[2022-10-24 13:52] shilangyu commented on #1618
I can confirm a similar issue with the mapbox location plugin. I store no references to the style and have narrowed the problem down to simply enabling the location plugin. Without it, no warning is ever raised.

[2022-10-24 14:09] ZiZasaurus commented on #1779
@RoProducts as this is more of a product support Issue, can you please create a support ticket at https://support.mapbox.com/hc/en-us/ and our support team will be happy to get you the answers you need.

[2022-10-24 14:09] #1779 closed

[2022-10-24 14:15] ZiZasaurus commented on #1715
@IsaacTrevino, @swathysreenivas are you able to reproduce this issue on our most recent SDK, v10.9.0?

[2022-10-24 14:30] ZiZasaurus commented on #1630
@ChristopheHochP were you able to get this resolved?

[2022-10-24 14:33] ZiZasaurus commented on #1594
Closing this issue. Please feel free to reopen if you continue to experience issues.

[2022-10-24 14:33] #1594 closed

[2022-10-24 14:50] ZiZasaurus commented on #1640
@tir38 thank you for reaching out. You can use [mapView.setOnTouchListener ](https://docs.mapbox.com/android/maps/api/10.9.0/mapbox-maps-android/com.mapbox.maps/-map-view/#-1966760991%2FFunctions%2F540127926) to detect all events.

[2022-10-24 15:04] #1554 closed

[2022-10-24 15:10] ZiZasaurus commented on #1551
@VictorNorthheadSyd closing this ticket, as I am unable to reproduce this behavior, but please feel free to reopen if the issue persists.

[2022-10-24 16:45] IsaacTrevino commented on #1715
@ZiZasaurus
Yes, I have just finished testing it with `10.9.0` and the bug persists.
![Screenshot_20221024_113908_2](https://user-images.githubusercontent.com/13424971/197580310-169e963f-d559-43d3-9a53-ac047e63d9a1.png)

[2022-10-24 20:15] ChristopheHochP commented on #1630
Hi @ZiZasaurus, we abandoned for now and do not move the attribution and info icon on Android. We planned to check again in a few months. It's a shame, we have it working just fine on iOS and it is very smooth.

[2022-10-24 22:57] ZiZasaurus commented on #1278
@hirschan are you still experiencing this behavior in the newer version of our SDK?

[2022-10-24 22:59] ZiZasaurus commented on #1298
@mhille3 sorry your response was not seen sooner. I'd be happy to assist. Were you able to get this behavior resolved?

[2022-10-26 15:38] carlosrivin commented on #1422
There is a response here: https://stackoverflow.com/a/72574810/2457169 maybe it will help future ppl :)

[2022-10-26 15:53] cramptonism opened #1780 "Pinch-to-zoom seems broken when simultaneousRotateAndPinchToZoomEnabled false"
## Environment

- Android OS version: 13
- Devices affected: Pixel 6
- Maps SDK Version: 10.9

## Observed behavior and steps to reproduce

This was not an issue on the last version of Mapbox we were on, which was 10.3. We only observed it when upgrading. See video below for demo. Basically when `gesturesPlugin.simultaneousRotateAndPinchToZoomEnabled=false`, if you are pinch-zooming quickly the ma

[2022-10-26 23:52] RicardoN14 commented on #1391
I was getting the same error when affecting directly the property like this:

`mapView.location2.puckBearingSource = PuckBearingSource.HEADING`

It started working when i'v change to use the updateSettings2:

[code]

[2022-10-27 20:54] ZiZasaurus commented on #1776
@meciusMP thank you for reaching out. To better assist you, can you please provide a minimal sample application that reproduces this behavior?

[2022-10-28 04:02] LqTk opened #1781 "两个fragment加载不同的地图"
在6.0手机上会出现第二个地图被第一个地图遮盖看不见
在高版本手机上出现重新进入app出现情况是如果在第一个fragment页面从桌面后台进入app会显示第二个地图，第一个fragment的地图被遮挡

[2022-10-28 06:21] jush commented on #1761
Changing the system theme settings is a configuration change. See documentation for [uiMode](https://developer.android.com/reference/android/content/res/Configuration#uiMode):

Therefore, Android system recreates the activity unless you handle it manually with the right flags in your manifest (see [Handle configuration changes](https://developer.android.com/guide/topics/resources/runtime-changes))

[2022-10-28 06:21] #1761 closed

[2022-10-28 08:58] yunikkk commented on #1019
@alexbranti @florianPOLARSTEPS 10.9.0 has the updated gestures dependency, this issues should be resolved.

[2022-10-28 08:58] #1019 closed

[2022-10-31 13:01] ZiZasaurus commented on #1781
In the case of re-entering the app on high-version mobile phones, if you enter the app from the desktop background on the first fragment page, the second map will be displayed, and the map of the first fragment will be blocked.

Thank you for reaching out. To better assist you, can you please provide a minimal sample application that reproduces this behavior?

[2022-10-31 16:20] florianPOLARSTEPS commented on #1697
@alexbranti @kiryldz

I have no way to reproduce the issue, but I am seeing the same crashes for many of our users (across various android versions).

<img width="742" alt="Screenshot 2022-10-31 at 17 19 52" src="https://user-images.githubusercontent.com/21218132/199057511-d643ea8d-b0a3-4818-b04b-3d3f2a2dc21d.png">

[code]

[2022-10-31 23:02] christiankm opened #1784 "Unable to disable pinch rotation"
## Environment

I’m on a Google Pixel 6, Android V 13
Maps SDK Version: 10.5.0

## Observed behaviour and steps to reproduce

I am unable to disable pinch rotation, and I have tried a couple of ways to do that

mapView.gestures.rotateEnabled = false

I also tried disabling the compass but that didn't seem to help

mapView.compass.enabled = false

## Expected behaviour

mapView.gestures.rotateEnabl

[2022-10-31 23:07] christiankm commented on #1784
https://user-images.githubusercontent.com/3626094/199126344-63363e87-9fac-4161-8033-38168b62cbed.mp4

[2022-11-01 09:03] florianPOLARSTEPS opened #1785 "[10.9.x/10.10.x/10.11.x] Rendering glitches for symbols when animating the map"
## Environment

- Android OS version: irrelevant
- Devices affected: irrelevant (observed on OnePlus Nord, Pixel 6, Pixel 6a, Emulator)
- Maps SDK Version: 10.9.0

## Observed behavior and steps to reproduce

It seems an issue was introduced with `Mapbox Android 10.9.0` regarding the rendering of symbols on the map (on top of already existing rendering glitches with fading symbols when panning).

[2022-11-01 09:20] FahrihFatahilah opened #1786 "Maps Doesn't Show New Added Layer"
## Environment

- Android OS version: 12
- Devices affected:
- Maps SDK Version: 9.2.0

## Observed behavior and steps to reproduce
![WhatsApp Image 2022-11-01 at 16 15 15](https://user-images.githubusercontent.com/20915197/199201021-7ad01102-e0d3-4ca9-a596-d68e13194b2f.jpeg)

https://pastebin.com/pLibEpiF heres the code to create a property
https://pastebin.com/tguW1qfv heres the code for styling

[2022-11-01 09:57] RoProducts opened #1787 "Set network restriction for map"
## New Feature

I would like to restrict the map to load data only with WIFI connection. Is that possible like for OfflineManagers [TileRegionOptions ](https://docs.mapbox.com/ios/maps/api/10.0.1/Extensions/TileRegionLoadOptions.html#/s:So24MBXTileRegionLoadOptionsC10MapboxMapsE8geometry11descriptors8metadata13acceptExpired18networkRestriction21averageBytesPerSecondABSg4Turf8GeometryOSg_SaySo20MBX

[2022-11-01 12:13] johnnyzen opened #1788 "java.lang.UnsatisfiedLinkError: 'void com.mapbox.maps.assets.AssetManagerProvider.initialize(android.content.res.AssetManager)'"
Android Studio: 2021.3.1 Patch 1
Mapbox: implementation 'com.mapbox.maps:android:10.9.0'

Getting error in preview layout window of android studio:

`java.lang.UnsatisfiedLinkError: 'void com.mapbox.maps.assets.AssetManagerProvider.initialize(android.content.res.AssetManager)'
	at com.mapbox.maps.assets.AssetManagerProvider.initialize(Native Method)
	at com.mapbox.maps.MapController.<init>(MapCont

[2022-11-01 12:52] ZiZasaurus commented on #1438
Closing this ticket but please feel free to reopen if you continue to experience this behavior.

[2022-11-01 12:52] #1438 closed

[2022-11-01 12:55] ZiZasaurus commented on #1788
@johnnyzen thank you for reporting. To better assist you, can you please let us know what's happening in the app or what actions you're taking, if any, before the error is thrown?

[2022-11-01 13:04] ZiZasaurus commented on #1784
@christiankm thank you for reaching out. Are you able to reproduce this behavior on v10.9, the latest version of our SDK?

[2022-11-01 13:07] johnnyzen commented on #1788
Hi @ZiZasaurus

Sure, everything is working in the app when built, its just the preview layout in Android Studio not rendering with the error posted previously.

If I remove the layout:

`<com.mapbox.maps.MapView
        android:id="@+id/map_view"
        android:layout_width="0dp"
        android:layout_height="0dp"
        android:layout_marginTop="8dp"
        app:layout_constraintTop_toBottomO

[2022-11-01 13:16] ZiZasaurus commented on #1780
Thank you for reporting. This has been brought to the team for investigation. As soon as we have any updates we will post them here.

[2022-11-01 13:32] Guimareshh opened #1789 "Offline feature unable to download tiles for custom Styles"
## Environment

- Android OS version: all
- Devices affected: all
- Maps SDK Version: 10.9.0

## Observed behavior and steps to reproduce
Moving from legacy SDK (9.7.2) to new SDK (10.9.0) I reworked the Offline feature of my app to use the new APIs as stated on the [official documentation](https://docs.mapbox.com/android/maps/guides/offline/). Offline is working fine for Outdoor and Satellites st

[2022-11-01 16:08] ZiZasaurus commented on #1785
Thank you for reporting. This has been brought to the team for investigation. As soon as we have any updates we will post them here.

[2022-11-01 16:44] ZiZasaurus commented on #1763
It appears as though there is a mismatch between the Search SDK and Maps SDK versions. For v10.8.1 of the Maps SDK, you would want to use v1.0.0-beta.35 of the Search SDK.

[2022-11-01 20:36] ZiZasaurus commented on #1474
@VincentJoshuaET Thank you for this suggestion, will pass it along to the team.

[2022-11-01 20:36] #1474 closed

[2022-11-02 00:45] christiankm commented on #1784
@ZiZasaurus No problem. No, I don't believe we've tried later version of the SDK yet. We'll make sure to do that and get back to you.
If you could try on your end as well and confirm if you are able to reproduce, that would be great.

[2022-11-02 08:48] FahrihFatahilah commented on #1786
please help me

[2022-11-02 09:23] dimitradg opened #1792 "Invalid argument in TileStore"
## Environment

- Android OS version: 11
- Maps SDK Version: 10.9.0

## Observed behavior and steps to reproduce

I have an activity with a Download button, and once it is clicked, offline map region is downloaded.

However, whenever I run my app I get the following crash:
E/libc++abi: terminating with uncaught exception of type std::invalid_argument
A/libc: Fatal signal 6 (SIGABRT), code -1 (SI_Q

[2022-11-02 12:19] ZiZasaurus commented on #1789
@Guimareshh thank you for reaching out. When you reference custom styles, are these styles you are loading locally?

[2022-11-02 12:27] Guimareshh commented on #1789
@ZiZasaurus Custom styles are loaded from an URL (`https://example.com/custom-style.json`)

[2022-11-02 12:37] ZiZasaurus commented on #1784
@christiankm, thank you for following up. I am unable to reproduce this behavior on our most recent version.

[2022-11-02 12:45] ZiZasaurus commented on #1786
As this is more of a product support Issue, can you please create a support ticket at https://support.mapbox.com/hc/en-us/ and our support team will be happy to get you the answers you need.

[2022-11-02 12:45] #1786 closed

[2022-11-02 13:03] habanoz opened #1793 ""cameraForCoordinateBounds" gives wrong results"
## Environment

- Android OS version: Android version 13.
- Devices affected: Pixel 5 Api 33 (emulator)
- Maps SDK Version: 10.7.0 and 10.9.0

## Observed behavior and steps to reproduce

cameraForCoordinateBounds gives wrong results.

Given bounds:

[southwest: Point{type=Point, bbox=null, coordinates=[29.131578, 36.494816]}, northeast: Point{type=Point, bbox=null, coordinates=[29.162542, 36.5613

[2022-11-02 13:56] ZiZasaurus commented on #1768
@florianPOLARSTEPS, do your local styles still rely on Mapbox tilesets?

[2022-11-02 13:56] ZiZasaurus commented on #1789
Ah, understood. Do your those custom styles rely on Mapbox tilesets?

[2022-11-02 13:59] florianPOLARSTEPS commented on #1768
Yes, they do. 👍

[2022-11-02 14:28] Guimareshh commented on #1789
Those custom styles don't rely on Mapbox tilesets. Is that a issue with this SDK?

[2022-11-02 16:09] yunikkk commented on #1697
@alexbranti for some reason all the crashlogs you've shared from Bugsnag could not be decoded, suspect the addresses reported contain library offset not subtracted, e.g. `0x703196ffec` is a very large value, compare for example to the values that Google play reports, `0x00000000002e88b0`.
Also, the log reported by Google play seem different from the ones from Bugsnag, those from Bugsnag all end up

[2022-11-02 16:25] florianPOLARSTEPS commented on #1697
@yunikkk The stacktrace I shared is from `com.mapbox.maps:android:10.8.1` 👍

[2022-11-02 21:13] AndriiYanechko commented on #976
Unfortunately still happening for me.

- Android OS version: 12
- Devices affected: **Samsung S10**, Android Emulator API 33 arm
- Maps SDK Version: `10.9.0` (latest)

This bug wasn't happening on the v9 versions, but currently I'm migrating to the latest version.

P.S. the `app:mapbox_mapAntialiasingSampleCount="4"` not helping in my case.

Please take a look at following video:

https://user-ima

[2022-11-03 03:25] FahrihFatahilah commented on #1786
thank you i will try craete a support tiket

[2022-11-03 03:30] FahrihFatahilah commented on #1786
currently, I'm using a license from my working place, but in the email says: We are experiencing a high volume of tickets coming in. If you haven't purchased one of our [support plans](https://www.mapbox.com/support#support-plans), we may not be able to respond to your question.

is my question still will be answered?

[2022-11-03 14:11] ZiZasaurus commented on #1789
@Guimareshh, ah yes, thank you for clarifying. The tile pack API can only work with Mapbox tilesets. https://docs.mapbox.com/android/maps/guides/offline/#supported-tiled-sources

[2022-11-03 14:20] Guimareshh commented on #1789
Ah thanks for pointing to the documentation, I didn't saw it.

Unfortunately, it's a huge drawback for us, as the offline feature with custom styles is a huge part of our app. Is this being work out and will be supported any time soon?

[2022-11-03 14:38] ZiZasaurus commented on #1768
Thank you for this info.  As long as the tilesets you are referencing are mapbox tilesets, you can use the [alternate API for tileset descriptor construction](https://docs.mapbox.com/android/maps/api/10.9.0/mapbox-maps-android/com.mapbox.maps/-offline-manager/create-tileset-descriptor.html), which doesn't require the style url.

[code]

[2022-11-03 14:52] florianPOLARSTEPS commented on #1768
Thanks! @ZiZasaurus . I will give it a try and see if this works out good enough for our usecase.

Conceptually speaking it's not a `nice` thing for us since it will move responsibility of knowing what to download into our app, rather than just relying on this being defined by the `style.json`.

[2022-11-03 16:50] Guimareshh commented on #1789
Our use case is the following: we allow our users to view a hike path on a mapview. They can switch between styles including custom ones not using Mapbox tilesets. And they can download these information offline (hike path, map styles ...). In some European countries it's a common use case to use map styles from national mapping agencies (for instance in France we have IGN, in Switzerland SwissTop

[2022-11-03 19:49] ZiZasaurus commented on #1789
@Guimareshh, yes the legacy tile-based offline system, which remains available in v10, will allow you to accomplish this use case.

[2022-11-03 20:29] habanoz commented on #1793
Maybe I should state that the map is already completely loaded at the time of the operation.

[2022-11-04 15:55] seadowg opened #1802 "Allow zooming beyond level 22"
## New Feature

Allow zooming beyond the current max level of 22 to at least the previous (v9) max of 25.

## Why

In https://github.com/getodk/collect, some users found it useful to be able to zoom beyond level 22 to be able to draw shapes (a feature the app supports) at a sub-metre level of accuracy (even though the map would often look fuzzy zoomed in this far). Mapbox v10's new max of 22 makes

[2022-11-04 19:19] Haoming-Wu92 opened #1803 "Querying cluster for features (child, leaf)"
## Environment

- Android OS version: 10, 12
- Devices affected: Xiaomi 9T, Google Pixel 3
- Maps SDK Version: 10.6.0, 10.9.0 (tried both)

## Problem
I'm trying to get all the children in a cluster, and I'm running into trouble. `queryRenderedFeatures, getGeoJsonClusterChildren, getGeoJsonClusterLeaves` all return the same thing.

I can't seem to find any examples on V10 cluster from mapbox docs

[2022-11-04 21:49] #1640 closed

[2022-11-05 18:31] dudiw opened #1804 "Question: Android ImageSource (SDK v10)"
Hi @kiryldz and @tobrun, I really need your help

I'm trying to load an image from file and associate it with `ImageSource` (with coordinates) and `RasterLayer` with the same SOURCE_ID (using Mapbox Android SDK in Java).

Before v10, I would create an `ImageSource`, provide coordinates and Bitmap/Image and combine with a `RasterLayer` to show/hide the image. My code was working without issues:
The

[2022-11-07 07:08] Haoming-Wu92 opened #1805 "How to do concat expression with prefix or suffix?"
Mapbox version: 10.9.0

What I found on the GL web version example:
`['concat', 'square-rgb-', ['get', 'color']]`
suppose to output "square-rgb-{whatever color is}"

In kotlin
[code]
I'm expecting: "14541,66541,69854," and so on.

Instead I'm getting:
`E/Mbgl-Source: {cluster=true, clusterProperties={order_ids=[concat, [get, order_id], ,]}, data=null, maxzoom=14, type=geojson, clusterRadius=20}`
`

[2022-11-07 08:56] kiryldz commented on #1804
@dudiw can you please provide sample Github project of the code that's _not_ working for you?

[2022-11-07 09:22] dudiw commented on #1804
Thank you @kiryldz for following up on my issue.

My question is aimed at using [imageSource.updateImage()](https://github.com/mapbox/mapbox-maps-android/blob/c932cc06971e319715cc9a39857c2bd2d327ba24/app/src/main/java/com/mapbox/maps/testapp/examples/ImageSourceActivity.kt#L41-L46) in Java (Android).

I saw examples for `PointAnnotationManager` and `LocationComponent` in Java and I could really us

[2022-11-07 10:32] kiryldz commented on #1804
You add an image source as shown here
https://github.com/mapbox/mapbox-maps-android/blob/c932cc06971e319715cc9a39857c2bd2d327ba24/app/src/main/java/com/mapbox/maps/testapp/examples/java/DSLStylingJavaActivity.java#L157-L164
and you could update an image with following code in Java:
[code]

[2022-11-07 10:54] dudiw commented on #1804
Thank you @kiryldz!
I got an error message when using `ImageSourceExtKt` saying that the plugin hasn't been initialized - is there another step for using the ImageSourceExt plugin?

[2022-11-07 11:43] dudiw commented on #1804
Thank you @kiryldz!
The updated example is helpful - any chance you could tell me how to reproduce the same effect but with an image store on the device? I have the image file path and I want to overlay it using `ImageSource` but I could not load the image (perhaps because the file path isn't a web url?)

[2022-11-07 12:21] kiryldz commented on #1804
@dudiw I'm sorry, I can not help without specifics here. Images could be stored on device in many different ways. If you want to keep things easy and allow Mapbox do the work - you could store your image in assets and access them as
[code]

[2022-11-07 12:52] yunikkk commented on #1697
@florianPOLARSTEPS thanks, this should be fixed at https://github.com/mapbox/mapbox-maps-android/releases/tag/v10.10.0-beta.1

[2022-11-07 13:48] dudiw commented on #1804
Excellent @kiryldz I'll try it today and update this issue with my findings (and close it if resolved)

[2022-11-07 14:01] alexbranti commented on #1697
Hey @yunikkk , sorry for late response (I was OOO).  Here is the most recent crash from Google Play (Mapbox v10.8.1).

[code]

[2022-11-07 14:13] ZiZasaurus commented on #1792
@dimitradg are you using the examples app itself or code from the examples app? When running the examples app I am not experiencing any crashing.

[2022-11-07 14:19] dimitradg commented on #1792
Hello there, I am using code **from the examples app**. More specifically, I have a doAsync task, and inside the uiThread I call a function with the above mentioned code.

[2022-11-07 16:34] kiryldz commented on #1792
That comment confuses me a bit. Can you please trying https://github.com/mapbox/mapbox-maps-android/blob/main/app/src/main/java/com/mapbox/maps/testapp/examples/OfflineActivity.kt exactly as is (without `doAsync` etc)? If it will still crash - can you make sure that correct Mapbox token is passed [here](https://github.com/mapbox/mapbox-maps-android/blob/6d9770c97fcc613006daf3563588355da05775fa/app

[2022-11-07 20:56] dudiw commented on #1804
Hi @kiryldz - thank you for putting the effort to provide a code sample.
When I attempt to add an image through `ImageSource.Builder(SOURCE_ID).url(MY_URL).build()` I'm providing the image url as an absolute path:
[code]
I've tested it and got the error:
[code]

The essence of what I'm trying to do:
I have an image file stored locally on the device. I want to overlay it on the map using a list of

[2022-11-08 08:18] dimitradg commented on #1792
You are right, I rephrased my question so it is more understandable. As mentioned above, I am on my activity and I have a download button with an onClickListener. Once it is clicked, the above mentioned function gets called. However my app keeps crashing with the error
`E/libc++abi: terminating with uncaught exception of type std::invalid_argument
A/libc: Fatal signal 6 (SIGABRT), code -1 (SI_QUEU

[2022-11-08 09:45] dimitradg commented on #1792
Could this be a token's problem? Which secret scopes should be selected on a secret token in order to be able to download offline maps?

[2022-11-08 13:50] ZiZasaurus commented on #1788
@johnnyzen thank you for reaching out, It seems like there may be a mismatch between (or inability to load) the native libraries.

To better assist you, can you provide your android manifest?

[2022-11-08 18:41] huahua8893 opened #1821 "Can't get user location on Android 10"
I'm run the official demo "mapbox-maps-android" on device Android 12, and it's work correctly like this:
<img width="378" alt="image" src="https://user-images.githubusercontent.com/10332761/200648330-ed8935cf-963d-47a1-8d77-1a3bd4ed8567.png">

But when I run the same demo on another device Android 10, it's can't get user location. Like this:
<img width="378" alt="image" src="https://user-images.gi

[2022-11-09 19:13] Haoming-Wu92 commented on #1821
using 10.9.0
It works fine on my 10, 11, 12 devices (not the demo, my personal project)
I'm also using the google service suggested by mapbox in the docs.

Kinda weird your status bar is not showing the GPS icon on the 10 device

I initialized with these settings (kotlin)
[code]

[2022-11-09 19:46] Haoming-Wu92 commented on #1170
Stilling having this issue in 10.9.0

I'm testing with
[code]

also tried
[code]

It doesn't matter what I do, pan camera, rotate, zoom, load source, add features into source
nothing triggers this idle event

all my other listeners, and `subscribeSourceDataLoaded` works fine.

[2022-11-09 21:59] wen-kai opened #1822 "MapboxStyleException for correctly configured SymbolLayer style"
## Environment

- Android OS version: 10, 12, 13
- Devices affected: All
- Maps SDK Version: 10.9.0

## Observed behavior and steps to reproduce

[code]

We are receiving frequent crashes in production with the above exception.
It's very hard to reproduce and seems to be inconsistent.
Our symbol layers use .png images and they are static styles.

## Expected behavior

The above exception should no

[2022-11-10 08:26] VahanLab commented on #1618
@caustin13 how did you manage to exclude the plugin please?
Was thinking of something like
[code]
The bug I face appears very rarely and randomly so it's hard to tell if I properly removed the plugin

[2022-11-10 11:37] ciprianiacobescu opened #1824 "SoLoader problem on x64 - UnsatisfiedLinkError"
## Environment

- Android OS version: 13
- Devices affected: Pixel 6
- Maps SDK Version: 10.9.1

## Observed behavior and steps to reproduce

Just load a map view.
Google Play store hints that the culprit might be SoLoader 0.8.4.

## Additional links and references

java.lang.UnsatisfiedLinkError: No implementation found for void com.mapbox.mapboxsdk.net.NativeConnectivityListener.initialize() (tr

[2022-11-10 11:40] ciprianiacobescu commented on #1824
Might be related to https://github.com/mapbox/mapbox-maps-android/issues/1697

[2022-11-10 11:41] ciprianiacobescu commented on #1824
Android 12, Samsung S21 affected also.

[2022-11-10 15:03] johnnyzen commented on #1788
Here is my manifest:

`
<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOC

[2022-11-11 14:36] alexbranti commented on #1697
Sure! Here is the list of most affected devices pulled from Play Console (stacktrace ending with libGLESv2_mtk.so):

- samsung a12u (Galaxy A12): Mediatek MT6765 [48.6%]
- samsung a03su (Galaxy A03s): Mediatek MT6765 [25.7%]
- samsung a21 (Galaxy A21): Mediatek MT6765 [16.2%]
- T-Mobile Newcastle (REVVL V): Mediatek MT6762 [3.8%]

[2022-11-11 14:43] ZiZasaurus commented on #1805
@Haoming-Wu92, as this is more of a product support Issue, can you please create a support ticket at https://support.mapbox.com/hc/en-us/ and our support team will be happy to get you the answers you need.

[2022-11-11 14:43] #1805 closed

[2022-11-11 14:53] ZiZasaurus commented on #1787
You can accomplish this by using the [HTTPServiceInterceptorInterface](https://docs.mapbox.com/ios/maps/api/10.9.1/common/Protocols/MBXHttpServiceInterceptorInterface.html) and set the onRequest method to return an HTTP Request that disallows expensive network requests, like cellular.  I've included a code snippet below:

[code]

You would then reference this interceptor by using the following lin

[2022-11-11 14:53] #1787 closed

[2022-11-11 15:02] ZiZasaurus commented on #1319
@crroush are you still experiencing this behavior on our most recent release, v10.9.1?

[2022-11-11 15:06] ZiZasaurus commented on #1376
This behavior has been resolved in 10.9.

[2022-11-11 15:06] #1376 closed

[2022-11-11 15:23] ZiZasaurus commented on #1422
Closing this ticket but please feel free to reopen if you continue to experience this issue.

[2022-11-11 15:23] #1422 closed

[2022-11-11 16:09] #1518 closed

[2022-11-11 16:28] ZiZasaurus commented on #1460
@andre99, @wen-kai, @eugeneroz, @maclne, @sleushunou - If you set the pixel Ratio within `createTilesetDescriptor` to  `.pixelRatio(2f)` the satellite styles should behave as expected.

[2022-11-11 17:22] ZiZasaurus commented on #1566
Closing this ticket, but please feel free to reopen if the issue persists.

[2022-11-11 17:22] #1566 closed

[2022-11-11 17:36] #1642 closed

[2022-11-11 18:19] ZiZasaurus commented on #1776
Closing this ticket but please feel free to reopen and respond with the requested information above if you continue to experience this issue.

[2022-11-11 18:19] #1776 closed

[2022-11-12 08:47] dudiw commented on #1804
Hi @kiryldz

I was able to solve my problem - thank you so much for your help!
As it turns out, `ImageSource.Builder().url(#)` only accepts _https/http_ strings, and so instead I've added an `ImageSource` and a `RasterLayer` with the same `SOURCE_ID` using `StyleExtension.Builder` and then within the `OnStyleLoaded()` callback I invoked `style.updateStyleImageSourceImage(SOURCE_ID, Image())` with

[2022-11-12 08:47] #1804 closed

[2022-11-13 04:32] mfazekas commented on #1723
There is another case for this bug.

[code]

If there is an animation attached to the view while it's being removed then onViewDetachedFromWindow will not be called - see https://android.googlesource.com/platform/frameworks/base/+/ebb2d8d/core/java/android/view/ViewGroup.java#3354.

https://github.com/mapbox/mapbox-maps-android/blob/e42ab7bbd50d7724ce7ce48d2d805a109fc458d3/sdk/src/main/java/com/ma

[2022-11-13 04:47] mfazekas commented on #1723
@kiryldz  FYI I've submitted a PR addressing the issue #1829

[2022-11-13 05:03] brendanw commented on #1474
Also ran into this error printout. Changing the source or layer id did not resolve. Moving

[code]

to be after `addSource` and `addLayer` calls resolved the issue.

[2022-11-14 01:31] yanshanshu opened #1830 "Android 10.9.1无法设置本地化语言。"
## Environment

- Android OS version:所有
- Devices affected:所有
- Maps SDK Version:10.9.1

## Observed behavior and steps to reproduce

使用Java代码，无法进行中文的设置，且import发现，10.9.1的包com.mapbox.maps.extension.localization.localizeLabels是报错的，说明没有这个包。
请问需要如何做才能通过Java代码设置地图的显示语言为中文？
## Expected behavior

## Notes / preliminary analysis

## Additional links and references

[2022-11-14 08:59] iadcialim commented on #1642
`In order to achieve the result, the property needs to support feature-state.`
@ank27  How to do this in Android code? Can you share an example?
The link you provided does not tell what to do next. Thanks

[2022-11-14 09:26] tanqidi opened #1832 "How to use the sketchEditor in mapbox android similar to arcgis android?"
I used Kotlin to develop the mapbox android. I encountered a problem when drawing geometry. It is difficult for me to draw complex geometries, but I can use sketchEditor in arcgis android. Is there a tool class similar to sketchEditor in mapbox android? I see mapbox gl draw, but it is web based

[2022-11-14 15:56] #1723 closed

[2022-11-14 16:45] ZiZasaurus commented on #1822
Thank you for reporting. To better assist you, can you please provide us with some information regarding what's happening in the application? When are you updating the symbol layers? How many symbols are being updated?

[2022-11-14 17:04] #1830 closed

[2022-11-14 18:03] Guimareshh commented on #1381
I'm coming from issue: [Map status not preserved in Jetpack Compose](#1426) as I have the exact same issue.

Have you considered fixing this bug? Issue hasn't been updated for months and it's blocking us from migrating to the new SDK. Without doing an official Compose support, it would be nice to at least make the new SDK properly works with Compose as it was with the legacy SDK. BTW, I'm able to

[2022-11-14 23:09] ZiZasaurus commented on #1763
Closing this ticket, but please feel free to reopen if you continue to experience this issue.

[2022-11-14 23:09] #1763 closed

[2022-11-15 02:48] yanshanshu commented on #1830
谢谢。已经通过创建kt文件，通过kotlin语言实现地图的汉化。原本想做的是通过Java语言，但是没有找到设置的方法。

[2022-11-15 09:54] Guimareshh commented on #1789
Is there an official issue following a support for custom styles being download with the new offline APIs? Otherwise this issue shouldn't be closed imo

[2022-11-15 10:06] carlosrivin commented on #1381
To be honest this is kind of a deal breaker. I'm working a project that just started and jetpack compose is kind of mandatory for a new greenfield project on android. Being an app that uses a lot of map the mapbox SDK was suggested and we are still testing it out but if there is no support for compose we will have to move to another map SDK.
So far I didn't see any official communication from the

[2022-11-15 10:27] dimitradg commented on #1792
I would like to post an update and close this issue:

It was my fault, I was setting minZoom two times

[2022-11-15 10:28] dimitradg commented on #1792
I would like to post an update and close this issue:

It was my fault, I was setting minZoom two times, instead of minZoom and maxZoom:

`val tilesetDescriptor = offlineManager.createTilesetDescriptor(
            TilesetDescriptorOptions.Builder()
                .styleURI(Style.OUTDOORS)
                .minZoom(tour.minZoom.toInt().toByte())
                .minZoom(tour.maxZoom.toInt().toByte(

[2022-11-15 10:28] #1792 closed

[2022-11-15 10:59] timMikkelsen opened #1838 "Rendering issues with long text fields on symbol layer"
## Environment

- Android OS version: 13
- Devices affected: Pixel 7
- Maps SDK Version: 10.9.1

## Observed behavior and steps to reproduce

Rendering issues with long text on SymbolLayer when anchor is applied.

Steps to reproduce:

Create a geoJsonSource with a Point.
Create a symbolLayer with a long text and a long maxWidth to avoid line breaks:
[code]

Add this to a MapBoxMap and observe the

[2022-11-15 11:13] timMikkelsen opened #1839 "Large images on SymbolLayer are rendered incorrectly"
## Environment

- Android OS version: 13
- Devices affected: Pixel 7
- Maps SDK Version: 10.9.1

## Observed behavior and steps to reproduce

Very large images added to symbolLayer are rendered incorrectly and bearing applied seems to give wrong bearing on the image.

[code]

Run this activity and observe that the large images are shown incorrectly according to bearing and their actual size even w

[2022-11-15 15:13] dimitradg opened #1840 "Add annotations (image markers) on offline map"
I would like to ask, is possible to add image markers on a source when viewing offline maps?

[2022-11-15 16:28] ZiZasaurus commented on #1481
@shahzaib-ch I am unable to reproduce this behavior on device, but do notice that the annotation does not move on the simulator. See my screen recording below. Can you please retry with the latest version of our SDK (v10.9.1) on a physical device?

https://user-images.githubusercontent.com/44972592/201972944-2b8891a6-ad23-4f50-8327-4f9563a0f687.mp4

[2022-11-15 17:47] daniel-j-h commented on #566
Hey folks, we hit just the same issue on Mapbox GL JS https://github.com/mapbox/mapbox-gl-js/issues/3809 which made check back here.

I don't agree with your stale bot archiving this as this is still an issue.

Do you folks have a timeline for this issue or should we look for workarounds or not use this as it seems broken across platforms?

[2022-11-15 18:34] KesWalker opened #1843 "Mapbox map causes ANR when resuming fragment"
Using MapBox's Android SDK version `10.9.1` the app throws an ANR everytime the user returns to the fragment which contains the mapbox map.

Warnings I get prior to the ANR:

    2022-11-15 18:16:14.851  1267-1667  BroadcastQueue          system_server                        W  Timeout of broadcast BroadcastRecord{da92e11 u0 com.mapbox.common.location.action.PROCESS_LOCATION_UPDATES} - receiver=an

[2022-11-15 18:45] tir38 commented on #1640
Finally got around to testi9ng this. Works perfectly. I should have known to just listen to base `View` interactions.

[2022-11-16 10:53] jush commented on #1843
Thanks @KesWalker for your report. We have not been able to reproduce with our demo app.

Could you please provide:
* a minimal reproducible example
* full logcat when it happened

Thank you.

[2022-11-16 18:21] ZiZasaurus commented on #1832
@tanqidi thank you for reaching out. We don't offer a built-in solution for drawing on mobile., however, you can use your own implementation to achieve your use case.

[2022-11-16 18:21] #1832 closed

[2022-11-16 18:23] ZiZasaurus commented on #1765
@tristan-garaud, while there are no plans to support the merging of different annotation managers, each of these managers contains a sortKey property, however, In order to have all of your annotations sorted in the way you'd expect you will need to ensure that all of the geometries are located within one geojson.

[2022-11-16 19:01] ZiZasaurus commented on #1840
Yes, markers can be added when viewing offline maps. Please see our OfflineActivity example [here](https://github.com/mapbox/mapbox-maps-android/blob/main/app/src/main/java/com/mapbox/maps/testapp/examples/OfflineActivity.kt), which demonstrates adding a [circle annotation at runtime](https://github.com/mapbox/mapbox-maps-android/blob/f05f54d8708dedce2f41b6af8efe1ad827b11369/app/src/main/java/com/

[2022-11-16 19:01] #1840 closed

[2022-11-16 19:05] #1765 closed

[2022-11-17 00:12] ZiZasaurus commented on #1821
@huahua8893 I am also unable to reproduce this behavior. Do you have another device on which you are able to test? Is location turned on on your device?

[2022-11-17 04:58] hotellinawebmaster commented on #1788
Hello, I have the same error.
![image](https://user-images.githubusercontent.com/73776127/202359961-293a3468-6b73-41db-946f-6214cea116e5.png)

java.lang.UnsatisfiedLinkError: 'void com.mapbox.maps.assets.AssetManagerProvider.initialize(android.content.res.AssetManager)'
	at com.mapbox.maps.assets.AssetManagerProvider.initialize(Native Method)
	at com.mapbox.maps.MapController.<init>(MapController.

[2022-11-18 14:07] gdelaroy commented on #1519
Hi, Customer is requesting an update and hasn't had any further response on this. Can we please provide something back?
Thanks

[2022-11-18 14:29] EtienneStPierre opened #1855 "Cache data is not cleared if the region was previously downloaded from the TileStore"
## Environment

- Android OS version: Android 13
- Devices affected: Pixel 6 Pro
- Maps SDK Version: 10.9.0

## Observed behavior and steps to reproduce

Let's say I have two regions:
- 	OfflineA
- 	OfflineB

I then deleted the `OfflineA` region.

As the documentation said:

After deleting `OfflineA` from the tileStore, we updated the tileset, which have affected the old `OfflineA` region.

Even i

[2022-11-18 16:29] #1641 closed

[2022-11-19 13:36] ZiZasaurus commented on #1781
Closing this ticket, but please feel to reach back out if you're still experiencing issues.

[2022-11-19 13:36] #1781 closed

[2022-11-19 14:01] ZiZasaurus commented on #1784
Closing this ticket but please feel free to reopen if the issue reoccurs.

[2022-11-19 14:01] #1784 closed

[2022-11-19 14:05] ZiZasaurus commented on #1298
Closing this ticket, but please feel free to reopen if you continue to experience this behavior.

[2022-11-19 14:05] #1298 closed

[2022-11-19 14:06] #1278 closed

[2022-11-19 14:12] #1764 closed

[2022-11-19 14:51] Julius-Babies commented on #1788
I am havin the exakt same issue with a fresh application. Whenever I add a MapView the preview goes blank and I'm getting this error. Is there an older version we can use until this error is fixed?

[2022-11-19 17:38] octavmatu commented on #1646
@cattcal can you share some insight into how you've added it?
I am trying to add WMS layer hosted on external servers (i.e. not Mapbox). Can you help ?

[2022-11-20 07:27] mfazekas opened #1856 "Can't hide compass"
## Environment

- Android OS version: API 31
- Devices affected: Simulator Pixel 6 API 31
- Maps SDK Version: 10.10.0.rc1

## Observed behavior and steps to reproduce

Cannot hide compass with ` mapView.compass.updateSettings { enabled = false } `

In the repo change `SimpleMapActivity.kt` to this

[code]

Run the example app and select `Display map view` compass appears but after 2 seconds or so,

[2022-11-21 04:52] hotellinawebmaster commented on #1788
I believe this has never been fixed, as I never saw on Internet examples showing a preview in Android Studio.

[2022-11-21 15:43] tir38 commented on #1641
@ZiZasaurus thx 💯

[2022-11-21 17:36] ErikOutside commented on #1460
@ZiZasaurus Thank you!

Updating to Mapbox 10.9 and setting pixel ratio worked for our implementation.

[2022-11-22 11:41] kiryldz commented on #1519
@gdelaroy I validated that setting lower tolerance value fixes the issue:
[code]
By default we're using `tolerance = 0.375` and that causes some simplification to the geometry.

[2022-11-22 11:41] #1519 closed

[2022-11-22 15:14] gdelaroy commented on #1519
Hi @kiryldz  could you please just explain that to me please, as I need to provide a response back to the customer as well. Is the 0.375 tolerance what they are using? Or what we're recommending? Thanks - appreciate your help on this.

[2022-11-23 07:06] florianPOLARSTEPS commented on #1785
@ZiZasaurus Do you have any update on this issue? We are stuck on `Mapbox v10.8.x` and cannot upgrade to releases that include other very important (crash) fixes for us.