[2021-10-01 13:32] ZiZasaurus commented on #685
@Ks-y thanks for writing in. I've provided the answers to your questions below, however, if you can let us know what issues you're having with offline, I'd be happy to help.

1. There is no way to download Map SDK offline map resources that can be used in V10 version outside of downloading offline regions using V10 version of Map SDK.
2. We no longer support sideloading and recommend you use our o

[2021-10-03 23:06] YahiaRagae opened #705 "Wrong xml attribute name for mapbox_accessToken"
## Environment

- Android OS version: 11
- Devices affected:
- Maps SDK Version:10.0.0-rc.8

## Observed behavior and steps to reproduce

When using the `com.mapbox.maps.MapView` without having a `mapbox_access_token` defined in strings it carshed giving the error :
`Caused by: com.mapbox.maps.MapboxConfigurationException:
     Using MapView requires providing a valid access token when inflating o

[2021-10-04 11:52] AndreasBoehm opened #709 "OutOfMemory crash with ~40.000 PointAnnotations or features in GeoJSONSource"
## Environment

- Android OS version: `any`
- Devices affected: `any`
- Maps SDK Version: `10.0.0`

## Observed behavior and steps to reproduce

I am using a `PointAnnotationManager` and added ~40.000 PointAnnotations to it. Not all at once but kind of batched with roughly 2000 Points per request to a backend.

The app starts freezing and after one minute or so it will crash:
[code]
[code]

I trie

[2021-10-04 12:27] #705 closed

[2021-10-04 12:27] kiryldz commented on #705
@YahiaRagae thanks for catching it and sorry for inconvenience caused by wrong exception text.

[2021-10-04 16:14] pengdev commented on #386
We have removed `disableRotateWhenScaling` flag in https://github.com/mapbox/mapbox-maps-android/pull/672, as we don't support running rotation and scaling gestures at the same time in our current design, we will consider adding support for it in next iterations. Closing for now.

[2021-10-04 16:14] #386 closed

[2021-10-04 18:49] axti opened #713 "[spike] Create Kotlin extensions for some interfaces in order to simplify usage"
Idea is to create extension functions to simplify usage of callback interface for kotlin developers.
Here is an example:
Instead of full implementation of interface:
[code]

We will be able to short it to:
[code]

[2021-10-05 00:14] VincentJoshuaET commented on #713
This is how Google does it:

[code]

[2021-10-05 00:59] noracalabrese opened #714 "POI on map to be updated"
Reporting a POI that is not there anymore:

"Tacos El Grullense" (#19.67/37.4847493/-122.2328387/0/0) is not longer in that location.
<img width="729" alt="Screen Shot 2021-10-04 at 5 56 29 PM" src="https://user-images.githubusercontent.com/53129404/135943934-3995378f-6e6f-4438-8a84-4985b39c307e.png">

The correct POI is shown here:
https://www.google.com/maps/place/Carnitas+El+Rincon+-+Redwood+Ci

[2021-10-05 01:00] #714 closed

[2021-10-05 03:21] YahiaRagae opened #715 "Fit camera in bounding box v10"
Hi,

I'm migrating to v10, but I'm not able to achieve the exact behaviour of `Fit camera in bounding box` like in that [example](https://docs.mapbox.com/android/maps/examples/fit-camera-in-bounding-box/)

So it used to be

[code]

I have tried :
[code]
with this implementation, I need to pass in the zoom, but with the previous one, it used to be calculated automatically.

Thanks

[2021-10-05 08:18] ank27 commented on #715
@YahiaRagae in v10 we have `CoordinateBounds` in place of `LatLangBounds`.
You can check out this activity [RestrictBoundsActivity.kt](https://github.com/mapbox/mapbox-maps-android/blob/main/app/src/main/java/com/mapbox/maps/testapp/examples/camera/RestrictBoundsActivity.kt) for the similar implementation.

[2021-10-05 08:37] PeroMed opened #716 "Application containing MapView freezes after device lock/unlock"
## Environment

- Android OS version: 9
- Devices affected: Samsung A50, Nokia 8
- Maps SDK Version: 10.0.0-rc.9

## Observed behavior and steps to reproduce

1. Open simple app with MapView mapbox 10
2. Lock device and wait for 10 seconds
3. Enter device pin and unlock the device

MapView is black and everything else in the app is unresponsive

## Expected behavior

App and MapView should resume

[2021-10-05 08:55] kiryldz commented on #716
@PeroMed seems to duplicate https://github.com/mapbox/mapbox-maps-android/issues/684.
Will be fixed in release coming tomorrow, fix should be https://github.com/mapbox/mapbox-maps-android/pull/688.

Will close it, let's re-open if issue will persist.

[2021-10-05 08:55] #716 closed

[2021-10-05 13:30] astojilj commented on #704
Unfortunately, this is not easy to resolve on client. We need data for lower zoom layers to use. Verbose explanation is provided at https://github.com/mapbox/mapbox-gl-js/issues/10214#issuecomment-745968965.

[2021-10-05 14:09] #555 closed

[2021-10-05 14:12] #381 closed

[2021-10-05 16:47] daniel-j-h commented on #555
Hey there I haven't forgotten this I was just out on vacation :hugs:

@ank27 Here's how I'm providing the data

[code]

and here is how I'm setting up the on-click handler

[code]

The layer is a fill layer, in case that matters.

but what I then get out is

[code]

which is a `Polygon` feature and not a `MultiPolygon` feature.

[2021-10-06 00:18] YahiaRagae commented on #715
@ank27 thanks a lot for your quick response.

[2021-10-06 00:18] #715 closed

[2021-10-06 14:05] #685 closed

[2021-10-06 23:01] cramptonism opened #724 "Draggable circles and polygons flicker and disappear when dragged quickly"
## Environment

- Android OS version: All
- Devices affected: All
- Maps SDK Version: 10.0.0

## Observed behavior and steps to reproduce

We have a draggable polygon in our app that is semi-transparent. I believe [this PR](https://github.com/mapbox/mapbox-maps-android/pull/582) has regressed that functionality as it causes a flicker and double-draw of the polygon, leading to a perceived change in

[2021-10-08 07:47] AndreasBoehm commented on #709
@ZiZasaurus This issue is still present with the stable version of v10.

[2021-10-09 11:23] xiaxiayige commented on #715
Before v10 I can do it

`LatLngBounds.Builder builder = new LatLngBounds.Builder();
        .include(aaaaaaaaaa)
       .include(bbbbbbbb)
      .include(cccccccccc)

  mapBoxMapView.getMapBoxMap().easeCamera(CameraUpdateFactory.newLatLngBounds(
                builder.build(),
                paddingStart, paddingTop, paddingEnd, paddingBottom));`

Now  how to do ?  Thanks

[2021-10-11 16:05] SamuelBrucksch commented on #186
Some additional information: This seems to happen when app comes back from background. And it's an AA app that uses MapSurface.

[2021-10-11 19:09] kiryldz commented on #186
@SamuelBrucksch I've symbolicated your trace, crash happens somewhere in [Observer](https://docs.mapbox.com/android/maps/api/10.0.0/mapbox-maps-android/com.mapbox.maps/-observer(android-jvm)/). It means that `notify` is called, some Java exception happens in function body, then gets re-throwed and is followed by actually native crash you reported.
Do you have your own observers in code?
Something

[2021-10-11 19:18] SamuelBrucksch commented on #186
No i do not use `subscribe`. But i use `addOnCameraChangeListener`, `addOnStyleImageMissingListener` and `addOnStyleLoadedListener` if that is somehow related.

[2021-10-12 08:21] daniel-j-h commented on #555
@tyofemi @ank27 could you re-open this ticket again please, because it's still an unresolved issue. Thanks! :bow:

[2021-10-13 00:18] #564 closed

[2021-10-13 03:09] xiaxiayige opened #743 "java.lang.NullPointerException: queriedFeatureList.first…rty(getAnnotationIdKey()) must not be null"
## Environment

- Android OS version:  Android 11
- Devices affected: Oppo
- Maps SDK Version:  com.mapbox.maps:android:10.0.0-rc.9

## Observed behavior and steps to reproduce

10-13 11:13:32.340  1231  1289 E AndroidRuntime:        at com.mapbox.maps.plugin.annotation.AnnotationManagerImpl$queryMapForFeatures$$inlined$let$lambda$1$1.run(AnnotationManagerImpl.kt:756)
10-13 11:13:32.340  1231  128

[2021-10-13 10:48] #724 closed

[2021-10-13 11:18] kiryldz commented on #186
@SamuelBrucksch I indeed do not see Java exception before actual crash so hard to say what did happen. However I did verify that if some exception does happen - it should be in logs, e.g. I've explicitly accessed array element that is out of bounds inside `MapboxMap.addOnMapIdleListener { ... }`and got following logs on crash:
[code]

Another thing that comes to my mind is that if I understand cor

[2021-10-13 11:37] SamuelBrucksch commented on #186
Hi,

yes i use it on AA. How do i exclude the Mapbox Lifecycle Plugin? I actually call onStart and the others already.

We use the map surface and initialize it like this:
[code]
So every time the surface is recreated (for example when going into background and coming back) a new MapSurface and so on is generated and filled again with the previous data.

[2021-10-13 11:47] SamuelBrucksch commented on #186
Yes it is the same.

[2021-10-13 12:17] kiryldz commented on #186
You could try it. Guess it should help however it would be very useful if you could also somehow report actual exception text when you catch it.

[2021-10-13 14:25] pengdev commented on #186
Hi @SamuelBrucksch you could reference to the Android Auto integration in our navigation example app in https://github.com/mapbox/mapbox-navigation-android-examples/blob/main/android-auto/src/main/java/com/mapbox/androidauto/car/map/CarMapSurfaceLifecycle.kt. We were iterating Android Auto solution together with our navigation team, so the latest Android Auto example are updated there, and eventua

[2021-10-15 01:36] #743 closed

[2021-10-15 11:29] #709 closed

[2021-10-15 11:37] LukasPaczos opened #748 "Style#isStyleLoaded intermittently returns false"
Maps SDK Version: v10.0.0

1. Set a map style, wait for it to fully load
2. Make changes to the map, move it, etc (I don't know whether there's a specific interaction that triggers this behavior)
3. Periodically check for whether the style is fully loaded (`Style#isStyleLoaded`)

Occasionally (not hard to reproduce), the `isStyleLoaded` reports `false`.

Nav SDK before updating any source checks w

[2021-10-15 14:32] LukasPaczos commented on #748
Just noting that `AnnotationManagerImpl#updateSource` suffers from the same problem as the Nav SDK implementation:
https://github.com/mapbox/mapbox-maps-android/blob/a9b1a54a192ce8fb744bdefe2563b7ae63254eb0/plugin-annotation/src/main/java/com/mapbox/maps/plugin/annotation/AnnotationManagerImpl.kt#L409-L412

It should not check for the `isFullyLoaded` because it will report `false` while other sour

[2021-10-15 14:42] kiryldz commented on #748
@Chaoba could you please create a task for that as well as the fix for annotations?

[2021-10-18 10:46] Christophe668 opened #836 "Puck bearing resource cannot exceed a specific size"
## Environment

- Maps SDK Version: 2.0.0-rc.7 (Mapbox Maps SDK v10.0.0)

## Observed behavior and steps to reproduce
Cannot set a bearing resource larger than 'x' pixels, if it does, it will be compacted:

![Screenshot_20211018-122936](https://user-images.githubusercontent.com/1552554/137715174-82e330f9-f177-4339-8f14-752b899d7f72.jpg)

## Expected behavior

On Mapbox 1.0 it was possible to use r

[2021-10-18 14:52] tobrun commented on #713
Todo: create a list of APIs that we want to improve.

[2021-10-19 09:02] Kashif-E opened #756 "Unable to resolve dependency issue"
I am trying to build my project but none of these dependencies are getting resolved

 implementation 'com.mapbox.maps:android:10.0.0-rc.8'
    implementation 'com.mapbox.plugin:maps-annotation:10.0.0-rc.8'
    implementation 'com.mapbox.plugin:maps-locationcomponent:10.0.0-rc.8'
    implementation 'com.mapbox.plugin:maps-gestures:10.0.0-rc.8'
    implementation 'com.mapbox.plugin:maps-compass:10.0

[2021-10-19 09:10] caizhen2 opened #757 "How to view C + + source code"
## New Feature

<- Description of the feature being requested and any outcomes desired, an example use case, and any suggestions for solution ->

## Why
<- 1-2 sentence description of why you're requesting this feature. What problem does it solve? Why is it valuable? ->
How to view C + + source code

[2021-10-19 09:36] ank27 commented on #756
@Kashif-E Can you check if you are using correct gradle configurations.
follow the guide here : https://docs.mapbox.com/android/beta/maps/guides/install/#add-the-dependency

[2021-10-20 08:01] ank27 commented on #757
@caizhen2 this might help : https://github.com/mapbox/mapbox-maps-android/blob/main/app/src/main/java/com/mapbox/maps/testapp/examples/OfflineActivity.kt

[2021-10-20 13:57] #662 closed

[2021-10-20 14:21] #757 closed

[2021-10-21 11:51] alexander-kulikovskii commented on #693
For now can be used such workaround:
Explicitly calls mapView.onDestroy() when recreate activity

[2021-10-21 11:51] #693 closed

[2021-10-21 14:50] ChristineRobinson opened #771 "Quick zoom focal point - Android"
## Make quick zoom focal point the center of the screen

Current behavior: When a user does a quick zoom pinch, our maps zoom to the point where the gesture/pinch is applied.
Expected behavior in Android: When a user quick zoom son the screen, they expect it to remain centered. We would like to keep the focal point as the center of the screen.  A related request is to add granular control of focal

[2021-10-21 16:11] stolzda opened #772 "Telemetry Settings cannot be changed programmatically"
## Environment

- Android OS version: 10
- Maps SDK Version: 10.0.0

## Observed behavior and steps to reproduce

By default, telemetry seems to be enabled. We would like to integrate the settings into the app overall settings, and toggle the settings from there, which it seems it was possible, see:

https://github.com/mapbox/mapbox-gl-native/issues/13304
https://github.com/mapbox/mapbox-gl-native

[2021-10-25 13:40] djavid opened #776 "How to ease camera to polygon bounds?"
Before v10 I can do it

`LatLngBounds.Builder builder = new LatLngBounds.Builder();
        .include(aaaaaaaaaa)
       .include(bbbbbbbb)
      .include(cccccccccc)

  mapBoxMapView.getMapBoxMap().easeCamera(CameraUpdateFactory.newLatLngBounds(
                builder.build(),
                paddingStart, paddingTop, paddingEnd, paddingBottom));`

Now  how to do ?  Thanks

_Originally posted by

[2021-10-26 09:48] caizhen2 opened #777 "Failed to download customized offline tiles using "tilestore. Loadtileregion()""
## New Feature

<- Description of the feature being requested and any outcomes desired, an example use case, and any suggestions for solution ->
@ank27
## Why
<- 1-2 sentence description of why you're requesting this feature. What problem does it solve? Why is it valuable? ->
Does not exist
  ![image](https://user-images.githubusercontent.com/19689727/138855312-3a0c018e-6ad8-4130-8015-a4ae20cd97a8

[2021-10-26 15:35] dudeuter opened #781 "Expose duration for pulsing puck animator"
## New Feature

The pulsing puck animator has max radius, color, and duration. Although only the max radius and color are exposed through the [LocationComponentSettingsInterface](https://github.com/mapbox/mapbox-maps-android/blob/main/sdk-base/src/main/java/com/mapbox/maps/plugin/locationcomponent/generated/LocationComponentSettingsInterface.kt). We should expose the animation duration as well.

#

[2021-10-29 16:09] e-hartig opened #789 "Over-zoom causes some layers to render underground when terrain/3D is enabled"
## Environment

- Android OS version:
- Devices affected:
- Maps SDK Version: Have seen this in 10.0.0-rc.3 - 10.1.0-beta.1

## Observed behavior and steps to reproduce

With terrain enabled, when a map source has a low max zoom set and the camera is zoomed in past that point, some layers render below the ground (perhaps at sea level).  This is especially apparent in road and place labels that don

[2021-10-31 10:46] bar3200 opened #790 "Refresh geojson source data"
## New Feature (Or question)

pre-v10 I could have told the source to "refresh" by re-setting it's url.
I've tried it with source.url("...") but doesn't seem to actually update.
What am I missing?

[2021-11-01 17:32] astojilj commented on #789
@e-hartig,

[code]

It is an implementation constraint (it is a bug logged in https://github.com/mapbox/mapbox-gl-js/issues/10265), that vector source needs to be of higher zoom level than terrain's raster- dem source. As a matter of fact, it is so that in common case, composite of zoom 16 is using raster-dem tile, size 514x514 of zoom level 13 or 14 by sampling and interpolating elevation from a

[2021-11-02 15:20] samcrawford opened #803 "v10 SDK crashing with "couldn't find DSO to load: libEGL.so" on Android 12 with Places Plugin"
## Environment

- Android OS version: 12 (simulator)
- Devices affected: See above
- Maps SDK Version: 10.0.0

## Observed behavior and steps to reproduce

I'm in the process of migrating to Mapbox Android SDK v10 and Navigation SDK v2. However, I'm seeing a crash on Android 12 (API 31).

I'm using the Places Plugin from https://github.com/mapbox/mapbox-plugins-android/tree/main/plugin-places

###

[2021-11-03 09:04] kiryldz commented on #803
@samcrawford you're totally right: you could not mix v9 maps with v10 maps and this is also true for the plugins. Search SDK is designed to replace plugin-places if using Maps SDK v10 and Nav SDK v2, you could check out this [example](https://github.com/mapbox/mapbox-search-android-examples/blob/main/app/src/main/java/com/mapbox/search/sample/maps/MapsIntegrationExampleActivity.kt) of some basic s

[2021-11-03 09:04] #803 closed

[2021-11-03 10:01] skienzl opened #809 "Scalebar ratio setting not applied correctly"
## Environment

- Android OS version: all
- Devices affected: all
- Maps SDK Version: 10.1.0-rc.1

## Observed behavior and steps to reproduce

If you change the ratio of the scalebar plugin the bar and labels get cut off if the ratio is higher than 0.5:

![image](https://user-images.githubusercontent.com/4992387/140040343-98bbaf36-bbc3-4468-a6f6-a95d21c78ba0.png)

## Expected behavior

Apply the

[2021-11-03 10:37] Chaoba commented on #809
Thank you @skienzl for reporting this, we will fix this issue soon.

[2021-11-03 16:05] ZiZasaurus commented on #776
@djavid @samcrawford Thank you for reaching out. I have reproduced this behavior with the latest version of our SDK. At the moment, we are awaiting a fix from another team which will resolve this issue.

[2021-11-04 09:05] alexeysi opened #820 "Java example for SDK v10 integration into application"
## New Feature
Is there going any Java example for SDK v10 integration into application?
## Why
We have an application in Java and never going to switch to Kotlin

[2021-11-04 10:42] tobrun commented on #416
I think we are good for now. We can follow up with more specific issues later

[2021-11-04 10:42] #416 closed

[2021-11-04 14:34] ZiZasaurus commented on #772
@stolzda It is not currently possible to opt-out of telemetry on behalf of your users. You must give your end-users the ability to opt in or out within your application. For additional information about telemetry, please take a look at our documentation [here](https://www.mapbox.com/telemetry/#opt-out).

[2021-11-05 03:32] LwLuna opened #824 "android studio v10.0.0和v10.1.0都下载不下来"
android studio v10.0.0和v10.1.0都下载不下来

[2021-11-05 03:40] LwLuna commented on #824
android java 最高版本只能用9.2.0其他SDK拉不下来报错（ERROR: Unable to resolve dependency for ':app@debug/compileClasspath': Could not resolve com.mapbox.maps:android:10.1.0.）

[2021-11-05 06:22] Chaoba commented on #824
Please refer to https://docs.mapbox.com/android/maps/guides/install/#configure-credentials

[2021-11-05 06:25] Chaoba commented on #820
We have two java [examples]( https://github.com/mapbox/mapbox-maps-android/tree/main/app/src/main/java/com/mapbox/maps/testapp/examples/java) and a [Java interface checker ](https://github.com/mapbox/mapbox-maps-android/blob/main/app/src/main/java/com/mapbox/maps/testapp/examples/JavaInterfaceChecker.java)you can refer to

[2021-11-05 06:53] 229222025 opened #825 "update annotaion"
## Environment

- Android OS version:7.0
- Devices affected:
- Maps SDK Version:10.1.0

pointAnnotationManager1.update(PointAnnotation) will refresh all annotations on the layer corresponding to pointannotationmanager1, resulting in higher CPU utilization. Is there any way to refresh only one annotation

[2021-11-05 07:06] Chaoba commented on #825
The current architecture requires updating all even you update only one annotation.
A workaround is creating several pointAnnotationManager and separating annotations into them.

[2021-11-05 07:13] LwLuna commented on #824
就是根据这个配置的下载的时候报错（ERROR: Unable to resolve dependency for ':app@debug/compileClasspath': could not resolve com.mapbox.maps:android:10.0.0.）

[2021-11-05 07:46] 229222025 commented on #825
I tried to create multiple pointannotationmanagers, but the onpointinnotationclicklistener will not be triggered. Is there any way to solve this problem?

[2021-11-05 11:32] LukasPaczos commented on #748
The current model is misrepresenting the `Style` object's state, especially since multiple platform-side instances are backed by the same data, so a style that is theoretically reloaded on the platform side would still report "fully loaded".

Should we keep this open and reconsider changing the way the `Style` object is exposed by the platform for `v11`? Looks like GL-Native treats it now more as

[2021-11-05 12:21] stolzda commented on #772
Yes, this is what we are trying to implement. We want to integrate this possibility within the settings screen within our app - but when the user opts out on this screen, we need to call the corresponding mapBox opt-out function. I left out the settings part and only put a minimal example of how I assumed that I need to call the mapBox SDK to pass the opt-out request of the user - but it did not w

[2021-11-05 16:35] tobrun commented on #748
Agreed that this needs revisiting for v11

[2021-11-08 08:25] LwLuna opened #828 "Android java 集成v10失败"
集成时候报错下载sdk下载不下来

[2021-11-08 10:08] 229222025 opened #829 "OnPointAnnotationClickListener not to execute"
## Environment

- Android OS version:7.0
- Devices affected:
- Maps SDK Version:10.1.0

Creating multiple pointAnnotationManagers causes the onPointAnnotannotationClicklistener not to execute

https://github.com/mapbox/mapbox-maps-android/issues/825#issuecomment-961687531

[2021-11-08 10:46] #809 closed

[2021-11-08 11:14] Chaoba commented on #829
@229222025 I'm not seeing this issue while testing it locally. Do you consume the click events in `OnPointAnnotationClickListener`?

[2021-11-08 15:24] ZiZasaurus commented on #824
@LwLuna it seems as though your build.gradle, R.strings.xml or your gradle.properties file may not be configured properly. Please ensure that your secret token (includes `Downloads:Read` scope) is added to your gradle.properties file per https://docs.mapbox.com/android/maps/guides/install/#configure-credentials?

[2021-11-08 19:53] ZiZasaurus commented on #828
Closing in favor of https://github.com/mapbox/mapbox-maps-android/issues/824

[2021-11-08 19:53] #828 closed

[2021-11-09 01:42] LwLuna commented on #824
可以了，是令牌访问权限不够所以下载不下来

[2021-11-09 01:42] LwLuna commented on #824
可以了，是令牌访问范围不够，换个令牌就可以了

[2021-11-09 02:02] LwLuna opened #832 "geoserver导出的geojson数据无法显示"
从geoserver导出的geojson数据无法显示

[2021-11-09 07:38] priyaji1 opened #833 "Issue in filter map using expression on a single layer with multiple ids."
## New Feature
  for (trails in trailsList) {

  expressiontrail =

                match {
                    get {
                        literal(AppConstant.MapBoxConstants.t_id)

                    }
                    literal(trail.id) // getting when itterating through loop
                    stop {
                        literal(
                            AppConstant.MapBoxConstants

[2021-11-09 16:57] pengdev commented on #607
@kiryldz is this done? shall we close it?

[2021-11-09 17:16] ZiZasaurus commented on #772
@stolzda we fixed a bug affecting the persistence of user settings in [v10.0.1](https://github.com/mapbox/mapbox-maps-ios/releases/tag/v10.0.1). Can you please try updating to that version and see if the issue persists?

Please note, you would need to set a boolean value for the `MGLMapboxMetricsEnabled` key in UserDefaults.standard.

[2021-11-10 01:27] caizhen2 opened #837 "How to decrypt a custom vector tiles ？"
Is there an interface programming way to solve this problem?

[2021-11-10 02:28] dudeuter commented on #837
Hello @caizhen2,

This while the Maps SDK certainly utilizes vector tiles, this is not a Maps SDK issue 🙂

Please refer to our public documentation on the [vector tile spec](https://docs.mapbox.com/vector-tiles/specification/).

If you have any further questions please open a support request at https://support.mapbox.com.

[2021-11-10 02:28] #837 closed

[2021-11-10 03:03] Reafidy opened #838 "Animate Camera in v10"
Hi Team,

Unfortunately with all the help files in Kotlin, its left myself as an amateur developer rather lost.

In mapbox v9 I could animate the camera using the animatecamera method.  Nice and simple.

In mapbox v10 it says to use flyTo or easeTo. However none of these methods exist in the mapboxMap object?

[code]

How do I use flyTo and easeTo in plain old java?

[2021-11-10 07:49] sonwh98 opened #840 "repository should be added to settings.gradle NOT build.gradle"
## Environment

- Android OS version: 30
- Devices affected: any
- Maps SDK Version: 10.1.0

## Observed behavior and steps to reproduce
Cannot download dependency

the solution was to put repository information in settings.gradle
https://stackoverflow.com/questions/68822705/problem-with-mapbox-installation-android-studio-kotlin

https://developer.android.com/studio/preview/features#settings-gradl

[2021-11-10 11:01] kiryldz commented on #607
That's not done.

[2021-11-10 11:28] kiryldz commented on #838
Hey @Reafidy, if using Java you could call it by:
[code]

The way it's called this way is that now animation is much more flexible and lives in it's own module. It's very easily accessible if you use Kotlin but signature for Java is indeed not that obvious.
I'll also update docs on public site with Java examples shortly, sorry for that inconvenience.

[2021-11-10 11:28] #838 closed

[2021-11-10 11:36] kiryldz commented on #840
You should put dependency in _project_ level `build.gradle` file both in
[code]
and
[code]
and then it should work.
Example is in this repo [here](https://github.com/mapbox/mapbox-maps-android/blob/main/build.gradle.kts).

[2021-11-10 11:36] #840 closed

[2021-11-10 14:35] #820 closed

[2021-11-10 16:25] ZiZasaurus commented on #836
@Christophe668 I changed the image to square and no longer experience this issue. Can you try using a square image, rather than the rectangular image you posted above and verify whether it addresses the appearance of the bearing image?

[2021-11-10 19:11] Reafidy commented on #838
@kiryldz  Thank you very much for the reply.   This now makes sense and having the help files in Java would be great at some point.

[2021-11-12 08:50] 229222025 opened #851 "CircleAnnotationManager绘制的圆的缩放问题"
10.1.0版本，CircleAnnotationManager绘制的圆如何跟随地图一起缩放呢？

[2021-11-12 09:32] #825 closed

[2021-11-12 09:32] #829 closed

[2021-11-12 16:28] kiryldz opened #853 "Adopt to more recent robolectric"
While [bumping](https://github.com/mapbox/mapbox-maps-android/pull/852) to gl-native v10.2.0-beta.1 some robolectric tests started [failing](https://app.circleci.com/pipelines/github/mapbox/mapbox-maps-android/3169/workflows/6df34305-366e-44e8-a153-a256a999172c/jobs/24756).

@alexander-kulikovskii and I did not manage to understand exact reason but it's for sure connected with using Java 8 (becaus

[2021-11-12 16:29] kiryldz commented on #853
Related issue that seems to be connected: https://github.com/mockk/mockk/issues/522

[2021-11-15 02:07] 229222025 opened #854 "CircleAnnotationManager scale problem"
In version 10.1.0, how does the circle annotation manager scale with the map?

[2021-11-15 11:48] kiryldz commented on #853
Not relevant anymore, workaround was found.

[2021-11-15 11:48] #853 closed

[2021-11-15 11:53] tobrun commented on #832
Thank you for reaching out @LwLuna, it's not really clear what your request is here.. going to close

[2021-11-15 11:53] #832 closed

[2021-11-15 11:54] tobrun commented on #851
@229222025 thank you for reaching out but It's not fully clear to me what your request is here.. Happy to look more later but going to close for now.

[2021-11-15 11:54] #851 closed

[2021-11-15 15:43] #675 closed

[2021-11-15 15:43] tobrun commented on #675
Closing this for now but please reach out if you hit this issue again

[2021-11-16 11:44] tobrun commented on #631
will be resolved with v10.2.0

[2021-11-16 11:44] #631 closed

[2021-11-16 11:54] #344 closed

[2021-11-16 11:54] tobrun commented on #344
We haven't been able to reproduce on our end, if you have any more input we would love to hear it. Closing as stale

[2021-11-16 11:56] pengdev commented on #777
Hi @caizhen2, could you please provide a bit more context on what style you used? You mentioned `download customized offline tiles`, how did you customise the offline tiles?
The new offline solution(TileStore) currently only works with Mapbox tiles, if you need to use offline with your customised tiles, you can still use the [legacy offline manager](https://docs.mapbox.com/android/maps/api/10.1.0/

[2021-11-16 14:12] daniel-j-h commented on #772
@ZiZasaurus your links and notes seem to be about the Swift / iOS version, while this ticket is about the Android Maps SDK.

I am facing the same problem for my app on Android using the Maps SDK v10 where I must allow users to decide on all telemetry and location collection for regulatory reasons.

[2021-11-16 14:30] ZiZasaurus commented on #836
Closing this ticket for now, however, if this does not answer your question please feel free to reopen.

[2021-11-16 14:30] #836 closed

[2021-11-16 14:31] Christophe668 commented on #836
I did help, I just fixed this on my side and it's perfect! Thanks for the help!

[2021-11-16 18:28] ZiZasaurus commented on #833
@priyaji1 for `match` you don't need to declare `stop`. Additionally, it looks like you are trying to filter, however, `lineColor` does not pertain to filtering. If you would like all of your trails to be colored color1 except for t_id, which is colored color2, then you would want to use a `case` expression instead like in our [iconPropertyActivity example](https://github.com/mapbox/mapbox-maps-an

[2021-11-16 21:12] TarekBenDriss opened #860 "Failed to load style: HTTP status code 401"
I followed the documentation from this link:
https://docs.mapbox.com/android/maps/guides/install/

But I still have the error:
**Failed to load style: HTTP status code 401
 OnMapLoadError: STYLE, message: Failed to load style: HTTP status code 401, sourceID: null, tileID: null**

I checked the token and even created a new one that grants all permissions ... but to no avail

[2021-11-17 10:28] kiryldz opened #862 "Revisit global layout listener usage in view annotations"
## Environment

- Android OS version: any
- Devices affected: any
- Maps SDK Version: v10.2.0-beta.1

Follow up task for https://github.com/mapbox/mapbox-maps-android/pull/834#discussion_r751076327.
We indeed could refactor code a bit and use single global layout listener if for `MapView` I assume instead of current approach.

cc @tobrun

[2021-11-17 15:27] ZiZasaurus commented on #860
@TarekBenDriss where are you setting your token, within the view controller or in the info.plist?

[2021-11-17 15:46] yunikkk opened #863 "A lot of logs from RenderThread in demo app after switch of app sections"
After closing section with the back button in demo app a lot of logs start to appear from MapboxRenderThread. Seems some tasks are not cleared on exit.

This happens at least sometimes on exiting `BasicLocationPulsingCircleActivity`.

cc @kiryldz
[code]

[2021-11-17 18:17] TarekBenDriss commented on #860
It's an android and not ios project.

[2021-11-17 19:55] #860 closed

[2021-11-18 15:54] kiryldz commented on #418
API landed in https://github.com/mapbox/mapbox-maps-android/releases/tag/android-v10.2.0-beta.1, please check it out. Also noting that in future more high-level API should arrive to incorporate view annotations to annotation plugin. Showcase example that should be actually replacing MarkerView from v9 could be found in this [activity](https://github.com/mapbox/mapbox-maps-android/blob/main/app/src

[2021-11-18 15:54] #418 closed

[2021-11-18 15:55] kiryldz commented on #393
See https://github.com/mapbox/mapbox-maps-android/issues/418#issuecomment-972996614.

[2021-11-18 15:55] #393 closed

[2021-11-18 15:56] kiryldz commented on #246
See https://github.com/mapbox/mapbox-maps-android/issues/418#issuecomment-972996614.

[2021-11-18 15:56] #246 closed

[2021-11-18 19:15] tobrun commented on #772
One shorter-term improvement we could potentially offer is the ability to launch to your app with the telem dialog opened via a public API.

[2021-11-19 00:41] VincentJoshuaET opened #870 "View Annotations not visible"
## Environment

- Android OS version: 12
- Devices affected: Samsung Galaxy S20+
- Maps SDK Version: 10.2.0-beta.1

## Observed behavior and steps to reproduce

I just used this basic code.

[code]

## Expected behavior

No annotation shows up. I can confirm that the list of features is not empty, and that the id and geometry are not null.

## Notes / preliminary analysis

I tried also using the a

[2021-11-19 07:12] kiryldz commented on #870
@VincentJoshuaET thanks for early 👀 on this functionality!

Based on code provided I can only suppose that `featureId` simply does not exist on map. Try removing `associatedFeatureId(feature.id()!!)` and see if views will appear. Please keep in mind that `associatedFeatureId` only controls view annotation visibility based on feature visibility but does not control actual positioning in the viewpor

[2021-11-19 07:13] VincentJoshuaET commented on #870
Yes. I tried removing feature.id() but the annotation still doesn't show up.

[2021-11-19 07:20] VincentJoshuaET commented on #870
Also, if the feature does not exist, It should cause a null pointer exception, right?

[2021-11-19 07:34] kiryldz commented on #870
Re-opening then. Please take a look at the example I've provided you in https://github.com/mapbox/mapbox-maps-android/issues/870#issuecomment-973810908. I can not see any reasons why your view is not showing up, unless you did specify it as `View.GONE` or `View.INVISIBLE` in xml layout file.

I'll create a follow-up task for that, indeed exception should be thrown, thanks for flagging. I verified

[2021-11-19 07:49] kiryldz commented on #870
@VincentJoshuaET I've tried it locally and indeed you're right - if setting no `associatedFeatureId` at all - no view annotation is shown 😞 We will try to fix it ASAP but as for now you could workaround by actually providing correct `featureId`s - then it will work fine.

[2021-11-19 07:53] VincentJoshuaET commented on #870
I am not sure why this is not showing up:

[code]

Note: I made a suspending extension function for queryRenderedFeatures.

Log:
[code]

[2021-11-19 08:04] VincentJoshuaET commented on #870
I tried inflating the view manually and attaching to root, like this:

[code]

And this happens:
![Screenshot_20211119-160334_GeoViewer Mobile Debug](https://user-images.githubusercontent.com/19756326/142587216-4671fbf6-63c2-4fc0-b30b-3e7e043f9688.png)

Setting attachToRoot to false will make it not show up like before.

[2021-11-19 09:36] kiryldz commented on #870
@VincentJoshuaET I've taken a deeper look and there should be no issue if adding view annotation to the point even if no `associatedFeatureId` is specified as I wrote in https://github.com/mapbox/mapbox-maps-android/issues/870#issuecomment-973837771.

Can it be somehow connected with view bindings you are using? Can you try following code:
[code]
and make sure that `layout_bubble` is visible.
Also

[2021-11-19 10:20] kiryldz commented on #870
@VincentJoshuaET I've prepared basic example very similar to your setup, PTAL at https://github.com/mapbox/mapbox-maps-android/pull/873.
During development one thought came to my mind, could you please check that your `layout_bubble.xml` _does not_ use `WRAP_CONTENT` dimensions for width and height? Only fixed dimensions are supported for now.

[2021-11-19 10:23] VincentJoshuaET commented on #870
Unfortunately, my layout does use WRAP_CONTENT. Any suggestions for a workaround? I have two textviews that can have differing lengths depending on the feature. Thank you.

[2021-11-19 10:24] VincentJoshuaET commented on #870
Ill try to use fixed dimensions with autosizing textviews. Ill update you next week as it's already Friday night for me

[2021-11-19 10:40] kiryldz opened #874 "View annotation: support for WRAP_CONTENT dimensions"
## New Feature

Now only concrete width / height dimensions are supported.
It would be nice to support not only fixed user view dimensions but dynamic based on view's content:
[code]

## Why
Support all types of Android views user wishes to place on top of the map.

[2021-11-19 10:41] kiryldz commented on #870
tracking with https://github.com/mapbox/mapbox-maps-android/issues/874

[2021-11-19 10:41] kiryldz commented on #870
@VincentJoshuaET closing this one as it should be root cause in your case, please re-open if needed.

[2021-11-19 10:41] #870 closed

[2021-11-19 13:36] Toprakete opened #877 "Event for everythings has loaded, rendered and displayed"
## New Feature

Hi,
I need a event that is once fired after everything is done (sources loaded, annotation displayed, etc.) and everything is finally on the screen

## Why
I have a map with over 19000 annotations. This works quite good, but after I added all layers and sources and annotations it takes about 10 seconds till the annotaions appear on the map. At this time I already had remove the loa

[2021-11-19 15:35] kiryldz commented on #877
@Toprakete can you provide some sample code how you actually load the data?

[2021-11-21 02:20] Reafidy opened #880 "Camera Rotation"
It would be useful to support rotation of the camera about the horizontal plane.  ie To simulate an aircraft bank angle, in 3D terrain.

Example:
https://ipadpilotnews.com/wp-content/uploads/2018/11/iPhone-X-FF-SV-landscape.jpg

[2021-11-21 23:27] VincentJoshuaET commented on #870
Will wrap_content dimensions be supported in the future?

[2021-11-22 05:41] #854 closed

[2021-11-22 05:41] 229222025 opened #881 "CircleAnnotationManager scale problem"
In version 10.1.0, how does the circle annotation manager scale with the map?

[2021-11-22 08:54] Toprakete commented on #877
Hi,
I load the annotation positions from Database, remember them and set their bounding to the camera position.
After this I create PointAnnotationOptions for each of them with:
PointAnnotationOptions s = new PointAnnotationOptions()
                        .withGeometry(p)
                        .withIconImage(marker)
                        .withData(data)
                        .withIconAncho

[2021-11-22 10:35] sanpark opened #883 "java.lang.ClassNotFoundException: com.mapbox.module.Mapbox_HttpClientModuleConfiguration"
W/System.err: java.lang.ClassNotFoundException: com.mapbox.module.Mapbox_HttpClientModuleConfiguration
        at java.lang.Class.classForName(Native Method)
        at java.lang.Class.forName(Class.java:454)
W/System.err:     at java.lang.Class.forName(Class.java:379)
        at com.mapbox.common.module.provider.MapboxModuleProvider.createModule(MapboxModuleProvider.kt:27)
        at com.mapbox.c

[2021-11-23 05:26] priyaji1 commented on #833
Hi Thank you for reply.switch case not work in my case because i am passing an array of trail ids and need to check each item of array with corresponding trail ids. i have used this code which i have attached it is working fine in IOS but not work in android.

val openCloseExpression = match {

                get {
                    literal(AppConstant.MapBoxConstants.t_id)
                }

[2021-11-23 12:56] Toprakete opened #891 "WMTS tile server support"
Is it possible to view maps from an WMTS tile server with url format like:

{TileMatrixSet}/{TileMatrix}/{TileCol}/{TileRow}

Using version 10.1.0 for WMS I do it so:
[code]

with:

[code]

Is there something similar for an url in the format:
.../{TileMatrixSet}/{TileMatrix}/{TileCol}/{TileRow}

??
br

[2021-11-24 05:46] zhufeixiang opened #895 "the map in the demo is black screen"
phone  oneplus 6T
android 1

could you give me some solution？thanks
![WechatIMG48](https://user-images.githubusercontent.com/26599058/143181672-e94d3fea-092a-402b-a8ab-7960326b7ef1.jpeg)

[2021-11-24 05:46] zhufeixiang commented on #895
android  10

[2021-11-24 09:49] kiryldz commented on #895
hey @zhufeixiang , for me it seems that you have either token missing or token invalid, please see instructions [here](https://docs.mapbox.com/android/maps/guides/install/).
Please re-open with more details if issue will persist.

[2021-11-24 09:49] #895 closed

[2021-11-25 00:06] VincentJoshuaET commented on #874
As a workaround, is it possible if we manually inflate our custom layouts and then retrieve the actual view dimensions and set that in the view annotation options?

[2021-11-25 06:33] VincentJoshuaET commented on #870
I tried to set my root layout dimensions as fixed, but the views inside still set as WRAP_CONTENT. Will this not work still?

[2021-11-25 10:46] wingkingbobo opened #905 "OnCameraIdleListener ANR"
## Observed behavior and steps to reproduce

MapBox v9.6.2:
[code]
 execute correctly
------------------
MapBox v10.1:
[code]
ANR Raised by a circular call
[code]

## Expected behavior

I want to query the database according to the visual range of the screen when the map stops, and display the query results on the map.
It seems that only the onCameraidle () callback method can get the final locati

[2021-11-25 14:04] kiryldz commented on #905
@wingkingbobo I guess you're calling `circleAnnotationManager.update(circleAnnotation)` blindly but annotation itself does not get changed between map idle events, is this correct?

[2021-11-26 00:29] Agosto44 opened #907 "Compass disappears when hiding the scalebar. Compass only appears if the view is paused and resumed"
## Environment

- Android OS version: 11
- Maps SDK Version: 10

## Observed behavior and steps to reproduce

When hiding the scalebar on the map, be it through `mapView.scalebar.updateSettings { enabled = false }`
or through `mapView.scalebar.enabled = false`, the compass also gets hidden.

The compass only appears if the view is paused and resumed - for example, when going to the android main me

[2021-11-26 02:04] wingkingbobo commented on #905
In order to load tens of thousands of data on the mapbox, I dynamically loaded vectors when the camera stopped moving.

[code]

----

It can be seen from the method annotation that the two functions do not mean the same.

The new method is called after the map rendering is completed. In this method, refreshing the Annotation map will render again, resulting in a dead circle. The old method is to c

[2021-11-26 02:18] Chaoba commented on #905
No need to call  `manager.updateSource()`, the annotation plugin will handle the update internally.
You can remove `OnMapIdleListener` as soon as you receive the callback.

[2021-11-26 02:29] wingkingbobo commented on #905
Thank you for your help

I understand that onmapidlelistener really can't replace the oncameraidlelistener method. I will combine other listeners to implement it

[2021-11-26 02:32] #905 closed

[2021-11-26 03:30] zhufeixiang opened #908 "java.util.zip.ZipException: zip file is empty"
It's OK to create a new project and directly reference it, but build reports an error after referencing it in the existing project then it's OK after removing the reference of mapbox. The following is the error informatio
<img width="767" alt="D271B648-1F84-4DCB-A5B3-13C7C46D9416" src="https://user-images.githubusercontent.com/26599058/143522400-a408fb2e-49c6-4a6a-ae29-4cb194322bc7.png">
<img widt

[2021-11-27 02:41] karatuno opened #916 "How to add marker using Java in v10?"
The document only shows how to add markers only using [Kotlin](https://docs.mapbox.com/android/maps/guides/annotations/). While I have figured out how to use the rest of the features(gestures, adding style, disabling scale), but I'm not able to add markers using java. Why you guys don't have Java documentation?

[2021-11-27 16:17] karatuno commented on #916
[code]

But you should include Java documentation. Is it that hard? If so how can I contribute?

[2021-11-27 16:17] #916 closed

[2021-11-28 15:25] caizhen2 opened #917 "When will the documentation for Java integration mapbox 10 be provided?"
## New Feature

<- Description of the feature being requested and any outcomes desired, an example use case, and any suggestions for solution ->
## Why
<- 1-2 sentence description of why you're requesting this feature. What problem does it solve? Why is it valuable? ->

[2021-11-29 05:24] #908 closed

[2021-11-29 07:03] kiryldz commented on #917
@caizhen2 could you please add a reference what docs have you taken a look at so far?

[2021-11-29 08:01] RocCaiy23 opened #921 "Is it possible to open the interface to set the background outside the globe?"
## New Feature

For example, the universe, stars, etc. This is to increase the sense of reality, thank you very much.

## Why
<- 1-2 sentence description of why you're requesting this feature. What problem does it solve? Why is it valuable? ->

[2021-11-29 08:18] jonschmidt opened #922 "User Location bearing is not accurate in v10"
## Environment

- Android OS version: 12
- Devices affected: Pixel 5
- Maps SDK Version: 10.1.0

## Observed behavior and steps to reproduce

Hi. I have a simple map setup where I show the user location + bearing. On v9, this works very well, as I move the phone around, the bearing updates smoothly, reflecting where I am pointing.

## Expected behavior

I would expect bearing operate in v10 as in

[2021-11-29 08:31] kiryldz commented on #921
@RocCaiy23 it's not possible at the moment. However we may look into this feature in the future.

[2021-11-29 08:47] ank27 commented on #880
@Reafidy Currently this is not supported with [FreeCameraOption](https://docs.mapbox.com/mapbox-gl-js/api/properties/#freecameraoptions) as for the orientation of camera we use zoom, pitch and bearing and not roll, pitch, bearing. Although you can try tweaking FreeCameraOption's parameter to simulate roll (for eg. using yaw and altitude, although this is not correct roll representation). We could

[2021-11-29 09:56] wingkingbobo opened #923 "MapView#snapshot returns a black bitmap"
## Environment

This problem is raised in issue #42, And it has been repaired.
But I still have this bug, and it occurs every time.
Do I need an updated version?
[code]
[code]

[2021-11-29 10:24] kiryldz commented on #923
@wingkingbobo I've checked that everything should work fine, we have similar test [activity](https://github.com/mapbox/mapbox-maps-android/blob/main/app/src/main/java/com/mapbox/maps/testapp/examples/snapshotter/MapViewSnapshotActivity.kt). It uses sync method to get snapshot but I've validated that async (as you're using in your code snippet) also works fine.

Can you provide more info:
1. device

[2021-11-29 10:47] ank27 commented on #907
@Agosto44, I have tested with hiding the scalebar, the compass does not disappear (check the attached video), maybe you can share your implementation (Also are you using v10.0.0 or v10.1.0?).

https://user-images.githubusercontent.com/11589497/143854098-375da0f4-ff1c-4876-9792-b700a9fb5d6d.mp4

[2021-11-29 15:58] ZiZasaurus commented on #881
For CircleManager of annotations, we can only use fixed values, not expressions. If you would like to be able to use expressions with zoom as input, you would need to move the solution to normal circle layers. For more information, take a look at our documentation on StyleLayers [here](https://docs.mapbox.com/ios/maps/guides/annotations/#style-layers).

[2021-11-29 15:58] #881 closed

[2021-11-29 18:15] tyofemi commented on #883
Please provide more information.

[2021-11-30 02:15] ZiZasaurus commented on #922
Thank you for reporting. I was able to reproduce this behavior on a Google Pixel 3 as well.

[2021-11-30 05:32] Sonosar commented on #771
Same issue here
We are trying to switch to mapbox from google maps, and this is the only thing holding us back…

[2021-11-30 11:46] kiryldz commented on #182
That's available for testing in [v10.2.0-beta.1](https://github.com/mapbox/mapbox-maps-android/releases/tag/android-v10.2.0-beta.1).

[2021-11-30 11:46] #182 closed

[2021-11-30 12:00] kiryldz commented on #771
@Sonosar @ChristineRobinson perhaps I do not get an issue but as I understand focal point for quick zoom in (douple tap) is used both in Goolge Maps and Mapbox Maps.

https://user-images.githubusercontent.com/15800566/144043581-be00e5d2-1bbc-4375-9383-11760a7c0fcf.mp4

Can you provide a bit more information (perhaps with visuals)?

[2021-11-30 13:02] Sonosar commented on #771
Please take a look at this 2 videos

https://user-images.githubusercontent.com/9080655/144051417-e447ef75-94e0-497a-b293-97ed752a62af.mp4

https://user-images.githubusercontent.com/9080655/144051393-522a5088-2ad5-40ac-93b5-3b0d8becb829.mp4

The first on is the desired behavior, the second video is the actual behavior
Please note that we have the same issue with iOS as well

[2021-11-30 13:59] dimysa opened #928 "Annotation drag does not work after setting isDraggable true in OnLongClickListener"
## Environment

- Android OS version: 11
- Devices affected: OnePlus 8 Pro
- Maps SDK Version: 10.1.0

## Observed behavior and steps to reproduce

If set `annotation.isDraggable = true` in LongClickListeners callback (`AnnotationPlugin.addLongClickListener`), isDraggable will not be enabled, and we cannot drag the annotation. This works correctly in v9 plugin.

## Expected behavior

We can drag t

[2021-11-30 14:17] kiryldz commented on #771
@Sonosar although we have API in place for that case, here I do set to always use screen center as focal point:
[code]
it seems it does not work as expected, I'll remove feature tag and we'll look into this bug.

[2021-11-30 14:49] kiryldz commented on #928
cc @Chaoba

[2021-11-30 14:56] ank27 commented on #928
@dimysa I tested with the source code you provided, it seems the drag is working as expected. (Check the attached video)
you can also refer to the [example activity](https://github.com/mapbox/mapbox-maps-android/blob/main/app/src/main/java/com/mapbox/maps/testapp/examples/markersandcallouts/PointAnnotationActivity.kt) for more reference

https://user-images.githubusercontent.com/11589497/144070236

[2021-11-30 15:02] Chaoba commented on #928
After change the `isDraggable` property, you must call `update` method.
`pointAnnotationManager.update(annotation)`

[2021-11-30 15:52] dimysa commented on #928
@ank27
It looks interesting because it works on emulators (Android 9, 10 and 11), but it doesn't work on my phone (OnePlus 8 pro - Android 11)
https://user-images.githubusercontent.com/14176511/144080829-f7147a3f-42da-4dc6-ab83-364461fb3e04.mp4

[2021-11-30 18:25] dimysa commented on #928
I noticed that if I try to repeat this using [scrcpy](https://github.com/Genymobile/scrcpy) and control the phone with the mouse (the device will show up on my computer), the bug does not reproduce. I also subscribed to the `onMoveListener` (`mapView.gestures.addOnMoveListener`) and noticed that i I hold my finger long on the screen (over the annotation or just over the map) `onMoveBegin` will be

[2021-12-01 03:07] wingkingbobo commented on #923
Source Code:
[TestSnapshot.zip](https://github.com/mapbox/mapbox-maps-android/files/7630325/TestSnapshot.zip)
mapbox_access_token in strings.xml needs to be replaced.

[code]

[code]

Here are the phones I tested.
It seems that some Huawei mobile phone have problems.

| Phone                  | OS            | Snapshot Available |
| ---------------------- | ------------- | ------------------ |
| H

[2021-12-01 06:28] Chaoba commented on #928
`onMoveBegin` are triggered before `onMapLongClick`, which means you are changing the `isDraggable` during the move gesture. So, IMHO it is hard to say this is a bug.

[2021-12-01 07:16] dimysa commented on #928
but I don't move my finger, `onMoveBegin` shouldn't be called at all. I started the issue because I found a mismatch between versions 9 and 10 of the library

[2021-12-01 09:34] kiryldz commented on #923
@wingkingbobo sadly I don't have any of such Huawei phones nearby.
Can you try performing snapshot in your example with Huawei with following function? It will produce flipped image but just to check it will be valid.
[code]
and call it in your example:
[code]

[2021-12-02 07:38] wingkingbobo commented on #923
@kiryldz On honor 20 pro, testsnapshot returns a black image, while on redmi note 9, it is a flipped image.

[2021-12-02 08:34] kiryldz commented on #923
Thanks @wingkingbobo for helping out with testing!
We identified the root cause, fix will be delivered in Jan 2022 as part of `v10.3-beta.1` release. Will keep you updated!

[2021-12-02 11:45] alexzatsepin commented on #863
This issue can be easily reproduced if the following StrictPolicy enabled:
[code]
**Steps to reproduce:**
1. Launch the app to view the map
2. Close the app by "Back" pressed
3. Launch the app again

**Actual result:**
[code]
**Environment:**
Samsung galaxy TAB S5e, Android 11
Xiaomi MI 10 Lite, Android 11

[2021-12-02 14:45] #772 closed

[2021-12-02 15:12] yunikkk commented on #863
@alexzatsepin your comment seems like a different issue, let's create a separate one to track. While original isn't actually reproducible anymore and was probably caused with some temporary edit in the app.

[2021-12-02 15:12] #863 closed

[2021-12-02 15:13] yunikkk opened #942 "StrictMode turned on complains about Choreographer.dispose not called"
Issue moved from #863, cc @alexzatsepin

This issue can be easily reproduced if the following StrictPolicy enabled:
[code]
**Steps to reproduce:**
1. Launch the app to view the map
2. Close the app by "Back" pressed
3. Launch the app again

**Actual result:**
[code]
**Environment:**
Samsung galaxy TAB S5e, Android 11
Xiaomi MI 10 Lite, Android 11

[2021-12-02 19:48] ZiZasaurus commented on #891
@Toprakete have you seen our [WMS example](https://github.com/mapbox/mapbox-maps-android/blob/7e6c94892f063c1bee878bfac84043f9162e10ad/app/src/main/java/com/mapbox/maps/testapp/examples/WmsSourceActivity.kt)? What are you seeing when you use you URL with this example?

[2021-12-03 00:31] ccox17 opened #945 "Secret Token Authorization fails beyond Version 9.2.1"
When compiling, any version of the Maps SDK past version 9.2.1 currently provides me with the following error message:
![image](https://user-images.githubusercontent.com/44821677/144522323-f3545a42-96a3-4e45-b2dd-728f0a6a8964.png)
This exact same error message is produced for the debugCompileClasspath, the debugUnitTestCompileClasspath, and the debugAndroidTestCompileClasspath. The Dependency Insi

[2021-12-03 01:24] RocCaiy23 opened #946 "How to remove the specified annotations?"
I can’t seem to assign an id to it, nor can I query it in `mapView.annotations`

[2021-12-03 01:32] RocCaiy23 commented on #946
In version `android-v10.2.0-beta.1`

[2021-12-03 01:58] Chaoba commented on #946
You can refer to the [API docs](https://docs.mapbox.com/android/maps/api/10.2.0-beta.1/mapbox-maps-android/com.mapbox.maps.plugin.annotation.generated/-circle-annotation-manager/#533088528%2FFunctions%2F540127926)

[2021-12-03 01:58] #946 closed

[2021-12-03 03:37] deRonbrown opened #948 "Native crash when navigating between Fragments using a shared element transition"
## Environment

- Android OS version: 10, 11, 12
- Devices affected: Pixel 4, Pixel 5, Pixel 6, etc.
- Maps SDK Version: 9 and 10

## Observed behavior and steps to reproduce

While trying to use a shared element transition between a RecyclerView and another Fragment, the app crashes with a SIGABRT. Demo project for both v9 and v10:

- v9: https://github.com/deRonbrown/MapboxCrash
- v10: https://g

[2021-12-03 08:08] RocCaiy23 opened #949 "Using Style.SATELLITE to draw a heat map will cause a crash"
## Environment

- Android OS version:11
- Devices affected:OPPO A55 5G
- Maps SDK Version:`android-v10.2.0-rc.1`

## Observed behavior and steps to reproduce

Using `Style.SATELLITE` to draw a heat map

## Error stack trace

`2021-12-03 14:58:54.205 29720-29720/com.mapbox.maps.testapp E/AndroidRuntime: FATAL EXCEPTION: main
    Process: com.mapbox.maps.testapp, PID: 29720
    java.lang.RuntimeExce

[2021-12-03 10:00] ank27 commented on #949
@RocCaiy23, We use `waterway-label` layer in `HeatmapLayerActivity` that is present in `Style.Light`, but  not in `Style.SATELLITE`. That's why you get the crash. As it tries to add heatMapLayer on top of waterway-label.

Thanks for notifying this as well, we will add that in the documentation of the activity :)

[2021-12-03 10:24] yunikkk commented on #942
It seems that problem is not really related to our code.
`Choreographer` instance has thread local instance that could be actually disposed but method is hidden, https://android.googlesource.com/platform/frameworks/base/+/master/core/java/android/view/Choreographer.java#318. It was added at https://android.googlesource.com/platform/frameworks/base/+/ac04f4e69a6de138c5afc668a2c89b7da7ff4e6a for the

[2021-12-03 10:25] ank27 commented on #949
You can also use `style#styleLayerExists` to check if a layer exists.
probably something like this :
[code]

Attaching the result here :
![heatmap_satellite](https://user-images.githubusercontent.com/11589497/144587032-4d56f99a-75ae-4d92-839a-f76d0740dcbf.jpg)

[2021-12-03 11:35] kiryldz commented on #771
@Sonosar I was doing it not correct in https://github.com/mapbox/mapbox-maps-android/issues/771#issuecomment-982678074.

I did verify that if focal point is applied correctly (e.g. center of the screen) if you do it the following way:
[code]

However in order to unblock even an easier way I've prepared https://github.com/mapbox/mapbox-maps-android/pull/952
Closing that issue, please feel free to r

[2021-12-03 11:35] #771 closed

[2021-12-05 16:23] deRonbrown opened #957 "Disabling Telemetry"
On v9, I was able to disable telemetry using the following methods:
[code]
How do I disable Telemetry on v10? I see the `MapTelemetry` interface, but I'm not sure how to obtain an instance.

[2021-12-06 09:50] jenz0rw00t commented on #928
+1.
I was using this way of handling draggable annotations before on v9 and can confirm that it doesn't work on v10 on any phones i have tested (and that it worked without any issues on v9). I found this to be the only way to handle annotations that needed to be clickable as well as draggable since that experience is not good with how `isDraggable` works.

[2021-12-07 09:00] ank27 commented on #957
@deRonbrown you can follow this [example](https://github.com/mapbox/mapbox-maps-android/blob/main/app/src/main/java/com/mapbox/maps/testapp/examples/CustomAttributionActivity.kt#L114-L131) related to Telemetry in v10.

[2021-12-07 09:48] #957 closed

[2021-12-07 18:32] DejanRistic opened #962 "Add ability to disable bearing for the user location puck."
## New Feature
Add ability to disable bearing completely for the user location puck.

## Why
We replace the pucks top image with a user avatar and we don't like it rotating around. I believe we did this with the older sdks by setting a RenderMode that ignored the bearing.

[2021-12-07 19:26] ZiZasaurus commented on #833
@priyaji1 since all the constant values are wrapped to literal expressions at the moment, for android you would need to use `Expression.fromRaw(expressionJson)`. This [PR](https://github.com/mapbox/mapbox-maps-android/pull/961) updates one of our examples to demonstrate the use of `Expression.fromRaw(expressionJson)`.

[2021-12-08 09:54] #949 closed

[2021-12-08 09:54] #907 closed

[2021-12-08 14:33] Toprakete commented on #877
Hi,
thx for your answer and the data driven way surely is the right one, but I don't know how to config the source / layer that following things fit:
1. point has a textfield with some additional info (withTextField(text))
2. In zoom level > 17 the textfield is shown, less zoom hides the textfield (at the moment I set the text opacity for all annotaions)
3. my internal data id is set (withData(dat

[2021-12-08 14:46] pengdev opened #965 "Match expression DSL does not work with label list."
## Environment

- Android OS version:
- Devices affected:
- Maps SDK Version:

## Observed behavior and steps to reproduce

According to https://docs.mapbox.com/mapbox-gl-js/style-spec/expressions/#type-system
`If an expression accepts an array argument and the user supplies an array literal, that array must be wrapped in a literal expression (see the examples below). When GL-JS encounters an arra

[2021-12-09 15:34] yunikkk commented on #923
@wingkingbobo fix is merged and will arrive in 10.3 release

[2021-12-10 01:07] wingkingbobo commented on #923
@yunikkk Ok, Thanks

[2021-12-10 03:27] zhufeixiang opened #971 "Can the map set the star background？？？？"
when the MapProjection is MapProjection.Globe, can the map  set the star background？？？

[2021-12-10 08:30] ank27 commented on #971
Duplicate of https://github.com/mapbox/mapbox-maps-android/issues/921

[2021-12-10 08:33] zhufeixiang commented on #971
thank you very much!!

[2021-12-10 08:47] RocCaiy23 commented on #921
Is this feature a high priority for you?

[2021-12-10 08:47] RocCaiy23 commented on #921
@kiryldz Is this feature a high priority for you?

[2021-12-10 09:15] #971 closed

[2021-12-10 09:22] dimysa opened #972 "Center coordinate is not calculated correctly for some points and zoom"
## Environment

- Android OS version: 11
- Devices affected: OnePlus 8 Pro
- Maps SDK Version: 10.1.0

## Observed behavior and steps to reproduce

For me, it is reproduced only with special presets and at some points. I have attached a video and source code in which I have problems. When the zoom is large, then the camera moves incorrectly, but if you zoom out, then everything works as expected.

[2021-12-10 13:17] jenz0rw00t opened #973 "Updating a polyline causes a crash"
## Environment

- Android OS version: 8, 9 ,10, 11, 12
- Devices affected: Samsung: S8, S9, S10. Motorola: E7 plus, One zoom. Huawei: P30 pro, P30 lite, among others
- Maps SDK Version: 10.1.0

## Observed behavior and steps to reproduce

In the app I'm working on we draw a polyline behind the user based on the coordinates we get from FusedLocationProvider. Before updating to Maps SDK v.10 this wa

[2021-12-10 13:42] kiryldz commented on #921
No, it's not highest priority for now, however I'll drop any news here after some internal discussions within the team.

[2021-12-10 14:04] #923 closed

[2021-12-10 14:06] kiryldz commented on #973
@jenz0rw00t it's caused by async geojson parsing happening under the hood of the SDK.

I'm not sure about precisely your case but in general `ConcurrentModificationException` was sometimes thrown and caught by our robo tests for our test app. Fix was relatively easy, see https://github.com/mapbox/mapbox-maps-android/pull/926.

Could you look try applying similar approach in you code?

[2021-12-10 16:43] mercierj commented on #684
Hi,

I still have few of this ANR reported by crashlytics with latest version (10.1.0)

main (waiting): tid=1 systid=2885
       at sun.misc.Unsafe.park(Unsafe.java)
       at java.util.concurrent.locks.LockSupport.park(LockSupport.java:190)
       at java.util.concurrent.locks.AbstractQueuedSynchronizer$ConditionObject.await(AbstractQueuedSynchronizer.java:2067)
       at com.mapbox.maps.renderer

[2021-12-11 18:24] samcrawford commented on #972
It sounds similar to the issue I hit in the iOS SDK in https://github.com/mapbox/mapbox-maps-ios/issues/834. I've not tested your code, but perhaps try changing your `it.cameraForCoordinates(...)` call to set bearing=0 and pitch=0.

[2021-12-12 15:47] nadavmos opened #976 "Black screen on some devices after v10.0.0"
## Environment

- Android OS version: 6.0.1
- Devices affected: SIBO Q896S, GLES: Imagination Technologies, PowerVR SGX 544MP, OpenGL ES 2.0 build 1.14@3793329
- Maps SDK Version: 10.2.0-rc.1

## Observed behavior and steps to reproduce

Create app with basic map as described in the documentation.

![device-2021-12-12-174154](https://user-images.githubusercontent.com/2006268/145719001-d3109e71-722

[2021-12-12 19:17] deRonbrown opened #977 "Setting foreground color of MapView"
v9 allowed you to see the foreground color of the MapView using the `MapboxMapOptions`:
[code]

In v9 we would sometimes see flickering / flashes of black when the map loads. Setting the foreground color at allowed us to have the unloaded state match the view background (white or black depending on Dark mode setting).

[2021-12-13 07:42] dimysa commented on #972
Thanks, bearing = 0 and pitch = 0 works well. I do not know if it is worth closing this issue, but the solution suits me

[2021-12-13 09:32] kiryldz commented on #977
@deRonbrown just to make sure: did you see similar flickering while loading a map in v10?

[2021-12-13 09:57] samcrawford commented on #972
They seem to be treating it as a bug on the iOS side, so I'd suggest it's probably a bug here too. I'd suggest leaving this open, as my suggestion is very much a workaround.

[2021-12-13 11:53] polly3223 commented on #976
I confirm this bug: works as expected on 10.0.0 and black screen on 10.1.0.

Physical device:  HUAWEY Y5 Prime 2018
Android Version: 8.1.0

App compiled with:
minSdkVersion 24
targetSdkVersion 31

Ask me if you need other information to reproduce.

[2021-12-13 12:51] deRonbrown commented on #977
I am still seeing the black flickering, but I think it's because the `MapView` is part of a shared element transition. It's a `SurfaceView` issue, and when I test with the `TextureView` enabled there's no issue.

[2021-12-13 13:51] Copatych opened #986 "Marker animation slows down"
## Environment

- Android OS version: 10
- Devices affected: Huawei P40 lite
- Maps SDK Version: 10.1.0

## Observed behavior and steps to reproduce
Slowing down the animation can be seen on the official example https://github.com/mapbox/mapbox-maps-android/blob/android-v10.1.0/app/src/main/java/com/mapbox/maps/testapp/examples/markersandcallouts/AnimatedMarkerActivity.kt

But for convenience, I m

[2021-12-13 14:47] jenz0rw00t commented on #973
@kiryldz Thanks for the response! I've implemented a similar fix like the one from #926, I will keep an eye out to see if the crash is completely gone for our users since i couldn't reproduce it on any of our devices.

[2021-12-13 17:09] kiryldz commented on #977
@deRonbrown is it possible you share code so that we could try reproduce it on our end?

[2021-12-13 17:35] yunikkk commented on #976
Hi @nadavmos, @polly3223 thanks for the report. Could you check that two different fixes works on your devices?
- With the latest 10.1.0 release you should be able to apply workaround by setting different MapInitOptions.antialiasingSampleCount, e.g.
[code]
- Another fix that would be nice to check is published with snapshot `10.2.0-beta.1-yds-fix-egl-attributes-SNAPSHOT`. Details on how to setup s

[2021-12-13 17:58] kiryldz commented on #973
Closing this for now, feel free to re-open if issue persists!

[2021-12-13 17:58] #973 closed

[2021-12-13 18:00] ZiZasaurus commented on #945
@ccox17, per our [installation documentation](https://docs.mapbox.com/android/maps/guides/install/), please make sure that you have added your secret token to your `gradle.properties` file as:
[code]
and that your public token is added to the `strings.xml` file as indicated below.
[code]

[2021-12-13 18:00] #945 closed

[2021-12-13 18:21] endanke commented on #972
Thanks for reporting! Tracking this as I'm working on a fix in gl-native which will most likely solve this issue on both platforms.

[2021-12-13 19:49] ZiZasaurus commented on #891
@Toprakete, please take a look at our TileSet class, which is compatible with TileJSON. You can find an
example [here](https://github.com/mapbox/mapbox-maps-android/blob/main/app/src/main/java/com/mapbox/maps/testapp/examples/style/TileJsonActivity.kt).

[2021-12-13 20:21] polly3223 commented on #976
On my device placing mapbox:mapbox_mapAntialiasingSampleCount="4" in the XML solves the issue with version 10.1.0.

With 10.2.0-beta.1-yds-fix-egl-attributes-SNAPSHOT the issue is solved without putting the mapbox:mapbox_mapAntialiasingSampleCount="4" in the XML.

I will use the solution 1 since it's the production build, when 10.2.0 I will remove the line from the XML.

Thank you so much @yunikkk

[2021-12-14 03:13] Chaoba commented on #928
Fix in https://github.com/mapbox/mapbox-maps-android/pull/990

[2021-12-14 07:39] nadavmos commented on #976
Confirmed 10.2.0-beta.1-yds-fix-egl-attributes-SNAPSHOT fixes the issue on my device

[2021-12-14 07:56] aokruan opened #991 "How load custom tile on map (raw, asset, local storage ... etc)?"
I try load tile (png) from my geo server with the code. How i can load image from sort of `R.raw.image`?

[code]

[2021-12-14 09:04] #991 closed

[2021-12-14 10:12] gilgil28 opened #993 "Switching BackgroundLayers with different colors doesn't work after the first switch"
## Environment

- Android OS version: 10, 11
- Devices affected: all
- Maps SDK Version: 10.1.0

## Observed behavior and steps to reproduce

Setting a BackgroundLayer with color A works great. Removing that layer and adding another BackgroundLayer with color B also works. Then Removing That BackgroundLayer and adding a new BackgroundLayer with color A does not work and I am stuck with color B
Kee

[2021-12-14 11:56] Chaoba commented on #922
Will fix in https://github.com/mapbox/mapbox-maps-android/pull/970

[2021-12-14 14:43] ank27 commented on #993
@gilgil28 I have checked using the steps you provided, it works as expected. I am able to change the `BackgroundColor` of the layer multiple times.
Also, you can check whether the style layer still exists or not (after you removed it) using `style.styleLayerExists(layer_id)` and see if it is still there. could you also share the code snippet here, in case it doesn't work :)

[2021-12-14 14:57] ZiZasaurus commented on #833
Closing this ticket but please feel free to reopen if you have additional questions.

[2021-12-14 14:57] #833 closed

[2021-12-14 15:57] gilgil28 commented on #993
@ank27 The layer does not exist after removal. If I didn't remove it I would have got an exception.
Here is the exact snippet as of now (not removing, just changing the color which works only once:
`
val backgroundColor = colorScheme.background
val layer = mapStyle.getLayerAs<BackgroundLayer>("background")
layer?.backgroundColor(backgroundColor.toArgb())
`

[2021-12-14 16:23] Toprakete commented on #891
Can you please provide a sample with a wmts source template like
https://maps.stadt-salzburg.at/geodaten/wmts/bmapgrau/{Style}/google3857/{TileMatrix}/{TileRow}/{TileCol}.jpg
didn't get it work
more source urls here:
https://api.nasa.gov/vesta-wmts/catalog/
thx

[2021-12-14 19:40] dimysa opened #995 "How to overlap circle annotation over view annotation?"
I tried to find in the documentation how to do it, but I didn't succeed. Can you tell me if it is possible to make the circle annotation higher than the view annotation?

[2021-12-14 21:07] ZiZasaurus commented on #995
@dimysa, per our documentation [here](https://docs.mapbox.com/ios/maps/api/10.2.0-rc.1/Classes/ViewAnnotationManager.html), view annotations will only be rendered as the top most layer. It is not possible to render annotations above view annotations.

[2021-12-15 07:22] dimysa commented on #995
Thanks for answers!

[2021-12-15 13:38] kiryldz commented on #976
@polly3223 @nadavmos thanks for helping to test it out.
Fix is available as part of https://github.com/mapbox/mapbox-maps-android/releases/tag/android-v10.2.0 release.

[2021-12-15 13:38] #976 closed

[2021-12-15 15:16] knov commented on #883
Thank you for your feedback. At this time we cannot ascertain the issue from the provided report and are closing this ticket. If you still encounter this exception, please reopen and provide additional context so that we can explore the issue with you and help to resolve.

[2021-12-15 15:16] #883 closed

[2021-12-16 02:09] #928 closed

[2021-12-16 05:02] kmadsen opened #1342 "[Android Auto] Implement the fling gesture"

[2021-12-16 06:03] wingkingbobo opened #1000 "mapboxMap.pixelsForCoordinate() method execute slower than v9"
## Environment
[code]
## Expected behavior
The method of converting longitude and latitude into screen coordinates in V10 takes twice as much time as in V9.

Can you optimize the pixelsforcoordinate () method to achieve V9 execution efficiency.

When there are hundreds of thousands of points to calculate, the cost of this method is unacceptable.

## Observed behavior and steps to reproduce
v10:
[c

[2021-12-16 11:05] galinelle commented on #1000
@wingkingbobo are you using terrain in v10?

[2021-12-16 19:26] e-hartig opened #1003 "Invalidating a CustomGeometrySource after MapView has been paused/resumed does not trigger requery of tiles"
## Environment

- Android OS version: Observed in Android 11, 12
- Devices affected:
- Maps SDK Version: 10.2.0

## Observed behavior and steps to reproduce

When the MapView has been paused/resumed, the invalidate function on a CustomGeometrySource does not cause data to be re-queried via its fetch tile function.  All tiles for the source that were loaded prior to the pause/resume continue to sho

[2021-12-17 01:03] wingkingbobo commented on #1000
@galinelle
I didn't use terrain, but I added a sky layer.
[code]

[2021-12-17 01:16] wingkingbobo commented on #1000
I removed the sky layer, but it has no effect on the efficiency of converting longitude and latitude to screen coordinates.

[2021-12-17 05:32] eygraber opened #1005 "Point.fromLngLat is dangerous"
I'm updating from v9 to v10, and (aside from the other massive amount of changes), the change from LatLng to Point is made very dangerous by the fact that Point.fromLngLat expects the longitude first, while LatLng had the latitude first.

At the very least there should be a Point.fromLatLng

[2021-12-17 10:53] sagar24v opened #1006 "addOnMapClickListener V10 Android Java"
The document only shows Map click Listener only using Kotlin. Why you guys don't have Java documentation?

How can i get Map Click point in android java using v10

[2021-12-17 10:57] yunikkk opened #1007 "Compass is queried every 100 millis but filtered by 500 millis"
Seems we're doing a lot of sensor queries that are then ignored, which'll consume more CPU and battery. Could be improved, the interesting thing is how does that impact the battery.
Would be nice to compare when battery tests will be available.

References : https://github.com/mapbox/mapbox-maps-android/pull/970/files/bb45db666e9a4d79b6a6927aa592d47fd316096b#r771258957

[2021-12-17 11:15] kiryldz commented on #1006
Hey @sagar24v, we will be adding more docs for Java usage in the nearest future.

General logic is pretty straight-forward for extension Kotlin functions, in your case it's related to map gestures plugin, so it would be:
[code]

or you could first get instance of the gesture plugin from `MapView` and access it from there:
[code]

[2021-12-17 11:15] #1006 closed

[2021-12-20 05:31] ajaasazeez opened #1009 "Migrating from v9 to v10"
From where can I find deprecated methods and their alternatives while migrating from v9 to v10.
The migration guide only contains major changes.

[2021-12-20 14:10] #922 closed

[2021-12-21 10:17] fadwafb opened #1013 "Updating mapbox to 10.2.0 to use View annotations feature got me error inflate of com.mapbox.maps.MapView"
## Environment

- Android OS version: 10.0, 11.0
- Devices affected: Huawei p30, pixel 2
- Maps SDK Version: 10.2.0

## Observed behavior and steps to reproduce

 when i migrated from Maps SDK version 10.0.0 to 10.2.0, The app crashes

`Fatal Exception: java.lang.RuntimeException: Unable to start activity ComponentInfo{com.example.victorapp/com.example.victorapp.ui.main.views.activities.SearchDest

[2021-12-21 10:26] Chaoba commented on #1013
@fadwafb Can you provide more details on how you are using the View annotations and a step-by-step process to reproduce this issue?

[2021-12-21 10:38] fadwafb commented on #1013
I used it as the example provided on the documentations. I tried to remove the View annotations feature to localize the problem and even the map didn't show, i got a runtime error inflating the mapview element on the layout. the version of the sdk is the only thing i changed in my code

[2021-12-21 14:45] yunikkk commented on #1013
@fadwafb why have you added this line to your manifest? Does it work without it?
We rely on the startup provider to load native libraries via `MapboxMapsInitializer.java`

[2021-12-21 15:27] knov commented on #1007
Do we have a hypothesis about the impact this might have @yunikkk? That would be helpful to understanding the priority to place on the issue.

[2021-12-21 15:46] ZiZasaurus commented on #1005
@eygraber thank you for your feedback. The use of the lnglat convention derives from the [GeoJSON specification](https://geojson.org/). We will consider your request for adding this convenience in a future version of v10.

[2021-12-21 16:04] yunikkk commented on #1007
It's slighly (?) higher consumption of resources, hard to say some exact numbers without making an actual test. Posted it to keep track.
Also - the fix should not be hard, couple lines of code, so it's really more matter of comparing & making some benchmarks. IMO aligns well with the SLA effort that we do right now

[2021-12-22 15:25] gilgil28 commented on #993
After some more research, it seems like the problem is with the recomposition of the view (using Jetpack Composable)

[2021-12-22 16:31] fadwafb commented on #1013
@yunikkk no it doesn't work without it !

[2021-12-23 10:45] yunikkk commented on #1013
Could you please share the full crash log without this line and with it?

[2021-12-23 11:16] fadwafb commented on #1013
@yunikkk

- Without that line and just updating the SDK to 10.2.0 :
`2021-12-23 11:56:52.599 6472-6472/com.example.victorapp E/AndroidRuntime: FATAL EXCEPTION: main
    Process: com.example.victorapp, PID: 6472
    java.lang.RuntimeException: Unable to get provider androidx.startup.InitializationProvider: androidx.startup.StartupException: java.lang.UnsatisfiedLinkError: dlopen failed: cannot loca

[2021-12-23 11:59] yunikkk commented on #1013
The issue should with navigation/common dependencies incompatibilities, error message :
`java.lang.UnsatisfiedLinkError: dlopen failed: cannot locate symbol "_ZN6mapbox6common9Scheduler15CreateSequencedEv" referenced by "/data/app/com.example.victorapp-1viF_o9V1q2sja6RuQS_Yg==/lib/arm64/libnavigator-android.so"`
Which versions of mapbox navigation (and mapbox common if you have it as explicit depe

[2021-12-23 12:02] fadwafb commented on #1013
I'm using mapbox navigation `2.0.1`

[2021-12-23 13:37] yunikkk commented on #1013
@fadwafb could you try [beta 2.2.0](v2.2.0-beta.1), this one contains common of the same version that is used in Maps 10.2

[2021-12-23 14:56] fadwafb commented on #1013
Thanks @yunikkk  it's working with this version of Mapbox navigation

[2021-12-23 14:56] #1013 closed

[2021-12-24 12:24] alfietapping opened #1015 "> Could not find com.mapbox.maps:android:10.2.0."
## Environment

- Android OS version:
- Devices affected:
- Maps SDK Version: 10.2.0

When trying to implement the MapBox dependency, i'm faced with this error

Execution failed for task ':app:checkDebugAarMetadata'.

     Searched in the following locations:
       - https://dl.google.com/dl/android/maven2/com/mapbox/maps/android/10.2.0/android-10.2.0.pom
       - https://repo.maven.apache.org/ma

[2021-12-24 12:49] #1015 closed

[2021-12-26 18:47] szyrelle290612 opened #1026 "Mapbox Navigation BlackScreen"
E/MbxViewportDataSource: Provided following padding does fit the map size:
    mapSize: [width: 64.0, height: 64.0]
    padding: [top: 360.0, left: 80.0, bottom: 300.0, right: 80.0]
E/MbxViewportDataSource: Provided following padding does fit the map size:
    mapSize: [width: 64.0, height: 64.0]
    padding: [top: 360.0, left: 80.0, bottom: 300.0, right: 80.0]

    when i run my app on another ph

[2021-12-29 05:32] zainriaz opened #1025 "java.lang.SecurityException at com.mapbox.mapboxsdk.maps.AttributionDialogManager.showWebPage (AttributionDialogManager.java:198)"
java.lang.SecurityException:
  at android.os.Parcel.createException (Parcel.java:1953)
  at android.os.Parcel.readException (Parcel.java:1921)
  at android.os.Parcel.readException (Parcel.java:1871)
  at android.app.IActivityManager$Stub$Proxy.startActivity (IActivityManager.java:3733)
  at android.app.Instrumentation.execStartActivity (Instrumentation.java:1753)
  at android.app.Activity.startAct

[2022-01-03 03:12] breakerzoe1832 opened #1017 "Htet Corporation"
https://github.com/mapbox/mapbox-maps-android/blob/ec63e1bf6d77b828be21686a88d5df721d19cbe5/.github/CODEOWNERS#L1

[2022-01-03 06:18] Breakerzoe1 opened #1018 "Map box"
## Environment

- Android OS version:
- Devices affected:
- Maps SDK Version:

## Observed behavior and steps to reproduce

## Expected behavior

## Notes / preliminary analysis

## Additional links and references

[2022-01-03 10:02] ank27 commented on #1018
closing since it doesn't include any information.

[2022-01-03 10:02] #1018 closed

[2022-01-03 10:08] florianPOLARSTEPS opened #1019 "Crash in StandardGestureListener.onFling"
## Environment

- Android OS version: 9,10,11,12
- Devices affected: irrelevant
- Maps SDK Version: 10.2.0

## Observed behavior and steps to reproduce

I am not able to reproduce this issue but it seems to be an issue with the inherited nullability of MotionEvent fields from the Android framework. (android.view.GestureDetector.GestureListener)

It may be wise to assume that all MotionEvents in th

[2022-01-03 12:23] #1017 closed

[2022-01-04 10:52] florianPOLARSTEPS opened #1020 "Memory Leak in ViewAnnotationManager"
## Environment

- Android OS version: Any
- Devices affected: Irrelevant
- Maps SDK Version: 10.2.0

## Observed behavior and steps to reproduce

There seems to be a memory leak related to the new ViewAnnotationManager. Specifically, the way it registers and unregisters the `OnGlobalLayoutListener` in relation to the View.

[code]

## Expected behavior

No memory leak

## Notes / preliminary analy

[2022-01-04 11:37] yunikkk commented on #1020
@florianPOLARSTEPS hi, `com.x.x.MapFragment` is your custom fragment class, right? And to confirm - have you called `mapView.onDestroy`?

[2022-01-04 11:45] florianPOLARSTEPS commented on #1020
Yep... You are correct. That is my custom MapFragment.
As far as I see `mapView.onDestroy` is called properly. I am not calling it myself but it is called by the `Mapbox Lifecycle Plugin` callback.

[2022-01-04 15:17] #880 closed

[2022-01-04 15:20] ZiZasaurus commented on #986
@Copatych are you able to reproduce these slowdowns in v10.2.0?

[2022-01-04 15:23] ZiZasaurus commented on #1000
@wingkingbobo, do you experience the same slow execution on v10.2.0?

[2022-01-04 15:56] kiryldz commented on #1019
@florianPOLARSTEPS could you please provide full code snippet that results in this crash?

[2022-01-04 16:03] florianPOLARSTEPS commented on #1019
@kiryldz Unfortunately I am not able to pinpoint the exact location of the crash since it seems to happen on the animation thread somewhere after a `flyTo` animation was started. (of which I have plenty). There is no entry of mine in the stack-trace.

The cause of the issue seems logical though... to me. In the mapbox-sdk (`StandardGestureListener.onFling`)  fields are presumed `NonNull` which com

[2022-01-04 16:06] florianPOLARSTEPS commented on #1019
What I forgot to mention is that it is happening rather rarely for my app, so it has not a big impact at the moment. Which again means it is some sort of edgecase/ race-condition.

[2022-01-04 16:09] kiryldz commented on #1019
Can you at least describe your use-case more precisely?
If I understood correctly you call `flyTo` and sometimes it does crash? I assume you interrupt some camera flies by gestures - is it correct?

[2022-01-04 16:12] florianPOLARSTEPS commented on #1019
@kiryldz Like mentioned initially, I am unable to reproduce this issue... I am seeing it happening to users in my reporting (crashlytics) only. But to answer your question... Yes, the user can interrupt a `flyTo` animation with a gesture.

[2022-01-04 16:56] ZiZasaurus commented on #1009
@ajaasazeez, currently the migration guide is the only documentation that compares deprecated methods and their alternatives. Please refer to the Maps SDK for Android guides [here](https://docs.mapbox.com/android/maps/guides/) for assistance with implementing various features in v10.

[2022-01-04 16:56] #1009 closed

[2022-01-05 01:56] wingkingbobo commented on #1000
@ZiZasaurus  It seems that there is no difference in the execution speed of the three versions.
[code]

[2022-01-05 11:12] kiryldz commented on #1020
@florianPOLARSTEPS I tried to reproduce that issue by running pretty straight-forward [activity](https://github.com/mapbox/mapbox-maps-android/blob/main/app/src/main/java/com/mapbox/maps/testapp/examples/markersandcallouts/ViewAnnotationBasicAddActivity.kt). I was adding several view annotations and then returning back to parent activity however leak canary did not catch anything.

Could you pleas

[2022-01-05 13:58] florianPOLARSTEPS commented on #1020
@kiryldz I am trying to run the sample project but having some setup issues. Meanwhile I created a test project demonstrating the issue for you:

https://github.com/florianPOLARSTEPS/MapboxAnnotationLeak

[2022-01-05 22:09] pcutting opened #1232 "dynamic traveled path - GeoJsonSource causes crash when accessed."
Hi guys,

I'm working on an app that tracks where the user has traveled.  I might be using the wrong process, but as there is no destination, I'm not using the navigation api.

Using geoJson I'm trying to add a layer, and remove it and then add it back as it gets updated.  Links to the PR and repo are at the end.

I'm trying to use geoJson and the lineString Feature.

Working on Android in Kotlin.

[2022-01-06 14:01] ank27 commented on #993
Yeah it could be with the recomposition with jetpack compose, i tried it again and works as expected. Closing since its not related to sdk. Please reopen again if it persist.

[2022-01-06 14:01] #993 closed

[2022-01-07 03:29] Freeze35 opened #1022 "Hi I can not import com.mapbox.maps.testapp and it is not clear why."
Environment
---
- OC: Windows
- IDE: Android Studio
- Maps SDK Version: 10.2.0

Hi  When trying to import only com.mapbox.maps.testapp there is nothing in gradle dependencies. But all other dependencies work fine.

I tried to run this example: https://docs.mapbox.com/android/maps/examples/location-component/
But without importing i won't have permission from phone.

Or use PermissionsManager for l

[2022-01-07 13:54] Copatych commented on #986
@ZiZasaurus Yes, I am able to reproduce these slowdowns in v10.2.0.

[2022-01-07 13:58] jonschmidt opened #1023 "setCameraMode not working directly after enabling location component"
## Environment

- Android OS version: 12
- Devices affected: Pixel 5
- Maps SDK Version: com.mapbox.mapboxsdk:mapbox-android-sdk:9.7.0 (I think its present in 10.x as well)

## Observed behavior and steps to reproduce

If I set the camera mode immediately after enabling the location components, it does not go to the requested tracking mode.
E.g.
[code]
Will not go to `CameraMode.TRACKING_COMPASS`,

[2022-01-07 14:05] Copatych commented on #986
@ZiZasaurus Yes, I am able to reproduce these slowdowns in v10.2.0.

[2022-01-07 14:46] MatteoAlberghini opened #1024 "Add GeometryTileProvider like v9"
## New Feature
Wondering if support for `GeometryTileProvider` as constructor parameter for `CustomGeometrySource` is a planned feature in v10.

## Why
I need to be able to have a function similar to `getFeaturesForBounds(LatLngBounds bounds, int zoomLevel)` to query my existing POIs databases.

[2022-01-07 16:02] ZiZasaurus commented on #1022
@Freeze35 are you trying to run a single example or the whole example project?

[2022-01-07 18:18] Freeze35 commented on #1022
I tried to run different options, but considering that I have only one import of the permission request in the form of LocationPermissionHelper missing. I just won't get access to launch location fixing. Therefore, I did not start other examples.

[2022-01-07 19:07] ZiZasaurus commented on #1022
@Freeze35 the package that you are referencing, `com.mapbox.maps.testapp`, is relative to the examples app. If you would like to create your own project using this example, you would want to reference the package specific to your project.

If you would like to build the android test app, please clone the repository and follow the steps in our DEVELOPING.MD's configuring the project section [here](

[2022-01-07 19:18] ZiZasaurus commented on #986
@Copatych, thank you for this. When you mention that the animation slows down do you mean that the speed with which the marker moves is not uniform?

[2022-01-07 20:11] Freeze35 commented on #1022
Thanks for the link, I'll try to figure it out

[2022-01-07 20:11] #1022 closed

[2022-01-08 07:24] Copatych commented on #986
@ZiZasaurus. Probably not. The speed remains constant, but the marker sometimes goes smoothly, sometimes teleports. That is, for the same period of time, the marker can be redrawn in a new position, for example, 2 times or 10 times.

Maybe this video shows better.

https://user-images.githubusercontent.com/57287061/148635163-8fcba7da-eb6e-4e7f-8441-dbf909455984.mp4

[2022-01-08 11:39] kajaba opened #1027 "Provide Bitmap for ImageSource rather then just url in v10"
## New Feature

As in previous SDK version I would like to add my custom Bitmap to ImageSource. Now only url is supported

## Why
In case I need to create special image (Bitmap), that I need to show on map, I cant because there is not such possibility as it was in previous version of SDK

[2022-01-08 18:23] sylvain258 opened #1029 "Add label to a geojson Feature"
Hello,

I don't know if it's here I have to post my request. I would like to know how add label to a geojson feature. I try with TextAnchor and Circle Annotation but this doesn't complete.

I defined a style and my geojson source and the symbology.

This is my code :

[code]

Thank you very much for your help

Sylvain

[2022-01-10 09:40] #874 closed

[2022-01-10 10:40] ank27 commented on #1027
@kajaba, You can follow the example [here](https://github.com/mapbox/mapbox-maps-android/blob/main/app/src/main/java/com/mapbox/maps/testapp/examples/ImageSourceActivity.kt#L41-L46), Let me know if this helps.

[2022-01-10 13:10] ank27 commented on #1024
In order to get the features from Source, you can use `querySourceFeatures` or `queryRenderedFeatures`. Let me know if you need more help.

[2022-01-10 13:17] kajaba commented on #1027
Oh I get the idea. Thanks for pointing that out :)

[2022-01-10 13:17] #1027 closed

[2022-01-10 13:27] kajaba opened #1028 "Use default feature property value defined in MapboxStudio"
## New Feature

- In Mapxbox studio, there is possible to style the layers (color/fillColor) with conditions.
- In code I can change color/opacity with expression.

It would be nice to have such feature that allows me to change color/opacity ONLY for some layer features.
Something like:

LineLayer line= ((LineLayer)LayerUtils.getLayer(mapboxMap.getStyle(),"rivers-union"));
line.lineColor(
			Expre

[2022-01-10 14:14] mrfaa opened #1030 "Will there be a documentation for using Mapbox Maps SDK v10 with Java Code?"
Will there be a documentation for using Mapbox Maps SDK v10 with Java Code?

[2022-01-10 18:04] ZiZasaurus commented on #986
@Copatych, can you provide some information on your use case for the animated markers?

[2022-01-10 19:24] ZiZasaurus commented on #1030
@mrfaa the current [API documentation](https://docs.mapbox.com/android/maps/api/10.2.0/mapbox-maps-android/) works for both Kotlin and Java. We have some Java examples [here](https://github.com/mapbox/mapbox-maps-android/tree/main/app/src/main/java/com/mapbox/maps/testapp/examples/java) and also try to make our code base java friendly, however Kotlin as a language is compatible with Java language.

[2022-01-10 19:24] #1030 closed

[2022-01-10 20:06] ZiZasaurus commented on #1029
@sylvain258 to add a label to a geojson feature you would want to use either a SymbolLayer or a Point Annotation, rather than a CircleLayer. Please take a look at one of our examples demonstrating the symbol layer [here](https://github.com/mapbox/mapbox-maps-android/blob/60387a03112ad38aa50fe3f8402a167f14bea683/app/src/main/java/com/mapbox/maps/testapp/examples/WithinExpressionActivity.kt). I've a

[2022-01-10 20:06] #1029 closed

[2022-01-10 21:20] frap129 opened #1031 "Point annotations are tinted black"
## Environment

- Android OS version:  All(?) Tested on APIs 24-31
- Devices affected: All(?) Tested on multiple OnePlus and Pixel devices, Motorola Moto One (2018) and the official Android Emulator
- Maps SDK Version: 10.2.0

## Observed behavior and steps to reproduce
After deleting a point annotation, all point annotation created after are tinted black. The issue also occurs if the original ann

[2022-01-11 03:07] Copatych commented on #986
@ZiZasaurus. As I said, this problem is reproduced on the [official example](https://github.com/mapbox/mapbox-maps-android/blob/main/app/src/main/java/com/mapbox/maps/testapp/examples/markersandcallouts/AnimatedMarkerActivity.kt). The last time it was well reproduced, if I animate the marker on top of the city (perhaps there is a correlation with the displayed text, for example, in the city all st

[2022-01-11 12:10] kiryldz commented on #1020
@florianPOLARSTEPS sorry for the delay, I do see a leak in your test app, will try to fix this week.

[2022-01-11 15:50] ZiZasaurus commented on #1028
@kajaba this functionality currently exists. Please take a look at our StyleCirclesCategoricallyActivity example [here](https://github.com/mapbox/mapbox-maps-android/blob/main/app/src/main/java/com/mapbox/maps/testapp/examples/StyleCirclesCategoricallyActivity.kt).

[2022-01-11 18:08] ZiZasaurus commented on #891
@Toprakete, this jsfiddle is a good example of someone doing the same thing: https://jsfiddle.net/qroyj8bh/. Additionally, from this example, it appears that TileMatrix={z}, TileRow={y}, TileCol={x} in GL JS, so you should also be able to accomplish this in Android.

[2022-01-11 18:14] #891 closed

[2022-01-12 07:18] #1020 closed

[2022-01-12 08:08] mrfaa commented on #1030
@ZiZasaurus  thank you very much for your fast answer. Is it planned to present a java code for all the code examples in the guides (https://docs.mapbox.com/android/maps/guides/) and within the examples (https://docs.mapbox.com/android/maps/examples/) ?

[2022-01-12 09:53] kiryldz opened #1044 "Issues with MapView#queueEvent method"
## Environment

- Android OS version: any
- Devices affected: any
- Maps SDK Version: v10.2.0 and below

## Observed behavior and steps to reproduce

Most common use-case to use `MapView#queueEvent` is basically running something on render thread with GL context (e.g. find out what GPU is used). However currently this API seems unstable especially when calling it somewhere in activity's `onCreate`

[2022-01-12 12:07] kajaba commented on #1028
Thank you for responding. I looked at your example and if you were referring to circleColor match get... it does not work as I wanted. Your example sets circle colors when:
ethnicity - white rgb(251.0, 176.0, 59.0)
ethnicity - black rgb(34.0, 59.0, 83.0)
etc...
OTHERWISE - rgb(0.0, 0.0, 0.0)
This sets color BLACK for nonmatching ehnicities. But I dont want to define this otherwise color at all and

[2022-01-12 12:26] kajaba commented on #1028
Thanks, but I am aware how to filter. But my goal is to colorize only SOME features. Cant do it with filter, or?

[2022-01-12 12:40] kiryldz commented on #1028
Sorry, I can't get what exactly you're asking for...

sounds to me exactly like
 - filter those features first (filter)
 - colorize them depending on some condition (match)

If you're able to to do that in Mapbox studio - why can't you prepare your style there and simply load it by URL in Android?

[2022-01-12 12:54] ittna opened #1046 "Android 12 approximate user location"
## New Feature

In Android 12 user can allow app to get only approximate user location. Currently Mapbox PermissionsManager seems to handle approximate location same way as precise location. iOS 14 has similar feature and it works fine on iOS Mapbox. Add support for handling approximate location to Android Mapbox also. Example app would be nice to have also.

## Why
Currently it seems to require c

[2022-01-12 13:13] kajaba commented on #1028
Our use case is this: In mapbox studio we have our data (rivers and lakes) colorized based on some conditions:
In app some users dont want to see rivers and lakes in some special areas colorized, but want to see them in grey color. Others they want to see colorized as we prepared them in studio.

With filter I can make some features visible/invisible. Cant use filter to colorize only some features

[2022-01-12 21:22] ZiZasaurus commented on #1030
@mrfaa while we will continue to ensure that the SDK can be used by Java, there are no plans to  create the Java versions of our existing Kotlin code snippets or examples.

[2022-01-12 23:41] badoualy opened #1048 "LocationPuck not showing"
## Environment

- Android OS version: API 30 (v11)
- Devices affected:
- Maps SDK Version: 10.2.0

## Observed behavior and steps to reproduce

I'm using the SDK in Compose inside an `AndroidView`, and the LocatoinPuck is not showing most of the time (90%)
(see code below)

Note: the pulsing effect is showing properly

## Expected behavior

LocationPuck should always be visible

## Notes / prelimi

[2022-01-12 23:57] Chaoba commented on #1048
@badoualy Are you able to receive the GPS signal? Try to go outside or close to the window.

[2022-01-13 00:46] badoualy commented on #1048
@Chaoba Yes, the pulse animation is present, the GPS coordinates are received correctly, the onIndicatorLocationChangedListener is also called

[2022-01-13 17:07] ZiZasaurus commented on #1026
@szyrelle290612 closing this ticket for now, but please feel free to reopen if you can provide details regarding your implementation.

[2022-01-13 17:07] #1026 closed

[2022-01-13 17:46] akirmse opened #1051 "Android SDK triggers privacy warnings due to Permissions.GET_TASKS"
Using com.mapbox.maps:android:10.1.0, I get the following "Security and Trust" warning in Google's Play Console when trying to release my app:

Anomalous Permission Usage
Warning
brightness_1
Privacy
Your app is requesting permissions which are used by less than 1% of functionally similar apps:

android.permission.GET_TASKS

---

In addition, I had to disclose the collection of installed apps in t

[2022-01-13 20:15] ZiZasaurus commented on #1046
@ittna permission handling to access the user location is fully handled by the developer regardless of whether it's approximate or fine location.

[2022-01-13 21:49] ZiZasaurus commented on #1025
@zainriaz closing this ticket for now, but please feel free to reopen if you can provide details regarding your implementation.

[2022-01-13 21:49] #1025 closed

[2022-01-14 07:16] ittna commented on #1046
Maybe I'm missing something but there is `com.mapbox.android.core.permissions.PermissionsManager`

If you ask location permission using `permissionsManager.requestLocationPermissions(activity)` and then on Android 12 user gives only permission to approximate location. `PermissionsManager.areLocationPermissionsGranted(activity)` returns `true`. I mean is there some way to check with `PermissionsMan

[2022-01-14 08:04] ittna opened #1054 "Moving style layer on top crashes app"
## Environment

- Android OS version: 12
- Maps SDK Version: 10.2.0

## Observed behavior and steps to reproduce

Calling API `style.moveStyleLayer("layer-id", null)` causes app to crash.

[code]

## Expected behavior

Layer moves on top and app doesn't crash.

[2022-01-14 11:21] ittna opened #1055 "Hide location puck bearing if device doesn't have compass"
## Environment

- Android OS version: 12
- Devices affected: devices without compass
- Maps SDK Version: 10.3.0-beta.1

## Observed behavior and steps to reproduce

Device without compass shows heading pointing to north always. Should it hide bearing if it can't get device heading?

[code]

## Expected behavior

Location puck hides bearing image when it can't get device heading.

[2022-01-14 18:58] ZiZasaurus commented on #1054
@ittna, can you please let me know what type of layer you're trying to move and the style? Additionally, if you have a code snippet you can share that would be helpful as well.

[2022-01-15 00:57] badoualy opened #1057 "No implementation found for void com.mapbox.maps.OfflineManager"
## Environment

- Android OS version: Android 9 (api 28)
- Devices affected: Samsung Galaxy S8
- Maps SDK Version: 10.2.0 (already tried 10.3.0 beta)

## Observed behavior and steps to reproduce

Calling
[code]

crashes with the following stacktrace:
[code]

Everything else seems to be working fine. This is a debug build.

Added as:
[code]

[2022-01-15 01:17] badoualy commented on #1057
Found the issue, for anyone passing here with the same issue (and other managers:)

[code]

[2022-01-15 01:17] #1057 closed

[2022-01-17 07:07] ittna commented on #1054
I have `GeoJsonSource` and `HeatmapLayer` and few `SymbolLayer` on top. I'm trying to move one of the `SymbolLayer` on top. It crashes immediately when entering map view.

[2022-01-17 11:53] ank27 commented on #1054
Can you check whether the layer that you want to move exists using
`
if(style.styleLayerExists(layerId)){
// move the layer.
}
`
Let us know if that works.

[2022-01-17 12:06] yunikkk commented on #1057
@badoualy hi, what was the reason to add this provider removal code in the manifest before?

[2022-01-17 13:45] kiryldz commented on #1046
@ittna indeed our default [`LocationProviderImpl`](https://github.com/mapbox/mapbox-maps-android/blob/main/plugin-locationcomponent/src/main/java/com/mapbox/maps/plugin/locationcomponent/LocationProviderImpl.kt) relies on components from `com.mapbox.mapboxsdk:mapbox-android-core` dependency that does perhaps does not have full support for Android 12 approximate location (I did not check it deeply)

[2022-01-17 13:45] #1046 closed

[2022-01-17 13:50] ittna commented on #1054
Still crashes with that check. I checked also `style.isStyleLoaded` if that matters but it still crashed. I got slightly different stack trace now though or maybe I missed one line earlier.

[code]

[2022-01-17 14:58] ank27 commented on #1054
@ittna Looking further into this. Can you let us know if you have any special characters, Unicode points in the layer name?
It would be helpful as well if you can share some code snippet here.

[2022-01-17 15:33] ittna commented on #1054
I have quite long layer ids (~70 characters) currently. Characters used a-z, '.' and '-'. One layer had 'é' but it didn't work with other layers either. I can test tomorrow if I can reproduce this with simpler layer ids.

[2022-01-17 16:10] ank27 commented on #1054
Yeah sure. it could happen due to special characters (when native code converts strings to java code). please try it without special chars and let us know.

[2022-01-18 08:03] ittna commented on #1054
I tried it now with short layer ids containing only numbers and it still crashes with same stack trace.

[2022-01-18 09:43] ank27 commented on #1054
Can you share some code snippet as well here.

[2022-01-18 10:26] kiryldz commented on #1054
@ittna additionally to code snippet representing an issue could you please check if that crash happens on device with Android SDK < 12. Although I did check moving style layer on Android 12 emulator and I do not see a crash there.

[2022-01-18 10:38] ank27 commented on #1023
@jonschmidt in v10, we dont have `CameraMode.*`. LocationComponent doesn't handle camera. Please refer to [this](https://github.com/mapbox/mapbox-maps-android/blob/main/app/src/main/java/com/mapbox/maps/testapp/examples/LocationComponentActivity.kt) example on how to use Location plugin in v10.

[2022-01-18 11:00] kiryldz commented on #1023
@jonschmidt in general camera modes and connected things are tracked by viewport plugin that provides more flexibility to control the camera.
It has just been introduced in [v10.3.0-beta.1](https://github.com/mapbox/mapbox-maps-android/releases/tag/android-v10.3.0-beta.1), you could find example activity [here](https://github.com/mapbox/mapbox-maps-android/blob/main/app/src/main/java/com/mapbox/ma

[2022-01-18 11:00] #1023 closed

[2022-01-18 11:46] ittna commented on #1054
It happens at least on Android 11 device also. I can't share my code unfortunately but if I have time at some point I'll try isolate smaller example where it reproduces.

[2022-01-18 12:50] ShivaniChandel opened #1062 "Showing this issue android-otpview-pinview-2.1.0.pom 404. That’s an error."
FAILURE: Build completed with 7 failures.

1: Task failed with an exception.
-----------
* What went wrong:
Execution failed for task ':app:checkDebugAarMetadata'.

     Searched in the following locations:
       - https://dl.google.com/dl/android/maven2/com/github/mukeshsolanki/android-otpview-pinview/2.1.0/android-otpview-pinview-2.1.0.pom
       - https://repo.maven.apache.org/maven2/com/githu

[2022-01-18 12:55] kiryldz commented on #1062
Please re-open an issue after editing and following our issue [template](https://github.com/mapbox/mapbox-maps-android/blob/main/.github/ISSUE_TEMPLATE/issue_template.md).

[2022-01-18 12:55] #1062 closed

[2022-01-18 15:54] cobra811 opened #1063 "Offline 3d terrain"
## Offline 3d Terrain
I was not able to find any documentation on offline 3d terrain, so I'm assuming it is not possible yet? I could be wrong. It would be a great feature.

[2022-01-18 20:07] ZiZasaurus commented on #1028
@kajaba the match expression you're using doesn’t seem to evaluate to 60. The underlying data may not be in the string format. Can you try setting 60 to a string using [toString](https://docs.mapbox.com/android/maps/api/10.2.0/mapbox-maps-android/com.mapbox.maps.extension.style.expressions.dsl.generated/to-string.html) or setting orgID [toNumber](https://docs.mapbox.com/android/maps/api/10.2.0/map

[2022-01-18 21:22] kajaba commented on #1028
The orgID is number and it matches. It seems you do not understand the issue.
If I do this
Expression.match(
Expression.get("orgId"),Expression.literal(60),
Expression.color(ContextCompat.getColor(getContext(),R.color.white))
)
);
I get an error because  it seems that sintax is:
LineColor(Match (dataAttribute, dataValue), colorOfMatched, colorOfOthers)
The colorOfOthers must be explicitly defined,

[2022-01-19 14:11] ZiZasaurus commented on #1031
@frap129 after testing this on a physical device I am not able to reproduce. Are you testing this on an emulator or a physical device?

[2022-01-19 14:20] frap129 commented on #1031
@ZiZasaurus Both. I am able to reproduce it on my Motorola Moto One (2018) running Android 9 and the emulator on APIs 24-31, but I am not able to reproduce it on my OnePlus Nord N10 running Android 11.

[2022-01-19 20:57] dudeuter commented on #1063
@cobra811 As this is more of an Integration Issue than a Platform/Android specific issue, do you mind creating a support ticket at https://support.mapbox.com/hc/en-us/?

You can mention my Github handle to get it assigned to me.

[2022-01-19 20:57] #1063 closed

[2022-01-20 14:31] Gango98 commented on #1030
It's a shame that there is no Java documentation for v10. How can we use Java SDK without knowing anything? The first time I used Mapbox (6 months ago on v9) I was completly lost. I complained about it with support and after all this time the situation is still the same.

If you don't want to support Java developers, throw away all Java implementations and write on your _awarded documentation_ "On

[2022-01-20 15:38] ZiZasaurus commented on #1031
@frap129 does the marker color return if you change zoom levels or pan around?

[2022-01-21 12:26] Zayankovsky commented on #321
@tobrun the issue we currently see in 1TAP with this behavior is that if we call `loadStyleUri` after `onStart`, then location component fails to activate and puck is not shown. In order to solve this we have to manually call `mapView.location.onStart` in `loadStyleUri` callback. Is this expected behavior?

[2022-01-21 13:09] mrfaa commented on #1030
a Java/Kotlin toggle option would be a great option and would help a lot of developers :)

[2022-01-21 15:49] ZiZasaurus commented on #1048
@badoualy can you let us know if this behavior also happens on physical devices?

[2022-01-24 10:29] #1024 closed

[2022-01-24 18:18] DejanRistic opened #1072 "Allow setting metadata with the legacy OfflineRegionManager."
## New Feature
Allow setting metadata while creating a new offline region using the legacy OfflineRegionManager.

## Why
In the old SDK we were able to set metadata for an OfflineRegion while creating it. With the legacy OfflineRegionManager we can access the metadata, but we can't set it.

[2022-01-24 19:51] caitlyn-alltrails opened #1073 "Conflict with Facebook Flipper library"
## Environment

- Android OS version: N/A
- Devices affected: N/A
- Maps SDK Version: 10.0.0

## Observed behavior and steps to reproduce
We have encountered a conflict during build time with an external library we are using, Flipper, by Facebook, while upgrading to mapbox V10. We hit the conflict immediately when we brought the flipper library addition change from our main branch into our mapbox

[2022-01-24 21:48] #1073 closed

[2022-01-25 14:37] kiryldz opened #1076 "Black screen if using emulator with MSAA enabled"
## Environment

- Android OS version: confirmed on 29, but assume that any
- Devices affected: any (?) emulator
- Maps SDK Version: v10.3.0-beta.1

## Observed behavior and steps to reproduce

Run activity on emulator and create `MapView` as:
[code]

No suitable EGL configs found and map is rendered black.

## Expected behavior

Map should still be rendered.  Correct solution will be to disable MS

[2022-01-25 20:51] Aram-dev opened #1078 "v10.2.0 OnMapIdle listener doesn't provide event when map movement is completely stop"
## New Feature

Define the event when the MapView is completely stopped after moving(after fling)

## Why

In case of continueos work with MapView (add, remove, update PointAnnotation by using PointAnnotationManager) and when the user simultenusely moves the map phisically(or by animation) the event of OnMapIdleListener does not achive correctly when map completely stops after moving(after fling).

[2022-01-26 08:07] tsuz opened #1080 "flyTo does not work when setMaximumFps is set"
## Environment

- Android OS version: 10
- Devices affected: Google Pixel 3a
- Maps SDK Version: android v10.3.0-beta.1

## Observed behavior and steps to reproduce

setting `mapView.setMaximumFps(15)` and calling `flyTo` does not move the map camera.

## Expected behavior

`flyTo` should make the map animate.

setting `mapView.setMaximumFps(15)` and calling `flyTo` should move the map camera.

##

[2022-01-26 10:04] kiryldz commented on #1080
@tsuz can you please add a video?
I've set FPS to 15 and also added fps change listener and camera animates as expected.
Logs look like:
[code]

[2022-01-26 11:08] kiryldz commented on #1078
@Aram-dev do you mean IDLE event is not triggered at all or that it gets triggered after small delay?

[2022-01-26 11:47] LukasPaczos commented on #321
Reopening to put this on the team's radar.

[2022-01-26 11:48] #1076 closed

[2022-01-26 13:51] Aram-dev commented on #1078
@kiryldz IDLE event is not triggered at all. I just need the event which should trigger in the end of movement (after the fling motion is ended)

https://user-images.githubusercontent.com/56653267/151174344-201ef1b2-eb8a-406c-8dcf-981ec4b4f062.mp4

[2022-01-26 13:54] tsuz commented on #1080
@kiryldz

Thanks.
This is what it looks like with the `setMaxFps(15)`. I expect it to zoom out (which it does without this line of code).

https://user-images.githubusercontent.com/6927131/151175489-f3b43021-6979-481c-8efe-ea60e7094dc4.mov

[2022-01-26 13:59] kiryldz commented on #1080
Looks pretty weird. Does it actually immediately jump to end position when flyTo ends?

[2022-01-26 14:27] tsuz commented on #1080
@kiryldz

It doesn't jump even when `flyTo` ends. Although, I realized this occurs half the time.
The other half, the `flyTo` function works as expected to begin with.

[2022-01-26 14:31] kiryldz commented on #1080
Are you testing on emulator or real device?

[2022-01-26 14:41] tsuz commented on #1080
@kiryldz  This is on a real device just like in the video 🙂

[2022-01-26 15:06] kiryldz commented on #1080
@tsuz 🤦 sorry my bad
interesting that I don't see such an issue on my device, but I could observer smth similar on emulators. I'll try to dig more what's happening there

[2022-01-26 15:10] ZiZasaurus commented on #1078
@Aram-dev, I'm unable to reproduce the behavior you're experiencing, please see my screen recording below. Are you able to create a minimal test case that reproduces this behavior?

https://images.zenhubusercontent.com/330365289/14d39c48-4f2b-4170-aba5-228e8f6cc2b5/screen_recording_2022_01_26_at_10_00_49_am.mov

[2022-01-27 00:05] Aram-dev commented on #1078
@ZiZasaurus  I tried reproduce these events for Activity and Fragment in test project.  For Activity it works fine and doesn't work for Fragment.
For fragment I used the same implementation as for Activity. In My real case the MapView is inside of Fragment(in fragment.xml). I'll provide videos or the github link of test project as soon as posible.

[2022-01-27 10:16] pengdev commented on #1072
The `OfflineRegion.setMetadata` method is introduced in the [v10.3.0-rc.1](https://github.com/mapbox/mapbox-maps-android/releases/tag/android-v10.3.0-rc.1) release.

[2022-01-27 10:16] #1072 closed

[2022-01-27 12:29] Aram-dev commented on #1078
[https://github.com/Aram-dev/MapBoxTest](url)
This is the link to test project. the MapView used inside of both, Activity and Fragment. You can see the video attached.

https://user-images.githubusercontent.com/56653267/151359003-06e922ba-a9f4-4ef2-9b8a-b25c23f57789.mp4

[2022-01-27 12:32] endanke commented on #972
@dimysa could you try it again using our latest release? https://github.com/mapbox/mapbox-maps-android/releases/tag/android-v10.3.0-rc.1

[2022-01-27 17:48] yunikkk commented on #321
Checked this issue in relation with https://github.com/mapbox/1tap-android/issues/1594.
Root problem is that 1tap uses [null styleUri](https://github.com/mapbox/1tap-android/blob/24d8f6ab1e6546887f76ea5996b3355a20690625/map/src/main/java/com/mapbox/onetap/map/presentation/ui/MapFragment.kt#L430) on map creation and we don't handle this case well.

The steps leading to issue are exactly as @kmadsen

[2022-01-28 07:06] meanrod opened #1092 "Why is my LineLayer not showing?"
My goal is to add line layer that will connect the two view annotations that i added.
I followed the docs about adding line layer with geojsonsource .

I tried to test a static value of geojsonsource using this,but still not showing.
`featureCollection(
                                FeatureCollection.fromFeatures(
                                        arrayOf(

[2022-01-28 10:38] misha-n-ka opened #1095 "How to detect on cluster click?"
I need to detect when user clicked on cluster marker. I used PointAnnotationClusterActivity.kt from examples.

1) From Example
`pointAnnotationManager?.addClickListener(
            OnPointAnnotationClickListener {
              Toast.makeText(
                this@PointAnnotationClusterActivity,
                "Click: ${it.id}",
                Toast.LENGTH_SHORT
              )

[2022-01-28 11:13] florianPOLARSTEPS opened #1096 "View annotations missing after de-clustering"
## Environment

- Android OS version: Irrelevant
- Devices affected: Irrelevant
- Maps SDK Version: 10.2.0

## Observed behavior and steps to reproduce

It seems that if clustering is enabled for a certain geojson source and 2 geometries are really close together + those geometries have View annotations attached (via `associatedFeatureId`), one of the view annotations does not render.

### Cluster

[2022-01-28 11:18] Chaoba commented on #1095
@misha-n-ka The pointAnnotationManager doesn't support detecting click on a cluster, because the click listener needs to return the clicked annotation but the cluster circle is not the annotation managed by pointAnnotationManager.
A workaround is that you query from the cluster layer with this [layerId](https://github.com/mapbox/mapbox-maps-android/blob/main/plugin-annotation/src/main/java/com/map

[2022-01-28 11:22] tsuz opened #1097 "When setMaximumFps is set, calling addLayer should render before user tapping the map"
## Environment

- Android OS version:
- Devices affected:
- Maps SDK Version:

## Observed behavior and steps to reproduce

When `setMaximumFps` is set, calling `addLayer` does not render until the user taps/drags the map.

https://user-images.githubusercontent.com/6927131/151538206-8fb878c9-322b-462c-9944-a0f6b041cafd.mov

## Expected behavior

When `setMaximumFps` is set, calling `addLayer` rend

[2022-01-28 11:39] tsuz opened #1098 "When setMaximumFps is set, the tiles should load initially"
## Environment

- Android OS version: 10
- Devices affected: Simulator (Pixel XL API 30), Real Device
- Maps SDK Version: 10.3 beta-1, 10.2 stable

## Observed behavior and steps to reproduce

When setMaximumFps, the tiles are not rendered, initially.

https://user-images.githubusercontent.com/6927131/151540252-397824a0-8a3b-4bb5-a011-f30492b56140.mov

**Steps to reproduce**

1. add `mapView.setMa

[2022-01-28 11:45] tsuz commented on #1080
let me write up a better ticket. closing this.

[2022-01-28 11:45] #1080 closed

[2022-01-28 11:48] misha-n-ka commented on #1095
Thank you for answer! I found that I queried features from layer for annotation, but not for clusters. I found out that mapbox creates cluster layer with default layerId and quering the correct cluster layerId allowed me to retrieve cluster feature

[2022-01-28 11:48] #1095 closed

[2022-01-28 11:55] tsuz opened #1099 "When setMaximumFps is set and when flyTo is called, the POI should all load initially"
## Environment

- Android OS version: 10
- Devices affected: Simulator (Pixel XL API 30), Real Device
- Maps SDK Version: 10.3 beta-1, 10.2 stable

## Observed behavior and steps to reproduce

When setMaximumFps is set and when flyTo is called, the POI don't all load initially

| Observed | Expected |
|--|--|
| ![Screen Shot 2022-01-28 at 20 50 08](https://user-images.githubusercontent.com/6927131

[2022-01-28 13:13] #1098 closed

[2022-01-28 13:13] #1099 closed

[2022-01-28 17:04] ZiZasaurus commented on #1092
@meanrod, featureCollection(point, point) is not a line string. If you just want to use points, you can make a point array and reference it like so:
[code]
or you can reference a FeatureCollection like so: https://github.com/mapbox/mapbox-maps-android/blob/7e6c94892f063c1bee878bfac84043f[…]java/com/mapbox/maps/testapp/examples/RuntimeStylingActivity.kt

Please feel free to reach out to our support

[2022-01-28 17:04] #1092 closed

[2022-01-28 17:54] ZiZasaurus commented on #1096
@florianPOLARSTEPS thank you for reporting this and providing the sample project. I am able to see the reported behavior with the project and will look into the root cause.

[2022-01-30 05:29] BorisGautier opened #1102 "Mapbox Official Flutter version"
## New Feature

MapBox for Flutter Developper

## Why

MapBox is the best alternative today to google Maps in term of map sdk, it would be very interesting that your teams create a real stable and official version of mapbox for flutter in view of the many developers who go more and more to this solution

[2022-01-31 08:43] florianPOLARSTEPS opened #1104 "Overdraw (reporting?) issue Android SDK"
## Environment

- Android OS version: Irrelevant
- Devices affected: Irrelevant
- Maps SDK Version: 10.2.0

## Observed behavior and steps to reproduce

I am doing some performance improvements on my map setup and started looking into overdraw on the map.
For my usecase I have to basically combine a vector style map and a satellite style map.

The style setup is as follows.
[code]

The `Raster sat

[2022-01-31 11:07] kiryldz commented on #972
Closing, feel free to re-open if issue persists.

[2022-01-31 11:07] #972 closed

[2022-01-31 12:49] Suyash171 opened #1106 "Could not get createPointAnnotationManager ,annotationApi's in Android Java for SDK Version 10.0"
## Environment

- Android OS version: 31
- Devices affected:
- Maps SDK Version: v10.0

Does version 10.0 SDK support Android java?
We are trying to get kotlin functions in Java based code.

[2022-01-31 16:00] ZiZasaurus commented on #1031
@frap129 closing this ticket but please feel free to reopen with additional questions or more information about your use case.

[2022-02-01 07:51] tobrun commented on #1102
Hey @BorisGautier, cool seeing you on this repository :) We are currently evaluating this type of SDK but for time being the [community driven solution](https://github.com/tobrun/flutter-mapbox-gl) is your best bet. While that version is still using v9 of the Maps SDK product, it should still suffice for most use-cases. If we don't bring out a v10 compatible Flutter SDK, I will bring that to the c

[2022-02-01 07:51] #1102 closed

[2022-02-01 07:53] BorisGautier commented on #1102
Good Thanks you

[2022-02-01 14:09] ZiZasaurus commented on #1104
@florianPOLARSTEPS thank you for reporting this. I was able to reproduce this behavior and will investigate the root cause.

[2022-02-01 14:24] ZiZasaurus commented on #1028
@kajaba this feature is currently not supported as expression usage will overwrite the match expression in Studio. One workaround would be to filter out the features that you want to modify in the original layer, create a duplicate layer, and then set the duplicated layer to filter out the selected feature and color the remaining features gray.

[2022-02-01 15:30] ZiZasaurus commented on #1028
@kajaba this feature is currently not supported as expression usage will overwrite the match expression in Studio, however, we will consider your request for adding this feature in a future version of v10.

One workaround would be to filter out the features that you want to modify in the original layer, create a duplicate layer, and then set the duplicated layer to filter out the selected feature

[2022-02-01 17:11] yunikkk commented on #1048
The root cause of the issue is similar to #321. Fix is in progress, should be available in the next release.

[2022-02-01 17:20] IolandaRosa opened #1107 "Legacy OfflineRegionManager can not load tiles into map after download"
## Environment

- Android OS version: 30
- Devices affected:
- Maps SDK Version: 10.3.0-rc1

## Observed behaviour and steps to reproduce

I am downloading the tiles using the legacy OfflineRegionManager following the steps:
- instanciate the OfflineRegionManager with the default resource options
- then create an offline region with OfflineRegionTilePyramidDefinition and a callback (the styleURI i

[2022-02-01 17:28] DejanRistic opened #1108 "Legacy OfflineRegion missing a status check."
## New Feature

Add a getStatus() to the legacy OfflineMapRegion. Currently only an observer is available that will only report back if a change is detected. We can't just ask for a status directly.

## Why

In the old SDK we were able to call getStatus on an OfflineRegion, which allowed us to get the state to see if the download was paused, finished, etc.. after the app had been closed and restar

[2022-02-01 19:08] ZiZasaurus commented on #1107
@IolandaRosa, thank you for reaching out. I'm not encountering any issues with the legacy OfflineRegionManager in 10.3.0-rc.1. Have you seen our example for implementing legacy OfflineRegionManager [here](https://github.com/mapbox/mapbox-maps-android/blob/45ecd7cad2eb61bf81d05904cf6097e72a368573/app/src/main/java/com/mapbox/maps/testapp/examples/LegacyOfflineActivity.kt)?

Additionally, are you us

[2022-02-02 09:52] moritzzzzz opened #1109 "Sporadic crashes when Mapbox library is loaded: java.lang.UnsatisfiedLinkError at com.mapbox.common.loader.MapboxLibraryLoader.load"
## Environment

- Android OS version: Android 11
- Devices affected: 83% Samsung, 17% Google
- Maps SDK Version:
[code]
## Observed behavior and steps to reproduce
Sporadic crashes reported via crashlytics when loading Mapbox libraries.

## Expected behavior
No crashes.

## Notes / preliminary analysis

## Additional links and references

**Stack trace**

[code]

[2022-02-02 09:56] IolandaRosa commented on #1107
@ZiZasaurus thanks. I already migrate the mapbox version and I know that the old maps will not be accessible in this new version. I will look into your example now and try to see if I have anything wrong in my approach.

[2022-02-02 10:45] SamuelBrucksch opened #1110 "Support for Popups (rendered on map, not via Android view)"
Hi,

i want to be able to place a popup on the map similiar to this sample in mapbox-gl-js:
https://docs.mapbox.com/mapbox-gl-js/example/popup-on-click/

the idea is that i want to add popup texts, that contain information for a route, for example like this:
![image](https://user-images.githubusercontent.com/8776268/152137321-54ce608b-0fc9-488c-984f-fc99444ceb5e.png)

Right now i just add an image

[2022-02-02 10:56] #1107 closed

[2022-02-02 11:02] dmeignan opened #1111 "Java compatibility for adding layers at runtime"
## New Feature

We are trying to migrate to MapBox Maps Android v10.2.0 and it seems that the methods for adding layers at runtime are not accessible from Java.

In MapBox v8, we used the following code to add a layer (in the `OnMapReadyCallback`):
[code]

Using v10, the methods `addSource` and `addLayer` are implemented in the Extension Builder `StyleExtensionImpl `. But we didn't find a way to a

[2022-02-02 11:04] yunikkk commented on #1109
Seems it's the same issue with library loading as https://github.com/mapbox/mapbox-gl-native-android/issues/416

[2022-02-02 15:00] ZiZasaurus commented on #1111
@dmeignan thank you for reaching out. Have you seen our java examples demonstrating adding sources and layers [here](https://github.com/mapbox/mapbox-maps-android/tree/45ecd7cad2eb61bf81d05904cf6097e72a368573/app/src/main/java/com/mapbox/maps/testapp/examples/java)?

[2022-02-02 16:22] florianPOLARSTEPS opened #1113 "Glitches after changing minZoom of layers dynamically."
## Environment

- Android OS version: Irrelevant
- Devices affected: Irrelevant
- Maps SDK Version: 10.2.0

## Observed behavior and steps to reproduce

For my use-case I have to dynamically change the `minZoom` fields of certain layers.
- I have a layer that has a zoom range from `21.0 - 22.0` initially and the camera currently sits at `10.0`
- I change the zoom range to `9.0 - 22.0` for that lay

[2022-02-02 17:40] pengdev commented on #1108
Hi @DejanRistic, thanks for reaching out! For now I think you can work around this issue by observing the `OfflineRegionStatusCallback` and keep a local variable to keep track of the latest status. In the mean time, we will evaluate internally and possibly re-introduce this feature in the next releases.

[2022-02-02 18:01] #1108 closed

[2022-02-02 18:14] DejanRistic commented on #1108
@pengdev While I can start saving local variables for every new region, we can't really do this for packs already downloaded on the users device, from older versions. 🤔

[2022-02-02 21:31] #1028 closed

[2022-02-02 22:00] ZiZasaurus commented on #1110
@SamuelBrucksch this is something we don't support at the moment so the logic implementation would need to be your own, using the view annotation API. Please note it would require the usage of an Android View, which is not applicable for Android Auto.

With Android Auto, you could use the Annotation API, or a simple layer and sources but the implementation to adjust the anchor and position of the

[2022-02-02 22:07] kmadsen commented on #342
@SamuelBrucksch in case you want to get moving on this, here are a couple items that you can take a look at.

A long term widget api is in progress (as tobrun said), here is a pull request that is moving ​https://github.com/mapbox/mapbox-maps-android/pull/1036

Also, there are two other existing approaches in an examples repository. Feel free to use them and modify them
 - A generic text view that

[2022-02-03 08:38] #1044 closed

[2022-02-03 09:29] yunikkk commented on #1110
Linking answer about current progress and possible workarounds from the very similar ticket https://github.com/mapbox/mapbox-maps-android/issues/342#issuecomment-1028403362

[2022-02-03 09:39] SamuelBrucksch commented on #1110
As you can see in the first screenshot we already draw 3 overlays onto the map (on the right). So drawing is not really a problem this time. Also the "popup" we currently use is just a marker with a popup image, however that marker does not automatically adjust to the viewport (yet).

So if i have to calculate the position myself, what would be the best approach? Should this be done in the onRende

[2022-02-03 10:06] yunikkk commented on #1110
@SamuelBrucksch you could use [CameraChangeListener](https://docs.mapbox.com/android/maps/api/10.2.0/mapbox-maps-android/com.mapbox.maps.plugin.delegates/-map-listener-delegate/add-on-camera-change-listener.html) to listen for camera updates and position markers accordingly

[2022-02-03 17:39] ZiZasaurus commented on #1113
@florianPOLARSTEPS thank you for reporting and for providing your sample project. I was able to reproduce this behavior and will investigate the root cause.

[2022-02-04 04:34] VincentJoshuaET opened #1117 "View Annotation Manager: Remove all annotations"

[2022-02-04 08:09] florianPOLARSTEPS commented on #1096
@ZiZasaurus Any idea on the timeline for a fix for this? This is somewhat of a major blocker for our project since it inevitably means that, users will click on elements on the map (which are clustered initially), which should display information via a view annotation but those will not become visible. The only workaround would be to disable clustering which has some major performance drawbacks.

[2022-02-04 08:39] dmeignan commented on #1111
Thank you for the fast answer. We are testing this and I come back here today, to let a note and close the issue, if everything works.

[2022-02-04 15:54] tialawllol commented on #129
https://github.com/googlemaps/android-maps-compose

Take a look at this and copy/paste their solution ;-)

[2022-02-04 15:56] ZiZasaurus commented on #1117
Closing this ticket out as there is no information provided. Please feel free to open a new ticket using our bug or feature request templates and provide as much information as possible.

[2022-02-04 15:56] #1117 closed

[2022-02-04 18:04] dellisd commented on #129
I've [played around](https://github.com/dellisd/reroute/tree/master/web/src/jsMain/kotlin/io/github/dellisd/reroute/map/compose) with building a Compose for Web wrapper around mapbox-gl-js. The implementation still needs work, but I think the general compose-level API design is decent.

The map is controlled through a [`MapboxState` object](https://github.com/dellisd/reroute/blob/master/web/src/js

[2022-02-07 02:09] Chaoba commented on #1106
@Suyash171  thank you for reaching out. Have you seen our java api checker [here](https://github.com/mapbox/mapbox-maps-android/blob/45ecd7cad2eb61bf81d05904cf6097e72a368573/app/src/main/java/com/mapbox/maps/testapp/examples/JavaInterfaceChecker.java#L204)??

[2022-02-07 08:34] ank27 commented on #1054
Closing this, feel free to reopen the ticket if the issue still exists.

[2022-02-07 08:34] #1054 closed

[2022-02-07 15:32] #917 closed

[2022-02-07 16:24] kiryldz commented on #862
Approach was revisited to avoid memory leak and I believe this could be closed now.

[2022-02-07 16:24] #862 closed

[2022-02-07 17:23] ZiZasaurus commented on #1111
@dmeignan was your testing successful?

[2022-02-08 11:56] dmeignan commented on #1111
Yes, it works!
We finished the upgrade to MapBox v10 (in java) and everything works. I wanted to test every styling features before posting my answer. We tested successfully with MapBox 10.2.0 and Mapbox 10.3.0-rc.1.

The code to add source and layer:
[code]

We tested/implemented the following features:

* Adding `SymbolLayer` at runtime with custom properties (`iconImage`, `iconAllowOverlap`, `i

[2022-02-08 12:05] markosopcic opened #1125 "Scrolling with two fingers only"
Hi!

Is there a way to make the MapView scroll through the map only when two fingers are used?

[2022-02-08 13:44] pjleonard37 opened #1127 "Add a data join example"
## New Example
_Description of the feature being requested and any outcomes desired, an example use case, and any suggestions for solution_

I propose adding a new example which shows developers how to join local JSON data with vector tile geometries and style it using the match expression. This is a fairly common use case for developers working in data visualization to create choropleth maps like

[2022-02-09 07:41] Chaoba commented on #962
Fix in https://github.com/mapbox/mapbox-maps-android/pull/1131

[2022-02-09 10:40] bharathkandula99 opened #1136 "Plugin [id: 'com.android.lint'] was not found in any of the following sources"
* Exception is:
org.gradle.api.plugins.UnknownPluginException: Plugin [id: 'com.android.lint'] was not found in any of the following sources:

- Gradle Core Plugins (plugin is not in 'org.gradle' namespace)
- Plugin Repositories (plugin dependency must include a version number for this source)

getting this error , while performing gradle

[2022-02-09 11:22] #321 closed

[2022-02-09 14:08] markosopcic commented on #1125
To clarify, I have a use case where I want the map as a part of a scrollable view, so this view would be scrollable with one finger and the MapView would be scrolled with two fingers to make it more user friendly since the scrolling behavior is a bit weird when both are scrollable with one finger.

[2022-02-09 14:50] ZiZasaurus commented on #1111
@dmeignan fantastic news! I will close this ticket but please feel free to reopen if you have additional questions.

[2022-02-09 14:50] #1111 closed

[2022-02-10 14:53] munnitz opened #1143 "MapPluginExtensionsDelegate#flyTo crashes with cameraForCoordinates and frequent padding updates"
## Environment

- Android OS version: 10, 11
- Devices affected: Emulator, Galaxy Note 9 etc.
- Maps SDK Version: 10.2.0 and 10.3.0-rc.1

## Observed behavior and steps to reproduce

Crash when calling
`map.flyTo(map.cameraForCoordinates(visibleCoordinates, padding = padding))`

We place a bottomsheet above our map and update the padding every time the bottomsheet is dragged in order to correctly

[2022-02-11 01:20] Chaoba commented on #962
[PR](https://github.com/mapbox/mapbox-maps-ios/pull/1107) for iOS to align with android

[2022-02-11 02:37] Chaoba commented on #1143
@munnitz Thanks for reporting. What's the width and height of mapview?

[2022-02-11 06:47] kiryldz commented on #1136
Closing as not enough details are provided (what is building, what env is used etc).

[2022-02-11 06:47] #1136 closed

[2022-02-11 09:22] munnitz commented on #1143
@Chaoba The map's dimensions are w1080 x h1794

[2022-02-11 10:05] tynn opened #1149 "OnMapLoadErrorListener does not support SAM conversions"
The `OnMapLoadErrorListener` is not defined as a `fun interface` and thus doesn't support conversions

    interface OnMapLoadErrorListener { ... }

[2022-02-11 10:29] kiryldz commented on #1149
It's done on purpose because of `MapboxMap` method:
[code]
where `Style.OnStyleLoaded` is a functional interface already. Using 2 functional interfaces in such function signature is not supported.

[2022-02-11 11:06] tynn commented on #1149
@kiryldz thanks for your replay, but I'm not sure I understand your point

Do you have a source for this? Eventually it's just a type and it should not matter how you could create an instance of it.

In general it works. You'd be able to do:

    loadStyleUri(styleUri, { style -> ... }, { eventData -> ... })

while now it's necessary to do

    loadStyleUri(styleUri, { style -> ... }, object : OnM

[2022-02-11 11:21] kiryldz commented on #1149
As we're using default parameters and in plenty of use-cases `onMapLoadErrorListener` parameter is omitted - this will lead to ambiguity e.g.

<img width="788" alt="image" src="https://user-images.githubusercontent.com/15800566/153583013-da89a727-8d7b-47c0-aadd-b21f12ce77c0.png">

Could you please describe your use-case a bit more why declaring `OnMapLoadErrorListener` as a regular interface is an

[2022-02-11 13:25] yunikkk commented on #1110
@SamuelBrucksch my answer was about where you can listen to camera updates to trigger placement logic to happen. And your question seems more about how to determine the best place for your custom view so that it wouldn't intersect any features, right? I don't think we have any other solutions here other then to calculate screen coordinates of the features that may intersect with your views, then d

[2022-02-11 16:18] kmadsen opened #1152 "[Android Auto] Create single MapboxCarMapGestures overridable class"
This is a follow up ticket for https://github.com/mapbox/mapbox-maps-android/pull/1004. We considered making it part of 1004, but this task can be reviewed as a separate iteration.

## Interface refactor

The `MapboxCarMapObserver` interface we're introducing. Has surface lifecycle events, along with gesture handling events. This ticket is to move the gesture handling to a new class.

[code]

The

[2022-02-11 16:26] VitaminPSG opened #1153 "IconAnchor issue for bitmap"
Anchor point has invalid offset on the bottom

issue is reproduced on [sm/marker-anchor-point](https://github.com/mapbox/mapbox-maps-android/tree/sm/marker-anchor-point)

![Screenshot_20220211_191929](https://user-images.githubusercontent.com/5839897/153629435-341815ad-22ef-4c20-9d65-30f96587c565.png)

[2022-02-11 17:41] tynn commented on #1149
I really don't want to write

    loadStyleUri(styleUri, { style -> ... }, object : OnMapLoadErrorListener {
        override fun onMapLoadError(eventData: MapLoadingErrorEventData) {
            ...
        }
    })

This is not really idiomatic _Kotlin_ code.

I haven't noticed the default arguments before. I think the problem is, that you mixed overloads and default arguments.

So instead of

[2022-02-11 19:37] kiryldz commented on #1149
@tynn thanks for detailed answer! I tend to agree however sadly we can't drop existing public methods as this will be a breaking change. However we'll see what we could do - perhaps we could introduce method with `@JvmOverloads` as you mentioned and mark other as deprecated (as well as make interface functional).

[2022-02-14 01:06] Chaoba commented on #1143
@munnitz I have tried with your points and padding, but still can't reproduce this issue. Can you provider a demo or a branch in this repo that could reproduce this? Thanks.

[2022-02-14 02:29] Chaoba commented on #1153
@VitaminPSG You are mixing `IconAnchor` and `TextAnchor`. If you change the `CENTER` point as an image, it will be rendered as expected. Please see the picture below, the center of the airport images are located exactly on the position of the views.
I have upload the test codes to your branch.
![image](https://user-images.githubusercontent.com/8577318/153789704-da8a8aca-8882-4ba6-bfb5-9abb92267dbb

[2022-02-14 09:33] VitaminPSG commented on #1153
Sorry for misleading, I thought that text is a part of annotation and centered as icon

[2022-02-14 09:40] kiryldz commented on #1153
Closing then, please re-open if any other issues will pop-up.

[2022-02-14 09:40] #1153 closed

[2022-02-14 12:51] yunikkk opened #1156 "Follow up for custom widget render"
While the custom widget renderer [PR](https://github.com/mapbox/mapbox-maps-android/pull/1036) had been merged, there are a couple of follow ups that needs to be addressed to fully support Android Auto using new renderer.

This ticket tracks implementation of compass and logo widgets using new widget API in maps auto extension (at the moment impl resides in [1tap](https://github.com/mapbox/1tap-an

[2022-02-14 15:25] esisa opened #1157 "Two finger pan"
After upgrading to v10 I can no longer get two-finger pan to work.  In version 9 I can pan the map with two fingers and thus also zoom in while panning at the same time.

https://user-images.githubusercontent.com/660586/153891193-ea21a335-1cb6-4218-bee8-f3a9261661cf.mp4
This is how it works in the current demo app using version 9. I can pan the map using two fingers back and forth and then I zoom

[2022-02-14 16:17] ZiZasaurus commented on #1157
@esisa at the moment two finger pan is not supported on Android v10 due to how gestures are implemented. We'll consider implementing this gesture in a future version of the SDK.

[2022-02-14 19:56] yunikkk opened #1158 "Handle touch events for interaction with custom widgets."
While the custom widget renderer [PR](https://github.com/mapbox/mapbox-maps-android/pull/1036) had been merged, there are a couple of follow ups that needs to be addressed to fully support Android Auto using new renderer.

This ticket is tracking adding onClick/onTouch to detect if user interacts with widgets.
At the moment it's blocked by lack of support from the Android Auto API's. The [ticked](

[2022-02-14 20:24] esisa commented on #1157
Oh, that is a serious regression then... Thanks for the quick response though :-)

[2022-02-16 01:02] #962 closed

[2022-02-16 07:07] Dharmesh-Dabhi opened #1163 "How to remove annotation marker from the map"
## Environment

- Android OS version: 11
- Devices affected: 1
- Maps SDK Version: 10.2.0

## Observed behavior and steps to reproduce
`annotationManager.deleteAll()`
- Marker annotation not removed from the Map screen

## Expected behavior

How to clear map, remove all marker and route

[2022-02-16 08:59] Chaoba commented on #1163
@Dharmesh-Dabhi Thank you for reporting. Can you provide more details on how to reproduce or a minimum project that could reproduce this?

[2022-02-16 11:40] kiryldz commented on #1117
Should be fixed by https://github.com/mapbox/mapbox-maps-android/pull/1165.

[2022-02-16 12:39] Chaoba commented on #1078
@Aram-dev A
Firstly, you have imported  v10.2.0 by ` implementation("com.mapbox.maps:android:10.2.0")`, this would include all the plugins, so please don't import other plugins separately, this will cause conflict.

Secondly, you enabled `pulsingEnabled` this will trigger an animator continuously update the map

Thirdly, for fragment, you created a `mapview` with binding and then created another o

[2022-02-16 12:39] #1078 closed

[2022-02-17 14:18] Aram-dev commented on #1078
@Chaoba thanks for your detailed explanation. I'd like to give some feedback
About dependencies - I'll change the implementations part. Anyway I had haven't any conflict connected to it.
The Fragment case, I agree there was a mistake in the code and thanks for mentioning it.

But I didn't get the solution of the main case for what I opened this issue.
I'll try to explane my porpose again

1. I nee

[2022-02-17 16:12] yunikkk commented on #1156
Actually both widgets are already present after #1036 and used in our android-auto test app at https://github.com/mapbox/mapbox-maps-android/commit/db4310531cecf8098f36f7955ac79761ba5e644b#diff-b19d45c16a23ba4ee0efe1dd81f51ae4448ca8236e13d75a1ca38f0a28b16512.
1tap will just have to use them and drop own implementation.
Closing this ticket.

[2022-02-17 16:12] #1156 closed

[2022-02-18 01:12] Chaoba commented on #1078
You can try `OnMoveListener`
[code]

[2022-02-21 06:01] Chaoba commented on #790
Already shipped with 10.2.0, close

[2022-02-21 06:01] #790 closed

[2022-02-21 10:31] zhufeixiang opened #1169 "Can the map rotate automatically？？"

[2022-02-21 10:57] Chaoba commented on #1169
@zhufeixiang Can you describe your question specifically?

[2022-02-21 11:26] Chaoba commented on #948
@deRonbrown Thanks for reporting. From the trace, the crash roots from a system lib, it is not related to mapbox.
Guess there is conflict on the native side.

[2022-02-21 14:21] kiryldz opened #1170 "OnMapIdle event not triggered reliably in instrument tests"
When running a bunch of instrument tests one after one (see https://github.com/mapbox/mapbox-maps-android/blob/main/sdk/src/androidTest/java/com/mapbox/maps/ViewAnnotationTest.kt) it seems that in some cases IDLE events are not triggered.

That actually leads to flaky tests as we hit timeout due to https://github.com/mapbox/mapbox-maps-android/blob/913649e2f72d516c504901c0482450ca324957f6/sdk/src/

[2022-02-21 15:07] PavlosTze opened #1171 "Clustering on Polygon points"
Hello,

We are developing an application on **Android**, we use MapBox and we would like to implement clustering on Polygon Annotations after a specific zoom level, like it has been implemented here:
https://explorer.helium.com/

Is that possible? I could't find something on the documentation for the Android SDK.

[2022-02-21 15:24] ZiZasaurus commented on #1163
@Dharmesh-Dabhi I will close this ticket for now. Please feel free to reopen this ticket with the additional information requested by @Chaoba.

[2022-02-21 15:24] #1163 closed

[2022-02-22 02:28] zhufeixiang commented on #1169
Without any operation, the earth rotates automatically, just like an accessor

https://user-images.githubusercontent.com/26599058/155051981-80dda3dc-b7b2-4d8e-abd4-bb2246bca1be.mp4

[2022-02-22 02:53] quangpaypay opened #1173 "java.lang.UnsatisfiedLinkError: No implementation found for void com.mapbox.maps.assets.AssetManagerProvider.initialize(android.content.res.AssetManager)"
## Environment

- Android OS version: Tested on Android 10
- Devices affected: Both the real device and emulator
- Maps SDK Version: v10.3.0

## Observed behavior and steps to reproduce

- Dependences: Only using `com.mapbox.maps:android:10.3.0`.
- Then, we initialized the map programmatically like this.
[code]
- The the error happened with the following logs
[code]

Thank you!

[2022-02-22 05:09] Chaoba commented on #1173
@quangpaypay Thanks for reporting.
Can you provide more details on which device and emulator are affected?
Can you create a minimum project that can reproduce this?

[2022-02-22 05:14] Chaoba commented on #1169
Can you try to apply `easeTo` with a long during?
[code]

[2022-02-22 05:19] quangpaypay commented on #1173
@Chaoba: Thanks for your quick response.
I tested with the following devices.
- Real device: Samsung Galaxy SC-02K
- Emulator: Pixel 2 API 30.

[2022-02-22 06:53] zhufeixiang commented on #1169
This can't achieve my effect.I just need to rotate from left to right, and the others remain the same，like that video.Anyway thanks

[2022-02-22 09:30] etherlind commented on #972
Hello! I'm still having this issue with the v10.3.0 release. I'm trying to center a map on a feature, and it works correctly with pitch = 0 but not with pitch = 45 for instance.

[2022-02-22 09:34] endanke commented on #972
Hi! For full context, the fix I've mentioned above was related to the issue in the case when pitch is zero.
I think we have a separate bug for non-zero pitch cases, which could be related to the following issue: https://github.com/mapbox/mapbox-maps-ios/issues/788

[2022-02-22 16:59] ZiZasaurus commented on #1169
The code provided by @Chaoba is what you would use to set the rotate. You can omit any zoom, bearing or pitch setting if you do not need them. I've attached my recreation and code snippet below. I set my camera to my desired point first and then set the camera I want to use for `easeTo`.

[code]

https://user-images.githubusercontent.com/44972592/155180528-aada0c14-0b24-4afa-8683-8dbcd24d2a48.mov

[2022-02-22 19:50] knov commented on #1127
PR has merged. Can this be closed @pjleonard37 @ZiZasaurus

[2022-02-22 19:52] ZiZasaurus commented on #1127
I think this one was opened to track the android version of this example. The example that merged was for iOS. @pjleonard37 please correct me if I'm wrong.

[2022-02-22 20:44] pjleonard37 commented on #1127
That's correct - this issue tracks the Android version of the example.

[2022-02-23 02:37] zhufeixiang commented on #1169
thank you @ZiZasaurus ,it almost solve my problem

[2022-02-23 02:37] #1169 closed

[2022-02-23 14:47] ZiZasaurus commented on #1171
@PavlosTze, the hexagon layer you're referring to is not a Mapbox feature, but a third party library that they are using on their servers. If you have a geoJSON of points, you could use Turf.js and a heatmap layer on the points to create something similar. Alternatively, you could cluster your data using a heatmap layer like in this example https://github.com/mapbox/mapbox-maps-android/blob/main/a

[2022-02-23 14:48] ZiZasaurus commented on #1173
@quangpaypay, thank you for this additional information. As requested above, can you create a minimum project that reproduces this?

[2022-02-23 16:24] etherlind commented on #1031
Hi @ZiZasaurus, it's happening to me as well, both on the emulator API 30 and on a real device, Pixel 2 running Android 11

[2022-02-23 16:26] yunikkk commented on #1031
@TiagoLira hi, please share more details, seems your issue is not exactly the one described here.
The code you use to reproduce, emulator & sdk version, does it happen on map reload only?

[2022-02-23 16:28] yunikkk commented on #1031
hey, how does it reproduce, are the steps described in the issue the same for you?

[2022-02-23 17:08] etherlind commented on #1031
Hey @yunikkk , in my case it's happening with a SymbolLayer. It happens on just simply loading the map and adding a geojson source and the layer:

[code]

The icon I'm loading is:
![restaurant](https://user-images.githubusercontent.com/45455098/155369059-49a2991a-d3c4-45e7-b3e3-54640578f312.png)

And loaded on the map it looks like this:

![Screenshot 2022-02-23 at 17 59 43](https://user-images.gi

[2022-02-24 01:20] quangpaypay commented on #1173
@ZiZasaurus : Lets me prepare that.
In the meantime, if you have any suggestion or hint which relates to this issue. I would like to try too. Thanks. 🙏

[2022-02-24 01:44] Chaoba commented on #1173
@quangpaypay Are you using App bundle? If yes, maybe related to [mapbox/mapbox-gl-native-android#416](https://github.com/mapbox/mapbox-gl-native-android/issues/416)

[2022-02-24 01:50] quangpaypay commented on #1173
@Chaoba : We run the debug build which uses "Default APK".

[2022-02-24 13:19] pengdev commented on #301
This is resolved as a part of https://github.com/mapbox/mapbox-maps-android/pull/1016 and will be included in the v10.4.0-beta.1 release.

[2022-02-24 13:19] #301 closed

[2022-02-24 14:56] #1171 closed

[2022-02-24 17:34] #1048 closed

[2022-02-24 17:48] #777 closed

[2022-02-24 17:48] knov commented on #777
closing as stale. please reopen and provide additional information if you need additional support.

[2022-02-25 07:00] wingkingbobo opened #1188 "videoview in viewpager out of the boundary"
When sliding the viewpager, the videoview is out of the range of the viewpager. If there is no MapView below, the display is correct.

The black area in the recording screen is viewpager.
https://user-images.githubusercontent.com/16450470/155669372-dd968a1d-7a1f-4841-8c63-cff24ba3be84.mp4

[code]
[code]
[code]

[2022-02-25 08:56] kiryldz commented on #1188
@wingkingbobo can you try create `MapView` with `mapbox:mapbox_mapSurface="texture_view"` mode?

[2022-02-25 09:14] wingkingbobo commented on #1188
@kiryldz After setting MapView to use TextureView, videoview can be displayed in the correct position. But I'm worried that the performance of TextureView will be significantly lower than that when using surfaceview. Do you have relevant test data.

[2022-02-25 09:24] wingkingbobo commented on #1188
@kiryldz
https://user-images.githubusercontent.com/16450470/155689342-3ed2b204-cfa0-474d-abe2-41c12499df99.mp4

Setting it to TextureView causes another strange problem. Zoom in or out of the map. The place where the tiles have not been loaded becomes transparent. You can see the activity at the lower level. Here is the Android desktop.

[2022-02-25 11:47] yunikkk commented on #1188
We don't have such data, will try to compare and get back with the results.

Meanwhile you can try to apply the workaround with surfaceview as well, using approach similar to [MultiSurfaceActivity](https://github.com/google/grafika/blob/master/app/src/main/java/com/android/grafika/MultiSurfaceActivity.java#L63), adding `Surface.setZOrderMediaOverlay` or `Surface.setZOrderOnTop` for the videoView p

[2022-02-28 02:08] #1188 closed

[2022-02-28 07:13] quangpaypay commented on #1173
@Chaoba @ZiZasaurus : I would like to share some update.
We found that there is a conflict under our app configuration, so the native lib can not be loaded at the startup time.
The issue is fixed now, and thanks for your time. 🙏

[2022-02-28 07:13] #1173 closed

[2022-02-28 08:52] zhufeixiang opened #1194 "can it draw the satellite orbit when the MapProjection is MapProjection.Globe??"
like below：

![WechatIMG52](https://user-images.githubusercontent.com/26599058/155953038-683b6a03-d16e-403e-804e-d71b3687ff27.jpeg)

[2022-02-28 12:20] clownba0t commented on #1173
Just in case anyone else runs into the same issue, the root cause for us was that we had disabled the AndroidX startup library's automatic initialisation provider, as documented [here](https://developer.android.com/topic/libraries/app-startup#disable-all).

For various reasons we were unable to restore the automatic initialisation provider, but were ultimately able to work around the issue by manu

[2022-02-28 13:50] yunikkk commented on #1173
Hey, thanks for the details, could you please clarify what do you mean by that? Were you unable to add the InitializationProvider for some internal reasons or the issue still was present even with InitializationProvider enabled?

[2022-02-28 15:31] A8Starkov commented on #1194
@mapbox/gl-native an interesting feature request that many apps may benefit from

[2022-03-01 07:20] endanke commented on #1194
As far as I know the 3D team is working on line layers with elevation support, so this will be possible in the future, but there's no estimated delivery time for it yet.
cc: @ivovandongen

[2022-03-01 09:10] wingkingbobo commented on #1188
@yunikkk The problem is solved, but not with ImageView. My final plan is to use TextureView and MediaPlayer instead of Android videoview. During the test, it is found that the videoview will become transparent during the loading process. MapView can be seen in that area. It will return to normal only after the loading is completed.

[2022-03-01 11:55] yinxiucheng commented on #1173
@quangpaypay .  Hi , I also encounter this error, could you write how you fixed it ?

[2022-03-01 12:18] yunikkk commented on #1188
@wingkingbobo got it. Please report if TextureView will have issues with the performance (though we don't expect it should happen).

[2022-03-01 13:29] TiagoLira commented on #1031
Hi @yunikkk

Target SDK - v30
Emulator - Pixel 4 API 30

On `onViewCreated` I call `loadStyleUri(Style.MAPBOX_STREETS)`.
After the `OnStyleLoaded` callback I add some PointAnnotations with custom bitmaps.
Nothing out of the ordinary I think. And it's not specific on reloads. About 10% of the times when I load this fragment, the bug happens.

Thanks for looking into it, let me know if you need any

[2022-03-02 02:57] quangpaypay commented on #1173
@yinxiucheng : I did the same thing as @clownba0t 's suggestion.
[code]

[2022-03-02 10:04] etherlind commented on #1031
It also happens with annotations included in the MAPBOX_STREETS style. I've detected the following behaviour on the emulator (Pixel 5 API 30), but not on a real device (Pixel 2 Android 11):

https://user-images.githubusercontent.com/45455098/156340081-4022fe1c-7a92-4aa9-a4f3-495264b40b17.mp4

[2022-03-02 10:18] daniel-j-h opened #1197 "Symbol layer icon rendering artifacts"
## Environment

- Android OS version: 12
- Devices affected: emulator (hw accel enabled)
- Maps SDK Version: 10.3.0

## Observed behavior and steps to reproduce

Hey folks, I'm using a symbol layer with a maki icon included in the style (satellite streets) e.g. "embassy-15".

I'm seeing rendering issues when zooming in and out. Sometimes the rendered icons turn all black, then they switch back. I

[2022-03-02 11:21] yunikkk commented on #1197
Hi @daniel-j-h , thanks for the report, issue with the black annotations on emulators indeed exists

Similar issue #1031

[2022-03-02 15:44] ZiZasaurus commented on #1197
Closing this ticket as a duplicate.

[2022-03-02 17:09] daniel-j-h opened #1198 "Symbol layer with polygon source results in jumping / multiplying icons"
## Environment

- Android OS version: 12
- Devices affected: emulator, actual phone (e.g. Pixel 6)
- Maps SDK Version: 10.3.0

## Observed behavior and steps to reproduce

Hey folks, I'm working with a symbol layer which I style with an image. I'm connecting it to a geojson source with polygon features. When zooming in and out I get unexpected behavior from the icons: sometimes the icons jump betw

[2022-03-02 23:57] ZiZasaurus commented on #1198
@daniel-j-h, thank you for reporting this behavior. I am able to reproduce the issue with the icons multiplying as well and will investigate this behavior.

[2022-03-03 10:17] daniel-j-h commented on #1198
Thanks! :raised_hands:

Here's a workaround solving
1. the icons placement jumping between zoom levels, and
2. the icons multiplying when zooming in

We can manually transform (multi)polygon to point features e.g. with [TurfMeasurement.center](https://github.com/mapbox/mapbox-java/blob/a80b4b9a4c2ef06fdd1ae8c36182db0773715b9e/services-turf/src/main/java/com/mapbox/turf/TurfMeasurement.java#L723-L7

[2022-03-06 12:11] Sae-Ba opened #1205 "i have crush about token but i already sync it -solved-"
this is my Logcat

2022-03-06 21:01:57.826 25925-25925/com.tuk.tukproject1 E/AndroidRuntime: FATAL EXCEPTION: main
    Process: com.tuk.tukproject1, PID: 25925
    java.lang.RuntimeException: Unable to start activity ComponentInfo{com.tuk.tukproject1/com.tuk.tukproject1.MainActivity}: android.view.InflateException: Binary XML file line #2 in com.tuk.tukproject1:layout/activity_main: Binary XML fil

[2022-03-06 13:28] Sae-Ba commented on #1205
(https://medium.com/@alessandro.lombardi.089/setting-up-mapbox-sdk-10-1-0-in-android-studio-2021-5083ca876bdd)
now i fixed it ...

[2022-03-07 14:42] ZiZasaurus commented on #1205
@Sae-Ba, happy you were able to get this resolved!

[2022-03-07 14:42] #1205 closed

[2022-03-08 06:46] quangpaypay commented on #772
@tobrun : Thanks for your explanation.
We are migrating to version 10 and facing a similar issue that @daniel-j-h has.

By the way, what do you mean by this option? Thanks.

[2022-03-09 05:05] Chaoba commented on #1106
Close this as no feedback received, feel free to reopen if still have questions about this.

[2022-03-09 05:05] #1106 closed

[2022-03-09 09:11] 113408 commented on #1173
Just adding on this issue. If you face `java.lang.UnsatisfiedLinkError` Exception it might be because the Mapbox Initializer didn't launch as planned. You can either fix that through your manifest or from your Application class.
**Manifest Method:**
Replace this :
[code]
With:
[code]
**Code Method (described above):**
[code]

[2022-03-10 12:23] florianPOLARSTEPS opened #1214 "Move gesture overtaking single-tap-up on motorola one action"
## Environment

- Android OS version: 10
- Devices affected: Motorola One Action
- Maps SDK Version: 10.3.0

## Observed behavior and steps to reproduce

I struggled with an issue recently where on one of our test devices (Motorola One Action) every click on the map would also result in a move being detected. I could not pinpoint the exact reason for the issue but managed to find a workaround that

[2022-03-10 14:06] ghadeeraqraa1992 opened #1217 "[android automotive] the "user" icon does not move on the Map"
## Environment

- Android OS version: android automotive 11
- Maps SDK Version:10

the "user" icon does not move on the Map. i.e the icon does not move on the map altho we are in a driving car

while dibbeging this issue we noticed that below two listeners were not invoked on automotive tablets and they are invoked with the normal android tablets :

[code]

[2022-03-10 18:28] cramptonism opened #1218 "Draggable polygon annotations do not maintain their shape in 3D"
## Environment

- Android OS version: 11
- Devices affected: All
- Maps SDK Version: 10.3.0

## Observed behavior and steps to reproduce

Draggable polygon annotations do not maintain their shape in 3D, particularly in areas of mountainous terrain

https://user-images.githubusercontent.com/13057523/157730300-8b4c255f-8d48-43c3-933e-81e4644823d0.mp4

## Expected behavior

As is the case in 2D, poly

[2022-03-10 22:15] kmadsen commented on #1217
You may need to [set your own location provider](https://github.com/mapbox/mapbox-maps-android/blob/abc7e7ec8dc2b94aa833c8ae1f27801160bb4109/plugin-locationcomponent/src/main/java/com/mapbox/maps/plugin/locationcomponent/LocationComponentPluginImpl.kt#L158).

The navigation simulator [works by overriding this](https://github.com/mapbox/mapbox-maps-android/blob/abc7e7ec8dc2b94aa833c8ae1f27801160bb4

[2022-03-10 23:03] cramptonism commented on #1218
I believe the core of the issue lies within this bit of code in PolygonAnnotation.kt, and would presumably affect Polylines as well:

[code]

I believe this code is making an incorrect assumption that each vertex moves the same distance in the world when moving X/Y pixels on the screen. This is fine in 2D but because 3D adjusts the distance based on terrain it ends up with this shifting shape.

[2022-03-11 06:04] Codemenschen248 opened #1219 "Unable to resolve dependency"
## Environment

- Maps SDK Version: 10.3.0

I am trying to add latest version of Map box, but its failing.
I have followed [MapBox Documentation][1]

secret token in **gradle.properties** file:

    MAPBOX_DOWNLOADS_TOKEN=MY_SECRET_MAPBOX_ACCESS_TOKEN_IN_PAIN_TEXT_WITHOUT_QUOTES

My **settings.gradle** File.

    dependencyResolutionManagement {
        repositoriesMode.set(RepositoriesMode.PREFER

[2022-03-11 09:31] Chaoba commented on #1218
@cramptonism Thanks for your reporting, will address it later.

[2022-03-11 16:27] ZiZasaurus commented on #1219
@Codemenschen248, as this is more of a product support Issue, can you please create a support ticket at https://support.mapbox.com/hc/en-us/ and our support team will be happy to get you the answers you need.

[2022-03-11 16:27] #1219 closed

[2022-03-16 12:05] Usama99786 opened #1227 "How to remove a single marker or clear all the markers on the map"
## Environment

- Android OS version:
- Devices affected:
- Maps SDK Version:

## Observed behavior and steps to reproduce

## Expected behavior

## Notes / preliminary analysis

## Additional links and references

[2022-03-16 12:19] Usama99786 opened #1228 "How to remove a single marker or clear all the markers on the map (Android SDK v10)"
I am using implementation 'com.mapbox.maps:android:10.3.0' in my android app.
I have added multiple markers using following code

 val annotationApi = binding.mapView?.annotations
        val pointAnnotationManager = annotationApi?.createPointAnnotationManager(binding.mapView)
// Set options for the resulting symbol layer.
        val pointAnnotationOptions: PointAnnotationOptions = PointAnnotatio

[2022-03-16 12:23] ghadeeraqraa1992 commented on #1217
Hi @kmadsen
thanks for quick response
I created my custom provider following[ this example ](https://github.com/mapbox/mapbox-maps-android/blob/4c663db9d0a1ab9f9c592e9fb640f098dec2f211/app/src/main/java/com/mapbox/maps/testapp/examples/LocationComponentAnimationActivity.kt) and the user icon was moving as expected
After that I couldn't advance with building custom [locationEngin](https://docs.mapb

[2022-03-16 13:01] adi9090 commented on #1143
We got the same issue as reported by @munnitz
On map we are showing location of an object X and user location, with priority on location of an X.
If we zoom in to user location shown on map and call the **flyTo(cameraPosition, animationOptions)** with valid user coordinates, we got the same crash.

[2022-03-16 16:03] e-hartig commented on #1003
This has required several workarounds in our code because things stop updating after a resume.  Is there an ETA for a fix?

[2022-03-16 20:02] #1152 closed

[2022-03-16 23:12] kmadsen opened #1229 "Add ability to observe EdgeInsets with the MapOverlayPlugin"
Starting to use the `MapOverlayPlugin` [getEdgeInsets](https://github.com/mapbox/mapbox-maps-android/blob/3c432d3d3bf8ee78acf1f2495f05835560c6c3cc/sdk-base/src/main/java/com/mapbox/maps/plugin/overlay/MapOverlayPlugin.kt#L75).

Could you add the ability to observe the edge insets? The use case is, if we define a layout with top and bottom layouts and we register them as overlays using `MapOverlayP

[2022-03-16 23:14] kmadsen commented on #1229
This is not a blocking issue, but a potential recommendation for the experimental api. Downstream, we are restricted to organize logic so that we can detect when layout changes and ensure the camera padding is updated accordingly.

https://github.com/mapbox/mapbox-navigation-android/pull/5574

[2022-03-17 02:41] voilet0604 commented on #1228
pointAnnotationManager.deleteAll() or pointAnnotationManager.delete(annotation)

[2022-03-17 11:01] yunikkk commented on #1217
@ghadeeraqraa1992 could you pls describe what are you trying to achieve?

[2022-03-17 13:17] #1227 closed

[2022-03-17 13:21] #1228 closed

[2022-03-17 13:21] ZiZasaurus commented on #1228
Thanks, @voilet0604!
@Usama99786, answered [here](https://github.com/mapbox/mapbox-maps-android/issues/1227) as well.

[2022-03-18 13:32] ohcheung opened #1231 "[Java] Could not apply correct line gradient colors to LineLayer"
## Environment

- Android OS version: Android 11
- Devices affected: Samsung
- Maps SDK Version: 10.3

## Observed behavior and steps to reproduce

Hi, I'm trying to apply line gradient to line layer using Java. Most of the documentation I found are written in Kotlin, so I'm not sure if I set something wrong in my code. The line became black color instead of gradient.

Here's my code:
[code]

Is t

[2022-03-21 08:15] kiryldz commented on #1231
@ohcheung this looks correct at the first glance.
Did you set `lineMetrics(true)` for the source that is connected with your line layer? In Kotlin DSL it looks like [this](https://github.com/mapbox/mapbox-maps-android/blob/e8becd34eede7049feeaa4a8d3cca1b72be9f1bb/app/src/main/java/com/mapbox/maps/testapp/examples/linesandpolygons/LineGradientActivity.kt#L32).

[2022-03-21 08:38] ohcheung commented on #1231
thank you so much @kiryldz , that was what I missed. It is working now

[2022-03-21 08:38] #1231 closed

[2022-03-21 09:46] #1218 closed

[2022-03-21 10:40] yunikkk commented on #1232
Hey @pcutting have you been able to resolve this?
From what I can see - do you need to access `data` field at all? Data property is defined as
[code]
Why do you need it at all? Should be enough to just create geojson with DSL:
[code]

[2022-03-21 12:38] warting commented on #129
Any official updates regarding this?

[2022-03-22 09:30] ghadeeraqraa1992 commented on #1217
actually I'm not sure what I have do , so just I added my custom location provider "FakeLocationProvider" the icon was moving and it works
after that I'm stuck and I'm not able to advance with making it works using real gps and real location

[2022-03-22 10:14] ben-j69 commented on #772
Hello,
We also need to disable telemetry in v10 like we were doing on v9:

[code]
I did not find any documentation on how to disable telemetry, globally or on a MapView.

[2022-03-22 15:56] yunikkk commented on #129
Hi, no updates at the moment.

[2022-03-24 05:49] cramptonism commented on #1218
Thanks for the quick fix!

[2022-03-24 11:50] mani-w3w opened #1240 "Get visible camera bounds"
Hi there, I have trying to find a way to get visible bounds SW, NE on v10, I tried getBounds() but it's never updated, seems to always give me:  bounds: center:  0.0,  0.0; sw: -90.0,  -180.0; ne: 90.0,  180.0.

Is there a way to get visible camera bounds that I'm not seeing?

Thanks!

[2022-03-24 13:57] ZiZasaurus commented on #1240
@mani-w3w you can use `mapView.getMapboxMap().coordinateBoundsForCamera()` to get the coordinate bounds that correspond to the current camera.

[2022-03-24 14:09] #1240 closed

[2022-03-25 09:51] CedericN opened #1242 "Compass not showing"
## Environment

- Android OS version: 10
- Maps SDK Version: 10.4

## Observed behavior and steps to reproduce

[code]

the compass is not showing even if I enable it.
(i call this class from a java activity and all other thing with the map are working

## Expected behavior

see a compass somewhere on the screen

[2022-03-25 13:00] LukasPaczos opened #1243 "signal 6 (SIGABRT) - terminating with uncaught exception of type std::length_error"
## Environment

- Maps SDK Version: 10.4.0-rc.1

Nav SDK's CI caught a native crash:
[code]

when a robo test was interacting with the map attribution. There's a video and logs available in [here](https://console.firebase.google.com/project/mapbox-navigation-android/testlab/histories/bh.2e74b6b076d6fa53/matrices/7378605800179481948/executions/bs.7b0b16751e1a45e7/videos).

cc @mapbox/maps-android

[2022-03-25 13:44] ZiZasaurus commented on #1243
@LukasPaczos thanks for reporting. Transferring to internal repo.

[2022-03-26 22:43] miptildar commented on #916
From my experience they will answer you after 4-6 months

[2022-03-29 14:35] ZiZasaurus commented on #1242
@CedericN, when you use pinch gestures to rotate the map do you still not see the compass?

[2022-03-29 14:45] mani-w3w opened #1245 "issue with onMapClickListener and queryRenderedFeatures working together on v10"
Hi there,

on v9 queryRenderedFeatures was not using callbacks which allowed me to call it on onMapClickListener and if the Feature is present set the return of onMapClickListener to true and if not to false, which is what I want to achieve.

on v10 queryRenderedFeatures changed to a callback, now I can't make this work together anymore and can't find a way to do it.

` mapView.getMapboxMap().addO

[2022-03-29 21:55] akinsetesunday commented on #1170
I am getting this issue as well,  Any luck on a fix. addOnMapIdleListener is not getting triggered.

[2022-03-30 14:49] ZiZasaurus commented on #1232
@pcutting did the comment above help you resolve your issue?

[2022-03-30 15:18] yunikkk commented on #922
@felixkrautschuk have you tried to change bearing source for the location puck https://docs.mapbox.com/android/maps/guides/user-location/#set-puck-bearing-source ?

[2022-03-30 15:54] felixkrautschuk commented on #922
@yunikkk yes I tried that, but I still cannot see any difference

[2022-03-30 17:23] yunikkk commented on #922
@felixkrautschuk seems like a bug then, please submit a ticket with the details and we'll look into it

[2022-03-31 17:03] abhishek1508 opened #1251 "Possibility to expose animator set used for CameraAnimators"
## New Feature

Maps SDK exposes camera animations like `moveTo`, `flyTo`, `easeTo` etc that takes in `CameraOptions` and performs respective animations. It would be great to get access to the `Array<CameraAnimator>` that these internal camera transitions return.
For ex: `CameraAnimatorsFactory#getFlyTo(options: CameraOptions): Array<CameraAnimator<*>>`

## Why

We have found ourselves in situatio

[2022-04-01 14:04] SamuelBrucksch opened #1253 "App crashes with cryptic error"
Hi,

we get following crash on bugsnag:
[code]

Unfortunately I can not reproduce on my Pixel 3 with Andropid 12, however it seems to be related to Pixel 5 and Pixel 4a on Android 12 only at the moment. We did not get reports for other phones and Android OS (yet).

We use mapbox sdk `10.3.0-rc.1` for Android Auto, but also `@react-native-mapbox-gl/maps` on app side that is based on react native, s

[2022-04-04 17:14] rez20004 opened #1258 "Java code"
How do we get the Java code? I see kotlin everywhere.

[2022-04-05 09:53] boscoad opened #1259 "Two maps in two fragments"
Hi,
I have an android application with a MainActivity containing a FragmentContainerView.
The FragmentContainerView manages two Fragments:
1. Fragment 1 contains a MapView A
2. Fragment 2 contains a MapView B
From Fragment 1 I open an external Google Maps Intent (com.google.android.apps.maps).
When I press the back button from the Google Map to return in my application I see correctly the Fragment

[2022-04-05 13:22] #1259 closed

[2022-04-05 13:54] ZiZasaurus commented on #1258
@rez20004 the current [API documentation](https://docs.mapbox.com/android/maps/api/10.4.0/mapbox-maps-android/) works for both Kotlin and Java. We have some Java examples [here](https://github.com/mapbox/mapbox-maps-android/tree/main/app/src/main/java/com/mapbox/maps/testapp/examples/java) and also try to make our code base java friendly, however Kotlin as a language is compatible with Java.

Plea

[2022-04-05 13:54] #1258 closed

[2022-04-05 16:49] ZiZasaurus commented on #1242
@@CedericN closing this ticket but please feel free to reopen if you have additional questions.

[2022-04-06 06:55] CedericN commented on #1242
no i still don't see it when i use the pinch gestures (sorry for the late response)

[2022-04-06 08:18] Christophe668 opened #1284 "Vector API unwanted requests"
**Mapbox Navigation SDK version:** 2.3

Hi,

We are trying to investigate why we have such a huge pike on the Vector API.
We released an app update on the 28th of March with the migration from 1.* to 2.3.
In one day, we had 180.000 requests and then nothing after.
Do you have maybe an idea where this could come from?

<img width="1276" alt="Screenshot 2022-04-06 at 10 15 03" src="https://user-imag

[2022-04-06 11:05] CedericN commented on #1242
for some reason it now works (i did not change any code)

[2022-04-06 17:57] pengdev commented on #1253
@SamuelBrucksch thanks for the ticket, could you provide the full crash report so that we can symbolicate it from our side? Also would like to know the Android Maps SDK version that `@react-native-mapbox-gl/maps` depends on, in addition to the 10.3.0-rc.1, which is used for Android Auto. Ideally could you run `./gradlew app:dependencies` and paste the Mapbox related dependencies here?

I tried to

[2022-04-06 18:11] SamuelBrucksch commented on #1253
Hi @pengdev

thanks for looking into this. Here are the mapbox related dependencies:
[code]

Does it contain everything you need?

@react-native-mapbox-gl/maps is 8.5.0 The related mapbox versions should be these:
https://github.com/rnmapbox/maps/blob/8.5.0/android/rctmgl/build.gradle#L49-L75

The error I pasted above is everything i can see. Unfortunately no other error or additional information

[2022-04-07 09:49] kiryldz opened #1265 "TextureView rendering: map may be not loaded after bringing back to front"
## Environment

- Android OS version: 12
- Devices affected: Samsung S20 Ultra
- Maps SDK Version: v10.5.0-beta.1

## Observed behavior and steps to reproduce

Run `TextureViewActivity` from examples app.
Minimize / maximize app, at some point after maximizing no map is rendered - it will render properly if you drag a map.
This issue is not deterministic.

## Expected behavior

Map should be alway

[2022-04-11 08:12] ittna opened #1273 "Showing accuracy ring with coarse location permission"
## Environment

- Android OS version: 12
- Maps SDK Version: 10.4.1

## Observed behavior and steps to reproduce

Accuracy ring doesn't show around location puck. I tried with both fine and coarse location permission. Also is there someway to set that accuracy ring would show only with coarse location permission and location puck would show only with fine location permission or do I have to change

[2022-04-12 14:22] ZiZasaurus commented on #1232
Closing this ticket but please feel free to reopen if you have additional questions.

[2022-04-12 14:22] #1232 closed

[2022-04-12 18:23] ZiZasaurus commented on #1273
@ittna please take a look at our [BasicPulsingCircleActivity](https://github.com/mapbox/mapbox-maps-android/blob/sd-accessibility-activity/app/src/main/java/com/mapbox/maps/testapp/examples/BasicLocationPulsingCircleActivity.kt) to see the implementation for the pulsing accuracy ring.

When it comes to how/ when you would like the accuracy ring to show, this implementation would be handled by you.

[2022-04-13 09:40] Christophe668 commented on #1253
Same issue here.

com.mapbox.navigation:core:2.4.0-rc.1
[code]

Occurrences Last 30 days: 528
Seems to impact Android 12
[code]

Another one :
Occurrences last 30 days: 378
Android 11
[code]

[2022-04-13 10:33] florianPOLARSTEPS opened #1277 "Untraceable crash in Projection.unproject"
## Environment

- Android OS version: Any
- Devices affected: Any
- Maps SDK Version: 10.x

## Observed behavior and steps to reproduce

I am seeing quite some users experiencing the following crash
[code]

## Expected behavior

The app does not crash.

## Notes / preliminary analysis

Due to the stacktrace it is impossible for me to determine the source of this issue. I am also unable to reproduc

[2022-04-13 10:36] kiryldz commented on #1277
Closing as duplicate of https://github.com/mapbox/mapbox-maps-android/issues/1143, will be fixed in upcoming release.

[2022-04-13 10:36] #1277 closed

[2022-04-13 14:05] alfietapping opened #1278 "queryRenderedFeatures randomly returning empty list"
## Environment

- Android OS version: 12
- Devices affected:
- Maps SDK Version: 10.2.0

## Observed behavior and steps to reproduce

I'm loading numerous vector tiles and using queryRenderedFeatures to try and get the coordinate info of the tile im selecting, however this only seems to work randomly, usually not working at all and returning an empty list.

[code]

## Expected behavior

## Notes /

[2022-04-14 06:00] ittna commented on #1273
I don't want pulsing circle. I only want to show accuracy ring for the coarse location permission same way as Google Maps does it.

[2022-04-15 09:26] nmssalman opened #1283 "Voice Instructions and maneuver not working in fragments."
Im following the below example in a fragment, however the sample is working fine in activity but not in fragments. sound observer and maneuver observers never receive data.

https://docs.mapbox.com/android/navigation/examples/turn-by-turn-experience/

[2022-04-17 23:18] eeriksen commented on #1242
I've got the same issue as @CedericN. My "onIndicatorBearingChangedListener" listener is being called, but the bearing value is not updated. Testet on both emulators and physical devices (sdk v. 30).

[2022-04-18 19:58] henryx27 opened #1285 "[Mapbox-SDK v9.5.0] Missing dependencies"
## Environment

- Android OS version: N/A
- Devices affected: N/A
- Maps SDK Version: 9.5.0

## Observed behavior and steps to reproduce

Attempt to build application with dependency on `mapboxsdk-android-sdk:9.5.0`

`build.gradle` is configured as follows:
[code]
where the `password` is a valid token

## Expected behavior

Dependencies are downloaded and build passes

## Notes / preliminary analy

[2022-04-18 20:39] eygraber opened #1286 "Could not find com.mapbox.base:common:0.5.0"
All of my builds fail with the following error:

[code]

[2022-04-19 03:20] joshrvezy commented on #1285
im running into the same issue with mapbox 9.7.1

[2022-04-19 03:27] joshrvezy commented on #1285
Searched in the following locations:
       - https://repo.maven.apache.org/maven2/com/mapbox/mapboxsdk/mapbox-android-accounts/0.7.0/mapbox-android-accounts-0.7.0.pom
       - https://dl.google.com/dl/android/maven2/com/mapbox/mapboxsdk/mapbox-android-accounts/0.7.0/mapbox-android-accounts-0.7.0.pom
       - https://zendesk.jfrog.io/zendesk/repo/com/mapbox/mapboxsdk/mapbox-android-accounts/0.7.0/

[2022-04-19 05:39] mysport12 commented on #1285
We are experiencing the same and Friday was the last day we had a successful build.

[2022-04-19 08:33] mattijsf commented on #1285
We ran into the same problem since the past couple of hours:

[code]

Probable caused by some degraded performance mentioned on: https://status.mapbox.com/

Identified - We're experiencing an elevated level of API errors and are currently looking into the issue.
Apr 19, 03:05 UTC

[2022-04-19 08:34] mattijsf commented on #1286
Probably a duplicate of https://github.com/mapbox/mapbox-maps-android/issues/1285

[2022-04-19 10:31] ank27 commented on #1286
@eygraber Thank you for the issue. We are currently looking into it and will update as soon as it's fixed.

[2022-04-19 10:37] ank27 commented on #1285
@henryx27 Thank you. We are currently looking into it and will update as soon as it's fixed.

[2022-04-19 13:12] #1214 closed

[2022-04-19 13:37] #1286 closed

[2022-04-19 14:28] ZiZasaurus commented on #1283
Thank you for reporting. I will transfer to our navigation team.

[2022-04-19 14:38] #1143 closed

[2022-04-19 16:16] limingchina commented on #1205
@Sae-Ba , I still can't solve the issue. I checked your article. What you did is only adding the string resource to your project. However, it looks to me one has to fetch that string and use it in the source code.

I also checked the mapbox SDK implementation, the code in ResourcesAttributeParser.kt.
`    val token = typedArray.getString(R.styleable.mapbox_MapView_mapbox_resourcesAccessToken)

[2022-04-19 17:18] ZiZasaurus commented on #1284
@Christophe668, as this is more of a product support Issue, please create a support ticket at https://support.mapbox.com/hc/en-us/ and our support team will be happy to get you the answers you need.

[2022-04-19 17:18] #1284 closed

[2022-04-19 18:24] ZiZasaurus commented on #1273
@ittna our [LocationComponentActivity](https://github.com/mapbox/mapbox-maps-android/blob/main/app/src/main/java/com/mapbox/maps/testapp/examples/LocationComponentActivity.kt) demonstrates enabling and disabling the accuracy ring:

[code]

[2022-04-20 08:20] zeac opened #1288 "Annotation icon is positioned incorrectly if IconTextFit and text-offset are used at the same time."
## Environment

- Android OS version: Any
- Devices affected: All
- Maps SDK Version: 10.2.0

## Observed behavior and steps to reproduce

When adding a point annotation using `IconTextFit.BOTH` and the text-offset the icon is moved more that necessary.

Here is the result without text-offset:
![image](https://user-images.githubusercontent.com/227665/164183741-cc197f8c-8058-48f0-804e-5bf26cb7a724.

[2022-04-20 09:38] limingchina commented on #1285
Issue seems to be fixed. Can anyone else confirm?

[2022-04-20 10:26] mattijsf commented on #1285
@limingchina I can confirm. Our builds are also succeeding again since today.

[2022-04-20 10:35] ank27 commented on #1285
@limingchina @henryx27 Yes, Confirming that the issue is fixed and the build will be success now.
Closing this ticket, Feel free to reopen if you are unable to build the project.

Thank you :)

[2022-04-20 10:35] #1285 closed

[2022-04-20 12:45] zeac commented on #1288
Two indirect action that helps:
1. Two-line text in the annotation.
2. Reducing height of the image content area so that height of the text is always larger.

[2022-04-21 02:07] tir38 opened #1295 "Compass is not showing in "edge-to-edge" mode"
## Environment

- Android OS version: 11
- Devices affected:  Pixel 5a
- Maps SDK Version: master

## Observed behavior and steps to reproduce

I'm following [Android's documentation to show an Activity edge-to-edge](https://developer.android.com/training/gestures/edge-to-edge#step_4_immersive_mode=) . This activity is hosting a `MapView`. However doing so causes the compass to disappear.

I start

[2022-04-21 03:11] jingcb commented on #53
can you give me a commit id,

[2022-04-21 07:09] jingcb commented on #53
sir, can you give a commit to learn how to fix it

[2022-04-21 07:48] jingcb commented on #53
sir, can you give a commit to learn how to fix it

[2022-04-21 09:51] yunikkk commented on #53
@jingcb does it still reproduce for you with the latest Maps 10.4.0 ?

[2022-04-21 10:09] mhille3 opened #1298 "LocationProvider is null in the LocationComponentPlugin"
## Environment

- Android OS version: 11
- Devices affected: Desktop Head Unit, LG G8s
- Maps SDK Version: 10.4.0

## Observed behavior and steps to reproduce

So basically I tried to display the mapbox map on Android Auto. The sample app does that, with location updates.
To make it more comfortable to me, I took the parts I needed and translated them to java.
After many hard errors, I figured it

[2022-04-22 01:04] jingcb commented on #53
@yunikkk no, this problem also has happend in my program；so i want to know howto fix； and i just solved it； i writed "if " in shader glsl file; delete "if", everything is ok; Thanks for your reply.

[2022-04-22 07:26] tobrun commented on #1253
@Christophe668

The crashes listed symbolicates to:

[code]

Where you can see `mapbox::bindgen::mapbox::maps::Observer::notify(mapbox::maps::Event const&)` and afterwards `jni::CheckJavaException(_JNIEnv&)`. This means a java exception was thrown from the event handler (like a callback). There is a chance that this is maps sdk code, nav sdk code or your own. Do you have the ability to see the ful

[2022-04-22 11:19] yunikkk commented on #1298
@mhille3 hi, could you please share the code you're running?

[2022-04-22 12:13] mhille3 commented on #1298
Had to share in txt or zip, so i hope the one script is enough

[CarCameraController.txt](https://github.com/mapbox/mapbox-maps-android/files/8540875/CarCameraController.txt)

[2022-04-22 17:14] stolzda opened #1299 "MapView keeps getting destroyed on Fragment Navigation, leading to ugly grey background being displayed"
We have a MapView, which is displayed in a Fragment. The problem we face, is that when the user navigates to a different Fragment and back, the MapView is always recreated, which leads to an ugly grey flickering.

We would like to somehow persist either the MapView, or the state of the Map, to allow for a faster recreation.

I couldn't find anything on how to persist the MapView state across fragm

[2022-04-25 12:58] JWKriti opened #1300 "Could not find method lintOptions() for arguments"
I just cloned the mapbox repository from git and its throwing an error when trying to open it in studio:

A problem occurred evaluating project ':mapbox-lint'.

[2022-04-25 14:29] ZiZasaurus commented on #1300
@JWKriti are you trying to build our example app? For that, all you should need is to enter your access token in the developer-config.xml file.

[2022-04-25 16:35] #1273 closed

[2022-04-26 06:18] JWKriti commented on #1300
Hii, @ZiZasaurus,
i cloned the repo by  following these steps
$ git clone git@github.com:mapbox/mapbox-maps-android.git && cd mapbox-maps-android
and opened mapbox-maps-android folder in studio, and it throws the error mentioned above.
Also am not able to find developer-config.xml file.

[2022-04-26 07:46] mhille3 commented on #1298
Bump, because i really need help on that

[2022-04-27 06:21] Michae1Wan commented on #1170
Same here, OnMapIdleListener is not being triggered

[2022-04-27 08:52] yunikkk commented on #53
@jingcb could you pls give more details, which glsl file have you changed to fix? What version of maps SDK do you use?

[2022-04-27 15:28] ZiZasaurus commented on #1300
@JWKriti we are not experiencing any issues cloning the repo on our end. As this appears to be more of a product support Issue, can you please create a support ticket at https://support.mapbox.com/hc/en-us/ and our support team will be happy to get you the answers you need.

[2022-04-27 15:28] #1300 closed

[2022-04-27 15:46] kiryldz commented on #1170
@akinsetesunday @Michae1Wan could you give it a try with v10.4.3 version and let us know if it will help?

[2022-04-28 04:41] RoProducts opened #1310 "Crash when using system.uid"
Hi,

we want to use the Mapbox Android Maps SDK in a custom Android image as a system app using  android:sharedUserId="android.uid.system"
## Environment

- Android OS version: 5.1
- Maps SDK Version: 9.6.2

## Observed behavior and steps to reproduce

We would expect the SDK to work, but when using the above mentioned flag the app crashes :

`2022-02-16 05:14:50.660 30100-30100/ch.jespr.jespr E/A

[2022-04-28 06:58] Michae1Wan commented on #1170
Unfortunately v10.4.3 didn't help...

I used OnMoveListener and call onMapIdle manually when movement ended as a work around, but this doesn't help if I set the camera location directly.

[2022-04-28 21:38] purdyk opened #1312 "GesturesPlugin with rotate and zoom does not present to ViewportPlugin as user gesture"
### Background
We're using the viewport plugin with our project, and have the expectation that user interaction with the map will cause our viewport to transition to the Idle state.

This is working well except for rotation gestures, which cause the map to rotate out from under the user's fingers every time a location update comes through.

### Analysis
This is a result of the code block found her

[2022-04-28 23:04] purdyk opened #1313 "Scalebar Plugin adds ( 10 * segments ) 10dp of error to the scale."
## Environment

- Android OS version: 12, 11 ( likely all platforms )
- Devices affected: Tested on Pixel 6 and Pixel 4a  ( likely all devices )
- Maps SDK Version: 10.4.0

## Observed behavior and steps to reproduce

1. Create an artifact on the map that is exactly 1 mile long
2. Bring this artifact near to the scale bar
3. Note that the indicated 1 mile on the scalebar is not the same length as

[2022-04-29 06:25] #93 closed

[2022-04-30 08:25] #165 closed

[2022-05-01 13:25] #789 closed

[2022-05-02 07:25] #781 closed

[2022-05-02 21:46] crroush opened #1319 "Adding a circle annotation every 100 msec causes significant performance issues"
## Environment

- Android OS version: 12
- Devices affected: Samsung S20FE
- Maps SDK Version: 10.4.0

## Observed behavior and steps to reproduce

We are running an instance of mapbox 10.4.0, using the circleAnnotationManager to receive lat/lon points and display them on the map.  There is a kotlin sharedflow that delivers the ingests the data and makes it available to the viewmodel for displayin

[2022-05-03 07:46] jimduchek opened #1320 "locationConsumer->onLocationUpdates does not include altitude"
## New Feature
Honestly, I kind of feel like this is almost a bug report, though perhaps more an 'oversight report'.  in the DefaultLocationProvider, the consumer is sent the new location with:

`consumer.onLocationUpdated(Point.fromLngLat(location.longitude, location.latitude))`

when it should be:

[code]

This passes on the hasAltitude() status properly, but 99% of the time if we're on GPS, alt

[2022-05-03 13:51] ZiZasaurus commented on #1299
@stolzda the mapview is bound to the lifecycle of the fragment that contains it. When navigating between fragments, these fragments are destroyed and recreated, so is the mapview. This guarantees that the mapview doesn’t leak memory during the fragment re-creation process, or if the fragment is destroyed and never comes back.

There might be ways to increase the creation speed, for example minimiz

[2022-05-03 17:25] tir38 opened #1322 "Documentation on viewport orientation tracking"
## New Feature

_Not sure if this is a feature with missing documentation, or not (yet) a feature in v10._

I'm migrating from v9 to v10. Previously I could switch between tracking the compass or not, when also tracking users location

[code]

I now see that this is handled by the `viewport` plugin, not by location component. I'm following along [the sample](https://github.com/mapbox/mapbox-maps-a

[2022-05-04 06:24] VincentJoshuaET commented on #772
Any update?

[2022-05-05 01:08] Chaoba commented on #1319
Can you try to cache the annotations and add them with `create(options: List<S>)`? For example, adding 10 annotations every time.

[2022-05-05 01:13] crroush commented on #1319
@Chaoba I have done that, which helps a little.  I was hoping there was some way to either bypass the geojson parser and get an pass the annotation directly to the native side.

[2022-05-06 12:29] yunikkk commented on #1322
@tir38 please use [FollowPuckViewportStateOptions.bearing](https://docs.mapbox.com/android/maps/api/10.5.0/mapbox-maps-android/com.mapbox.maps.plugin.viewport.data/-follow-puck-viewport-state-options/#%5Bcom.mapbox.maps.plugin.viewport.data%2FFollowPuckViewportStateOptions%2Fbearing%2F%23%2FPointingToDeclaration%2F%5D%2FProperties%2F1136490705) if you want to disable bearing and just track locatio

[2022-05-06 16:18] kmadsen opened #1341 "[Android Auto] Make the map sdk an `api` dependency"
Continuing a discussion from navigation when we were defining the gradle dependencies in the sdk.
https://github.com/mapbox/mapbox-navigation-android/pull/5773#discussion_r865960135

https://blog.gradle.org/introducing-compile-only-dependencies
https://developer.android.com/studio/build/dependencies

Maps sdk is definitely not optional for [androidauto-v*](https://github.com/mapbox/mapbox-maps-and

[2022-05-06 16:34] kmadsen commented on #1341
Maps also has a large developer base on older versions of maps. Keeping this open may continue to make sense 🤔 . It would be good to know the actual number of developers we are supporting with this

[2022-05-07 22:59] akirmse commented on #557
I'm not sure why this was archived.  It is still a significant shortcoming of the Mapbox API when compared with the Google API, and doesn't even match Mapbox's own iOS API.

Also, I didn't get an email notification when this was archived, which seems like a problem with the process.

[2022-05-09 09:06] ank27 commented on #1003
closing it. please feel free to reopen if the above solution doesn't work 🙂

[2022-05-09 09:06] #1003 closed

[2022-05-09 13:51] pengdev commented on #557
Hey @akirmse sorry that this ticket was automatically archived, could you take a look at [this example](https://github.com/mapbox/mapbox-maps-android/blob/2a1e6d51f3128ba5e167126a0f3629377d0a9f63/app/src/main/java/com/mapbox/maps/testapp/examples/linesandpolygons/PolygonHolesActivity.kt) and see if suites your need?

Concretely, you should be able to construct a Polygon geometry with `Polygon.from

[2022-05-10 01:45] akirmse commented on #557
Thank you, that did the trick!

[2022-05-10 01:45] #557 closed

[2022-05-10 19:24] akirmse commented on #400
Can this be unarchived?  I'd still like to know how to get dashed lines on Android.

[2022-05-11 03:53] Michae1Wan commented on #1170
So.... any idea to resolve the issue or a plan for a fix?

[2022-05-11 09:18] pengdev commented on #1312
@purdyk Thanks for the detailed report and analysis, there's indeed issue with the animator owner originated from the rotation gestures, I've prepared a fix at https://github.com/mapbox/mapbox-maps-android/pull/1345. Thanks for the contribution!

[2022-05-11 10:38] kiryldz commented on #1170
Can you share how are you setting camera?

[2022-05-11 12:08] #1312 closed

[2022-05-12 08:30] yunikkk commented on #400
@akirmse I've checked similar expression with `lineDasharray` - can see dashed lines, works fine on my side. Please provide more details on your setup

[2022-05-12 18:26] akirmse commented on #400
Here's what I'm doing:

[code]

When I do this, the polyline is still solid.  I also don't see any way to specify dashes on a PolylineAnnotationsOptions object.

It's still listed as "not yet supported" on Android here:
https://docs.mapbox.com/mapbox-gl-js/style-spec/layers/

@yunikkk Can you show the code you have that draws dashed lines correctly?

[2022-05-13 20:48] kmadsen commented on #186
Is this issue still happening or can it be closed?

[2022-05-14 04:19] SamuelBrucksch commented on #186
The lifetime issue is fixed by google and I think i did not see the other issue anymore.

[2022-05-16 07:12] Michae1Wan commented on #1170
val position = CameraOptions.Builder()
            .center(mapBoxMap.coordinateForPixel(center))
            .padding(
                EdgeInsets(
                    DEFAULT_MAP_PADDING,
                    DEFAULT_MAP_PADDING,
                    DEFAULT_MAP_PADDING,
                    DEFAULT_MAP_PADDING
                )
            )
mapBoxView.camera.easeTo(position.build())

[2022-05-16 08:17] PhanVanLinh opened #1356 "CircleLayer with radius expression interpolate disappear after zooming"
## Environment

- Android OS version: Android 12
- Devices affected: Pixel 4XL
- Maps SDK Version: 10.4.0

## Observed behavior and steps to reproduce
I have a `CircleLayer` and I want it's radius is fixed by meters so I set `circleRadius` with `exponential { literal(2.0)}`.
Here is my demo. The radius is fixed but sometime the circle is disappear then reappear again after zooming
[code]
## Expect

[2022-05-16 10:12] yunikkk commented on #400
Yes you can try the [PolylineAnnotationsActivity](https://github.com/mapbox/mapbox-maps-android/blob/main/app/src/main/java/com/mapbox/maps/testapp/examples/markersandcallouts/PolylineAnnotationActivity.kt#L40) in the test app,
[code]
works fine and results in dashed lines.

Right, so data-driven styling is not supported, but using constant values for lineDasharray is as @tobrun suggested

[2022-05-16 11:50] mhille3 commented on #1298
+help

[2022-05-16 18:40] maxmiranda commented on #453
Figured it out:  Location Indicator is given layer id of "location-indicator" so you can manipulate it as follows:        `try mapView.mapboxMap.style.moveLayer(withId: "location-indicator", to: .above("polygon-layer"))
`

[2022-05-17 07:58] kiryldz commented on #1170
@Michae1Wan can you actually share full reproducible code when IDLE is not triggered so that I could test it?

[2022-05-18 10:23] #186 closed

[2022-05-18 14:10] akirmse opened #1367 "Crash with "shader failed to compile" on Android 6"
## Environment

- Android OS version: 6.0
- Devices affected: Alcatel Pixi4 9003X
- Maps SDK Version: 10.4.0

I'm seeing crashes in the wild with this stack trace.  Sorry there's not more info.  It's only from this one device.

Fatal Exception: java.lang.Error: shader failed to compile
       at com.mapbox.maps.Map.render(Map.java)
       at com.mapbox.maps.NativeMapImpl.render(NativeMapImpl.kt:32